html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #dddcdc;
  color: black;
  position: relative;
}
.left_cover_image {
  position: absolute;
  width: 988px;
  height: 1000px;
  left: -400px;
}
.left_cover_image .one {
  position: absolute;
  width: 988px;
  height: 200px;
  top: 0px;
  right: 0px;
  background: url('/img/left_block_image.png') no-repeat top left;
}
.left_cover_image .two {
  position: absolute;
  width: 988px;
  height: 200px;
  top: 200px;
  right: 161px;
  background: url('/img/left_block_image.png') no-repeat top left;
}
.left_cover_image .three {
  position: absolute;
  width: 988px;
  height: 200px;
  top: 400px;
  right: 324px;
  background: url('/img/left_block_image.png') no-repeat top left;
}
.left_cover_image .four {
  position: absolute;
  width: 988px;
  height: 200px;
  top: 600px;
  right: 486px;
  background: url('/img/left_block_image.png') no-repeat top left;
}
.right_cover_image {
  position: absolute;
  width: 988px;
  height: 1000px;
  left: -400px;
  bottom: 0px;
}
.right_cover_image .one {
  position: absolute;
  width: 988px;
  height: 200px;
  bottom: 0px;
  left: 0px;
  background: url('/img/right_block_image.png') no-repeat top left;
}
.right_cover_image .two {
  position: absolute;
  width: 988px;
  height: 200px;
  bottom: 200px;
  left: 161px;
  background: url('/img/right_block_image.png') no-repeat top left;
}
.right_cover_image .three {
  position: absolute;
  width: 988px;
  height: 200px;
  bottom: 400px;
  left: 324px;
  background: url('/img/right_block_image.png') no-repeat top left;
}
.right_cover_image .four {
  position: absolute;
  width: 988px;
  height: 200px;
  bottom: 600px;
  left: 486px;
  background: url('/img/right_block_image.png') no-repeat top left;
}
#image_slider_container {
  position: absolute;
  top: 0px;
  left: 400px;
}
#image_slider_container .float_blank_cont {
  position: relative;
  overflow: hidden;
  height: 9px;
}
#image_slider_container .float_blank_cont .float_blank_inner_cont {
  position: relative;
  overflow: hidden;
  margin-top: -150px;
}
#image_slider_container .float_image_cont {
  position: relative;
  overflow: hidden;
}
#image_slider_container .float_image_cont .img_cont {
  position: absolute;
  top: 50%;
  left: 50%;
}
#image_slider_container .float_image_cont .img_cont .img_inner_wrap {
  border: 1px solid #808080;
}
#image_slider_container .float_image_cont .img_cont .img_inner_wrap img {
  border: 9px solid #dddcdc;
}
