html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.no_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Signika Negative', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
body {
  background-color: #dddcdc;
  color: #000;
  font-family: 'Signika Negative', sans-serif;
  font-size: 18px;
  font-weight: 300;
  position: relative;
  overflow: hidden;
}
#logo_cont {
  position: absolute;
  top: 113px;
  left: 102px;
  z-index: 200;
}
#logo_cont #mainName {
  width: 324px;
  height: 26px;
  background: url('/img/sample_logo.png') no-repeat top left;
  display: block;
}
#logo_cont #mainName img {
  display: none;
}
#main_nav {
  z-index: 250;
  position: absolute;
  top: 246px;
  left: 0px;
  font-family: 'Signika Negative', sans-serif;
  color: #000;
  font-size: 18px;
  height: 331px;
}
#main_nav ul {
  overflow: hidden;
  height: 250px;
}
#main_nav ul li {
  margin-left: 102px;
  font-weight: 400;
  position: relative;
  line-height: 36px;
}
#main_nav ul li a {
  color: #000;
  text-decoration: none;
}
#main_nav ul li span.extra {
  position: absolute;
  width: 400px;
  height: 7px;
  left: -420px;
  top: 15px;
  background-color: #000;
  display: none;
}
#main_nav ul li:hover,
#main_nav ul li.highlight {
  font-weight: 700;
}
#main_nav ul li:hover span.extra,
#main_nav ul li.highlight span.extra {
  display: block;
}
.left_cover_image {
  position: absolute;
  width: 988px;
  height: 1000px;
  left: -400px;
}
.left_cover_image .one {
  position: absolute;
  width: 988px;
  height: 200px;
  top: 0px;
  right: 0px;
  background: url('/img/left_block_image.png') no-repeat top left;
}
.left_cover_image .two {
  position: absolute;
  width: 988px;
  height: 200px;
  top: 196px;
  right: 158px;
  background: url('/img/left_block_image.png') no-repeat top left;
}
.left_cover_image .three {
  position: absolute;
  width: 988px;
  height: 200px;
  top: 393px;
  right: 324px;
  background: url('/img/left_block_image.png') no-repeat top left;
}
.left_cover_image .four {
  position: absolute;
  width: 988px;
  height: 200px;
  top: 594px;
  right: 486px;
  background: url('/img/left_block_image.png') no-repeat top left;
}
.right_cover_image {
  position: absolute;
  width: 988px;
  height: 1000px;
  left: -400px;
  bottom: 0px;
}
.right_cover_image .one {
  position: absolute;
  width: 988px;
  height: 200px;
  bottom: 0px;
  left: 0px;
  background: url('/img/right_block_image.png') no-repeat top left;
}
.right_cover_image .two {
  position: absolute;
  width: 988px;
  height: 200px;
  bottom: 196px;
  left: 158px;
  background: url('/img/right_block_image.png') no-repeat top left;
}
.right_cover_image .three {
  position: absolute;
  width: 988px;
  height: 200px;
  bottom: 400px;
  left: 324px;
  background: url('/img/right_block_image.png') no-repeat top left;
}
.right_cover_image .four {
  position: absolute;
  width: 988px;
  height: 200px;
  bottom: 600px;
  left: 486px;
  background: url('/img/right_block_image.png') no-repeat top left;
}
#image_slider_outer_container {
  position: absolute;
  top: 0px;
  left: 433px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#image_slider_outer_container #slider_info_container {
  position: absolute;
  height: 3000px;
  width: 3000px;
  top: 215px;
  left: 150px;
}
#image_slider_outer_container #slider_info_container .content {
  margin-left: 251px;
}
#image_slider_outer_container #slider_info_container .line,
#image_slider_outer_container #slider_info_container .top_info_line,
#image_slider_outer_container #slider_info_container .thick_line {
  background-color: #000;
  width: 3000px;
  height: 1px;
  z-index: 300;
}
#image_slider_outer_container #slider_info_container .thick_line {
  height: 7px;
}
#image_slider_outer_container #slider_info_container .top_info_line {
  position: absolute;
  top: 42px;
  left: 341px;
}
#image_slider_outer_container #slider_info_container .welcome_info_line {
  position: absolute;
  left: 99px;
  top: 304px;
  height: 500px;
  width: 300px;
  z-index: 300;
}
#image_slider_outer_container #slider_info_container .welcome_info_line .content h2 {
  margin-bottom: 14px;
  font-weight: 800;
}
#image_slider_outer_container #slider_info_container .scroll_up_right,
#image_slider_outer_container #slider_info_container .scroll_down_left {
  position: absolute;
  cursor: pointer;
  z-index: 300;
}
#image_slider_outer_container #slider_info_container .scroll_up_right {
  top: 9px;
  left: 364px;
}
#image_slider_outer_container #slider_info_container .scroll_down_left {
  left: 86px;
  top: 354px;
}
#image_slider_outer_container #images_loading_tab {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10000;
}
#image_slider_outer_container #images_loading_tab #progress_bar {
  position: absolute;
  top: 200px;
  left: -101px;
  height: 500px;
  width: 417px;
}
#image_slider_outer_container #images_loading_tab #progress_bar .percent_text {
  font-weight: 600;
  position: absolute;
  top: -2px;
  right: -54px;
}
#image_slider_outer_container #images_loading_tab #progress_bar .ui-progressbar-value {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: url('/img/progress_bg.png') bottom left no-repeat;
  margin-top: -100%;
  width: 100%;
  height: 0%;
}
#image_slider_outer_container #image_slider_container {
  position: absolute;
  top: 0px;
  left: 0px;
}
#image_slider_outer_container #image_slider_container .float_blank_cont {
  position: relative;
  overflow: hidden;
  height: 9px;
}
#image_slider_outer_container #image_slider_container .float_blank_cont .float_blank_inner_cont {
  position: relative;
  overflow: hidden;
  margin-top: -150px;
}
#image_slider_outer_container #image_slider_container .float_image_cont {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#image_slider_outer_container #image_slider_container .float_image_cont .img_cont {
  position: absolute;
  top: 50%;
  left: 50%;
}
#image_slider_outer_container #image_slider_container .float_image_cont .img_cont .img_inner_wrap {
  border: 1px solid #808080;
}
#image_slider_outer_container #image_slider_container .float_image_cont .img_cont .img_inner_wrap img {
  border: 9px solid #dddcdc;
}
