
/*html, body {
	height: 100%;
}*/

body {
	background: #333;
}


#header {
	z-index: @header;
	position: fixed;
	top: 0px;
	left: 0px;
	background: @top_white;
	height: @header_height;
	width: 100%;
	.menu_below_bar {
		height: 10px;
		width: 100%;
		background-color: @tab_on_bottom;
		position: absolute;
		left: 0px;
		top: @header_height;
	}
	.logo {
		.no_select;
		position: absolute;
		bottom: 15px;
		left: 58px;
		//left: 13px;
		img {
			width: 200px;
			height: 37px;
		}
		#mobile_navigation_open {
			cursor: pointer;
			display: none;
			width: 100px;
			height: 100px;
		}
		#beta_icon {
			font-family: Code-Pro-Bold-LC;
			font-weight: normal;
			font-style: normal;
			display: inline-block;
			vertical-align: top;
			position: absolute;
			color: #25C1DD;
			right: 0px;
			bottom: 27px;
		}
	}
	#top-navigation {
		.Code-Pro-LC;
		position: absolute;
		left: 316px;
		//left: 228px;
		bottom: 0px;
		ul.menu {
			width: 991px;
		}
		ul.menu > li {
			.no_select;
			.sub-nav {
				.sub_nav_generic();
				display: none;
				left: -43px;
				> ul {
					&, &.menu {
						> li {
							.sub_nav_li_reusable();
						}
					}
				}
				&.sell {
					ul li table td .circle { background-color: @tab3_on_color; }
				}
			}
			
			position: relative;
			width: @menu_width;
			height: @tab_height;
			display: inline-block;
			vertical-align: top;
			//cursor: pointer;
			> a, > span {
				height: @menu_height;
				display: block;
				position: relative;
				color: @top_gray;
				text-decoration: none;
				font-size: .8em;
				cursor: pointer;
				> span {
					.Code-Pro-LC;
					font-size: 1.04em;
					display: inline-block;
					margin-top: 14px;
					margin-left: 10px;
				}
			}
			&:hover {
				> a, >span { color: @top_white; }
			}
			.tab_bottom {
				position: absolute;
				bottom: 0px;
				left: 0px;
				height: 2px;
				background: @top_white;
				width: @menu_width;
			}
			.tab_bottom_triangle, .active_color { display: none; }
			.tab_left_cover {
				position: absolute;
				top: 0px;
				left: -@menu_height;
				background: url(/img/admin/main_menu/menu_angle_bg_sprite.png) top left no-repeat;
				background-position: 0px 0px;
				height: @menu_height;
				width: @menu_height + 2px;
			}
			.angle_white {
				position: absolute;
				width: 47px;
				height: 47px;
				left: -46px;
				top: -2px;
				background: url(/img/admin/main_menu/menu_angle_white.svg) top left no-repeat;
			}
			.last_tab {
				position: absolute;
				top: -2px;
				right: 0px;
				height: @menu_height + 4px;
				width: @menu_height + 4px;
				background: url(/img/admin/main_menu/menu_angle_white_end_tab.svg) no-repeat top left;
			}
/*			&.dashboard {
				background: @dashboard_off;
				&:hover {
					background: @dashboard_off_hover;
				}
				&.active, &.current {
					.tab_bottom {
						width: @menu_width;
						left: 0;
						.active_color { 
							width: @menu_width + 10px; 
							background-color: @tab1_on_color;
							.active_color_triangle {
								.bottom_right_triangle(4px, @tab1_on_color);
							}
						}
					}
				}
				> a span, > span span { margin-left: 24px; }
			}*/
			@theme_center_tab_width: 203px;
			&.theme_center {
				.sub-nav { left: 0px; }
				.vertical_gradient(@tab2_top, @tab2_bottom);
				//.tab_left_cover {
					//background-position: 0px 0px;
					//.top_right_triangle(@menu_height, @tab2_top);
				//}
				width: @theme_center_tab_width;
				.tab_bottom {
					width: @theme_center_tab_width;
				}
				&:hover {
					.vertical_gradient(@tab2_top_hover, @tab2_bottom_hover);
					.tab_left_cover { background-position: -50px 0px; }
					width: @theme_center_tab_width;
				}
				&.active, &.current {
					&, &:hover {
						width: @theme_center_tab_width;
					}
					.tab_bottom {
						width: @theme_center_tab_width;
						left: 0;
						.active_color { 
							width: @theme_center_tab_width + 10px; 
							background-color: @tab2_on_color;
							.active_color_triangle {
								.bottom_right_triangle(4px, @tab2_on_color);
							}
						}
					}
				}
				> a span, > span span { margin-left: 30px; }
			}
			&.e-commerce {
				.vertical_gradient(@tab3_top, @tab3_bottom);
				.tab_left_cover {
					background-position: 0px -46px;
					//.top_right_triangle(@menu_height, @tab3_top);
				}
				&:hover {
					.vertical_gradient(@tab3_top_hover, @tab3_bottom_hover);
					.tab_left_cover { background-position: -50px -46px; }
				}
				&.active, &.current {
					.tab_bottom .active_color {
						background-color: @tab3_on_color;
						.active_color_triangle {
							.bottom_right_triangle(4px, @tab3_on_color);
						}
					}
				}
				> a span, > span span { margin-left: 3px; }
			}
			&.galleries {
				.vertical_gradient(@tab4_top, @tab4_bottom);
				.tab_left_cover {
					background-position: 0px -93px;
					//.top_right_triangle(@menu_height, @tab4_top);
				}
				&:hover {
					.vertical_gradient(@tab4_top_hover, @tab4_bottom_hover);
					.tab_left_cover { background-position: -50px -93px; }
				}
				&.active, &.current {
					.tab_bottom .active_color {
						background-color: @tab4_on_color;
						.active_color_triangle {
							.bottom_right_triangle(4px, @tab4_on_color);
						}
					}
				}
				> a span, > span span { margin-left: 18px; }
			}
			&.photos {
				.vertical_gradient(@tab5_top, @tab5_bottom);
				.tab_left_cover {
					background-position: 0px -139px;
					//.top_right_triangle(@menu_height, @tab5_top);
				}
				&:hover {
					.vertical_gradient(@tab5_top_hover, @tab5_bottom_hover);
					.tab_left_cover { background-position: -50px -139px; }
				}
				&.active, &.current {
					.tab_bottom .active_color {
						background-color: @tab5_on_color;
						.active_color_triangle {
							.bottom_right_triangle(4px, @tab5_on_color);
						}
					}
				}
				> a span, > span span { margin-left: 23px; }
			}
			&.pages {
				.vertical_gradient(@tab6_top, @tab6_bottom);
				.tab_left_cover {
					background-position: 0px -183px;
					//.top_right_triangle(@menu_height, @tab6_top);
				}
				&:hover {
					.vertical_gradient(@tab6_top_hover, @tab6_bottom_hover);
					.tab_left_cover { background-position: -50px -183px; }
				}
				&.active, &.current {
					.tab_bottom .active_color {
						background-color: @tab6_on_color;
						.active_color_triangle {
							.bottom_right_triangle(4px, @tab6_on_color);
						}
					}
				}
				> a span, > span span { margin-left: 26px; }
			}
			&.active, &.current {
				> a, > span { color: @top_white; }
			}
			&.active {
				&, &:hover { 
					background: url(/img/admin/main_menu/main_menu_active_bg.jpg) top left repeat-x;
					background-size: 4px 55px;
					width: @menu_active_width;
					.tab_left_cover {
						position: absolute;
						top: 0px;
						width: @menu_height;
						left: -@menu_height;
						height: @tab_height;
						background: url(/img/admin/main_menu/main_menu_active_bg.jpg) top left repeat-x;
						border: 0px;
					}
					.angle_white {
						position: absolute;
						width: 2px;
						height: 100%;
						left: -@tab_height;
						top: 0px;
						background: @top_white;
					}
				}
				.tab_bottom {
					width: @menu_active_width + @menu_height;
					left: -@menu_height;
					height: 10px;
					bottom: -10px;
					background: url(/img/admin/main_menu/main_menu_active_bg.jpg) bottom left repeat-x;
					.tab_bottom_triangle, .active_color { display: block; }
					.tab_bottom_triangle {
						position: absolute;
						right: -10px;
						.bottom_right_triangle(10px, @tab_on_bottom);
					}
					.active_color {
						position: absolute;
						width: @menu_active_width + @menu_height + 10px;
						height: 4px;
						bottom: -4px;
						.active_color_triangle {
							position: absolute;
							right: -4px;
						}
					}
				}
			}
			&.open {
				.sub-nav { display: block; }
			}
		}
	}
}




#extra_buttons {
	position: absolute;
	height: @header_height - @tab_height;
	min-width: 25px;
	top: -(@header_height - @tab_height);
	right: 130px;
	margin-right: 10px;
	z-index: @header;
	> li {
		position: relative;
		.Code-Pro-LC;
		font-size: 13px;
		color: @on_white_color;
		float: right;
		cursor: pointer;
		margin-left: 47px;
		margin-top: 13px;
		vertical-align: middle;
		> a {
			color: @on_white_color;
			text-decoration: none;
			i {
				font-size: 22px;
				vertical-align: middle;
				margin-right: 10px;
			} 
			line-height: 22px;
			display: inline-block;
			#promo_credit_balance_notice {
				margin-left: 5px;
				> span { color: @money_color;  margin-left: 3px; margin-right: 3px; font-size: 14px; }
			}
		}
		> ul {
			position: absolute;
			margin-top: 8px;
			left: 0px;
			display: none;
			z-index: @header;
			> li {
				.sub_nav_li_reusable();
				.subnav_bg {
					.el_opacity(1, 100);
					height: @minor_menu_height;
					border: 1px solid @button_border;
				}
				
				//////////////////////////////
				// make it all white
				background: @top_white;
				.subnav_bg { 
					border: 0px;
				}
				border: 1px solid @black;
				td {
					&, p { color: @on_white_color; }
				}
				&.selected, &:hover {
					td {
						&, p { color: @on_white_color; }
						i { color: @tab2_on_color; }
					}
				}
				table {
					tr {
						td {
							&, p { color: @on_white_color; }
						}
					}
				}
				margin-bottom: -1px;
				
				
				
				height: @minor_menu_height;
				> table tbody tr td {
					> a div { height: @minor_menu_height; }
					> a div > p { height: @minor_menu_height; }
				}
			}
		}
		&.active, &.open, &:hover {
			a i { color: @tab2_on_color; }
		}
		&.open {
			> ul { display: block; }
		}
	}
}

#help_tour_button {
	right: 0px;
	top: -10px;
	.Code-Pro-LC;
	font-size: 20px;
	color: @top_gray;
	bottom: -30px;
	right: 6px;
	cursor: pointer;
	float: right;
}

#back_button {
	float: right;
	cursor: pointer;
	margin-top: 10px;
}