td.table_actions {
	min-width: 280px;
	.add_button {
		display: inline-block;
		vertical-align: top;
	}
}

.profile-outer-cont.domains {
	 .saving_profile {
		span {
			position:relative;
			bottom:12px;
		}

		display:inline-block;
		position:absolute;
		left:125px;
	 }

	 .error.flashMessage {
		margin:0px;
	 }
}

#domains-outer-cont {
	margin: 10px 5px;
	margin-bottom: 100px;

	.domain_result {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.domain_header {
		min-height:40px;
		.direct_result {
			margin:4px 15px;
			display:inline-block;

			h3 {
				font-size:28px;
			}
		}

		.direct_result.not_avail {
			span {
				color:@red;
			}
		}

		.direct_result.avail {
			span {
				color:@green;
			}
		}

		.search_box {
			display:inline-block;
			input {
				margin-right: 30px;
			}
		}
	}
}

.domain_contact {
	.fm_form {
		display:block;
	}
}

.domain_confirmation {
	.domain_confirm_details {
		margin: 40px 5px;

		.confirm_line {
			margin:5px 0;
			.label {
				font-weight:bold;
				display:inline-block;
				float:left;
				margin:0 7px 0 0;
				color:#fff;
			}

			.label:after {
				content: ':';
			}
		}
	}

	.input.continue {
		margin:5px 0;

		button {
			font-size:13px;
		}
	}
}



