








@domain_not_avail: #FFA8A8;

.loading {
	position:absolute;
	top:29%;
	left:47%;
}

.finish-outer-cont {
	margin-top: 20px;
	margin-right: 20px;
	position: relative;
}

#account-details {
	.sub_nav_generic();
	width:380px;
	.details {
		.Code-Pro-LC;
		font-size: 18px;
		margin-top: 30px;
		margin-bottom: 30px;
		.detail {
			margin: 20px 0;
			span.title {
				font-weight:bold;
				margin:0 10px 0 0;
			}
			span.pending_total {
				color: @warn_text_color;
			}
			.info {
				float: right;
			}
		}
	}
	.new_bill {
		display: none;
	}
	&.finish-shown {
		.current_bill {
			display: none;
		}
		.new_bill {
			display: block;
		}
	}
}	



#line_item_cont {
	
	.page_content_header {
		border-top: 1px solid transparent;
		p {
			margin-top: 35px;
			margin-left: 20px;
		}
		height: 90px;
	}
	

	.pay_fail_message {
		border:1px solid grey;
		padding:20px;
		margin:15px 1px 25px;
		width:33%;
		background-color:#460E00;
		color: #FFF4F1;
	}


	.line_item.line_not_added {
		.bar {
			background-color: #292929;
			.bar-right {
				span.toggle {
					color: #5E5E5E;
				}
				i {
					color: #5E5E5E;
				}
			}
			h5 {
				color: #5E5E5E;
			}
		}
	}
    
    .line_item {
        .bar {
            div.bar-right {
                span {
                    margin: 0;
                }
                i {
                    margin: 0 5px;
                }
                float:right;
                cursor:pointer;
				button.ui-button {
					min-width:80px;
					span {
						font-size:14px;
						padding:3px;
					}
				}
            }
          
            h5 {
                display:inline-block;
				margin:7px;
            }
            border:1px solid black;
            padding:7px 3px 7px 7px;
            background-color: @midtone_background;
        }
///////////////////

        .item_ad_area {
            
            width: 99%;
            height: 300px;
            background-color: lighten(@midtone_background, 20%);
            margin:0px auto;
            display:none;
        }
//////////////////////
    }
}

.promo_notify {
	margin:15px 10px;

	h3{
		font-weight:bold;
		font-size:20px;
		color: #fff;
	}

	p {
		margin: 18px 2px;
	}
	
	span.title {
		color: @slightly_darker_white_text;
	}

	.promo_credit_balance, .due_today {
		margin: 0 10px;
	}

	.actions {
		button {
			font-size:15px;
			font-weight:bold;
			color: #464646;
		}
	}
}

#finish_account_change {
	margin:20px 0;
	.summary {
		float:right;
	}

	.cc_info {
		float:left;
		margin:5px;
		width:280px;
	}

	.payment_item {
		.label {
			font-size:18px;
			font-weight:bold;
			color:@slightly_darker_white_text;
			margin:15px 10px 0 0;
		}
		.value {
			display:inline-block;
			float:right;
		}
		margin:5px 10px;
	}

	.due_today {
		a {
			color:@link_color;
		}
	}

	.pending_change{
		font-size:18px;
		font-weight:bold;
		color:@slightly_darker_white_text;
		margin:15px 0;
	}

	button.finalize_change {
		margin:20px;
		font-size:15px;
		float:right;
	}

	.change-cont {
		margin:0 auto;
		width:542px;
	}

	.change_summary {
		border:1px solid grey;
		min-height:150px;
		padding:10px;
		margin:0 auto;
		.item_to_add {
			height:32px;
			border-bottom:1px solid grey;
			div {
				display:inline-block;
				float:left;
			}

			div.item_name {
				border-right:1px solid grey;
				padding:5px 95px;
				width:170px;
			}

			div.item_cost {
				padding:5px 50px 5px 64px
			}
		}
	}
}

table.list {
	tbody {
		tr {
			td {
				.feature_on { display: none; }
				.feature_pending { display: block; }
				.cancel_pending { display: none; }
				.cost { display: block; }
				&.table_actions {
					width: 300px;
				}
			}
			&.active {
				td {
					background-color: @table_hover;
					color: @top_white;
					.feature_on { display: block; }
					.feature_pending { display: none; }
					.cancel_pending { display: none; }
					.cost { display: none; }
				}
			}
			&.line_not_added {
				td {
					.feature_pending { display: none; }
					.cost { display: block; }
				}
			}
			&.remove_pending {
				td {
					.cancel_pending { display: block; }
					.feature_pending { display: none; }
					.cost { display: none; }
				}
			}
		}
	}
}
