@import url("inc/footer.less");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.no_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  font-size: 17px;
}
h2 {
  font-size: 20px;
}
ul {
  padding: 0px;
}
.footer {
  margin-top: -4px;
  background-color: #c1c1c1;
}
.footer #footer_tagline {
  margin-top: 0px;
}
body {
  background-image: url('/theme_merged_final_images/f32_dynamic_background.jpg');
  background-repeat: no-repeat;
  background-color: #c1c1c1;
  background-position: 0% 0%;
  font-family: 'Actor', sans-serif;
}
body #logo_cont {
  position: relative;
}
body #mainName {
  position: absolute;
}
body .outer_nav .nav #main_nav {
  font-size: 12px;
  text-transform: lowercase;
  line-height: 24px;
  text-align: right;
  margin: 150px 26px 0 0;
  width: 190px;
  float: left;
  color: #959595;
}
body .outer_nav .nav #main_nav ul {
  list-style-type: none;
}
body .outer_nav .nav #main_nav ul li a {
  color: #959595;
  text-decoration: none;
}
body .outer_nav .nav #main_nav ul li a:hover {
  color: #ffffff;
}
.welcome_outer {
  width: 800px;
  min-height: 120px;
  background-color: #c1c1c1;
}
.welcome_outer .welcome_paragraph {
  font-family: 'Actor', sans-serif;
  position: relative;
  top: 30px;
  left: 50px;
  width: 700px;
  font-size: 13px;
}
.gallery_table_outer {
  background-color: #c1c1c1;
  padding-bottom: 70px;
}
.gallery_table_outer h1.gallery_title {
  position: relative;
  top: 20px;
  bottom: 20px;
  left: 30px;
  font-size: 14px;
}
.gallery_table_outer #gallery_list_table {
  position: relative;
  left: 50px;
  top: 40px;
  width: 700px;
}
.gallery_table_outer #gallery_list_table .galleries {
  width: 300px;
  margin-bottom: 30px;
  text-align: center;
}
.gallery_table_outer #gallery_list_table .galleries .gallery_image_a_link .gallery_image_actual_image {
  background-color: white;
  padding: 8px;
}
.gallery_table_outer #gallery_list_table .galleriesLink {
  position: relative;
  top: 4px;
  font-size: 14px;
  overflow: hidden;
  height: 28px;
}
.gallery_table_outer #gallery_list_table .galleriesLink a {
  text-decoration: none;
  color: black;
}
.gallery_table_outer #gallery_list_table .galleriesLink a:hover {
  color: white;
}
#shipping_address_container {
  outline: none !important;
}
#shipping_address_container h1 {
  padding-bottom: 20px;
}
#shipping_address_container .country_select {
  padding: 3px;
  margin-bottom: 4px;
}
#shipping_address_container .state_select {
  padding: 3px;
  margin-bottom: 4px;
}
.no_label input {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
}
.gallery {
  display: inline-block;
  min-height: 505px;
  background-color: #c1c1c1;
}
.gallery img {
  position: relative;
}
.outer_cart {
  background-color: #c1c1c1;
  position: relative;
  top: 0px;
  padding-bottom: 40px;
}
.outer_cart .view_page_paragraph {
  margin-top: 30px;
  font-family: 'Actor', sans-serif;
  float: left;
  font-size: 13px;
  width: 500px;
  margin-left: 40px;
}
.outer_cart .view_page_paragraph.blue h1 {
  color: #000099;
}
.outer_cart .view_page_paragraph.pink h1 {
  color: #ff0099;
}
.outer_cart .view_page_paragraph.yellow h1 {
  color: #ffff00;
}
.outer_cart .view_page_paragraph.red h1 {
  color: #cc0000;
}
.outer_cart .view_page_paragraph ul {
  list-style: none;
}
.outer_cart .view_page_paragraph ul li {
  margin-top: 15px;
}
.outer_cart .inner_cart {
  margin-left: 40px;
  float: left;
  width: 210px;
  margin-top: 15px;
}
.outer_cart .inner_cart.blue button:hover {
  background-color: #000099;
  color: #ffffff;
}
.outer_cart .inner_cart.pink button:hover {
  background-color: #ff0099;
  color: #ffffff;
}
.outer_cart .inner_cart.yellow button:hover {
  background-color: #ffff00;
  color: #ffffff;
}
.outer_cart .inner_cart.red button:hover {
  background-color: #cc0000;
  color: #ffffff;
}
.outer_cart .inner_cart ul {
  list-style: none;
}
.outer_cart .inner_cart #add_to_cart_buttons_cont h2 {
  margin-top: 20px;
  margin-bottom: 6px;
}
.outer_cart .inner_cart .submit_inner {
  padding: 8px;
  cursor: pointer;
}
.outer_cart .inner_cart select {
  padding: 3px;
  margin-bottom: 4px;
}
.prev_next {
  position: absolute;
  top: 20px;
  left: -150px;
  font-size: 12px;
}
.prev_next ul {
  list-style: none;
}
.prev_next ul li {
  display: inline-block;
  margin-right: 2px;
  color: #cccccc;
}
.prev_next ul li.blue  a:hover {
  color: #000099;
}
.prev_next ul li.pink  a:hover {
  color: #ff0099;
}
.prev_next ul li.yellow a:hover {
  color: #ffff00;
}
.prev_next ul li.red a:hover {
  color: #cc0000;
}
.prev_next ul li a {
  color: #cccccc;
  text-decoration: none;
}
.content {
  position: absolute;
  left: 215px;
  top: 138px;
  width: 800px;
  padding-top: 0px;
}
.content .inner_content {
  position: relative;
  left: 40px;
  top: 40px;
  width: 700px;
  min-height: 500px;
}
.content .inner_content.blue button:hover {
  background-color: #000099;
  color: #ffffff;
}
.content .inner_content.pink button:hover {
  background-color: #ff0099;
  color: #ffffff;
}
.content .inner_content.yellow button:hover {
  background-color: #ffff00;
  color: #ffffff;
}
.content .inner_content.red button:hover {
  background-color: #cc0000;
  color: #ffffff;
}
.content .inner_content #cart_table {
  width: 100%;
}
.content .inner_content #cart_table thead {
  background-color: #ffffff;
  border: 1px solid #000000;
  font-weight: 600;
}
.content .inner_content #cart_table thead .total {
  border-right: 1px solid #000000;
}
.content .inner_content #cart_table tbody {
  background-color: #999999;
  border: 1px solid #000000;
}
.content .inner_content #cart_table tbody tr {
  border-bottom: 1px solid #000000;
}
.content .inner_content #cart_table tbody tr td {
  border-right: 1px solid #000000;
  text-align: center;
  vertical-align: middle;
}
.content .inner_content #cart_table tbody tr td img {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}
.content .inner_content #cart_table tfoot {
  line-height: 25px;
}
.content .inner_content #cart_table tfoot td {
  padding-top: 10px;
}
.content .inner_content #cart_table tfoot button {
  padding: 8px;
  cursor: pointer;
}
.inner_content button {
  padding: 6px;
  cursor: pointer;
}
.inner_content.blue .submit input:hover {
  background-color: #000099;
  color: #ffffff;
}
.inner_content.pink .submit input:hover {
  background-color: #ff0099;
  color: #ffffff;
}
.inner_content.yellow .submit input:hover {
  background-color: #ffff00;
  color: #ffffff;
}
.inner_content.red .submit input:hover {
  background-color: #cc0000;
  color: #ffffff;
}
.inner_content.blue .no_label input:hover {
  background-color: #000099;
  color: #ffffff;
}
.inner_content.pink .no_label input:hover {
  background-color: #ff0099;
  color: #ffffff;
}
.inner_content.yellow .no_label input:hover {
  background-color: #ffff00;
  color: #ffffff;
}
.inner_content.red .no_label input:hover {
  background-color: #cc0000;
  color: #ffffff;
}
.inner_content.blue .pay_now input:hover {
  background-color: #000099;
  color: #ffffff;
}
.inner_content.pink .pay_now input:hover {
  background-color: #ff0099;
  color: #ffffff;
}
.inner_content.yellow .pay_now input:hover {
  background-color: #ffff00;
  color: #ffffff;
}
.inner_content.red .pay_now input:hover {
  background-color: #cc0000;
  color: #ffffff;
}
.inner_content.blue h1 {
  color: #000099;
}
.inner_content.pink h1 {
  color: #ff0099;
}
.inner_content.yellow h1 {
  color: #ffff00;
}
.inner_content.red h1 {
  color: #cc0000;
}
.inner_content #login_container {
  padding-top: 20px;
}
.inner_content #login_container label {
  display: inline-block;
  vertical-align: top;
  width: 75px;
  text-align: right;
  margin-right: 10px;
}
.inner_content #login_container .input {
  margin-bottom: 10px;
}
.inner_content #login_container .submit {
  padding-left: 90px;
}
.inner_content #login_container .submit input {
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}
.inner_content #login_container .success {
  margin-bottom: 15px;
}
.check_out h1 {
  margin-bottom: 20px;
  padding-bottom: 3px;
  border-bottom: 1px solid #000000;
  margin-top: 20px;
}
.check_out hr {
  display: none;
}
.check_out .pay_now {
  float: right;
}
.check_out .pay_now input {
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 7px;
  padding-top: 7px;
  cursor: pointer;
}
.check_out #create_account {
  outline: none !important;
}
.check_out #create_account label {
  width: 101px;
}
.check_out #final_payment_info {
  outline: none !important;
  margin-top: 0px;
}
.check_out #final_payment_info .payment_edit select {
  padding: 3px;
  margin-bottom: 4px;
}
.check_out #final_payment_info .payment_edit label {
  width: 124px;
}
.check_out #shipping_address_summary {
  outline: none !important;
}
.check_out #shipping_address_summary h1 a {
  font-size: 12px;
  color: #000000;
  text-decoration: none;
}
.check_out #shipping_address_summary h1 a:hover {
  color: white;
}
.check_out #cart_table .last {
  border-right: 1px solid #000000;
}
