@import url("inc/footer.less");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.no_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  font-size: 25px;
  border-bottom: 1px solid #000000;
  padding-bottom: 7px;
}
h2 {
  font-size: 20px;
}
ul {
  padding: 0px;
}
.footer {
  margin-top: -4px;
  background-color: #c1c1c1;
}
.footer #footer_tagline {
  margin-top: 45px;
}
body {
  background-image: url('/theme_merged_final_images/f32_dynamic_background.jpg');
  background-repeat: no-repeat;
  background-color: #c1c1c1;
  background-position: 0% 0%;
  font-family: 'Actor', sans-serif;
}
body #logo_cont {
  position: relative;
}
body #mainName {
  position: absolute;
}
body .outer_nav .nav.blue #main_nav li a:hover {
  color: #000099;
}
body .outer_nav .nav.pink #main_nav li a:hover {
  color: #ff0099;
}
body .outer_nav .nav.yellow #main_nav li a:hover {
  color: #ffff00;
}
body .outer_nav .nav.red #main_nav li a:hover {
  color: #cc3333;
}
body .outer_nav .nav #main_nav {
  font-size: 12px;
  text-transform: lowercase;
  line-height: 24px;
  text-align: right;
  margin: 150px 26px 0 0;
  width: 190px;
  float: left;
  color: #959595;
}
body .outer_nav .nav #main_nav ul {
  list-style-type: none;
}
body .outer_nav .nav #main_nav ul li a {
  color: #959595;
  text-decoration: none;
}
.welcome_outer {
  width: 800px;
  min-height: 120px;
  background-color: #c1c1c1;
}
.welcome_outer .welcome_paragraph {
  font-family: 'Actor', sans-serif;
  position: relative;
  top: 30px;
  left: 50px;
  width: 700px;
  font-size: 13px;
}
.gallery_table_outer {
  padding-bottom: 70px;
}
.gallery_table_outer.blue #gallery_list_table .galleriesLink a:hover {
  color: #000099;
}
.gallery_table_outer.pink #gallery_list_table .galleriesLink a:hover {
  color: #ff0099;
}
.gallery_table_outer.yellow #gallery_list_table .galleriesLink a:hover {
  color: #ffff00;
}
.gallery_table_outer.red #gallery_list_table .galleriesLink a:hover {
  color: #cc3333;
}
.gallery_table_outer h1.gallery_title {
  position: relative;
  top: 20px;
  bottom: 20px;
  left: 30px;
}
.gallery_table_outer #gallery_list_table {
  position: relative;
  left: 50px;
  top: 40px;
  width: 700px;
}
.gallery_table_outer #gallery_list_table .galleries {
  width: 300px;
  margin-bottom: 30px;
  text-align: center;
}
.gallery_table_outer #gallery_list_table .galleries .gallery_image_outer_cont .gallery_image_a_link .gallery_image_actual_image {
  background-color: white;
  padding: 8px;
}
.gallery_table_outer #gallery_list_table .galleriesLink {
  position: relative;
  top: 4px;
  font-size: 14px;
  overflow: hidden;
  height: 28px;
}
.gallery_table_outer #gallery_list_table .galleriesLink a {
  text-decoration: none;
  color: black;
}
.gallery_table_outer #gallery_list_table .galleriesLink a:hover {
  color: white;
}
#shipping_address_container {
  outline: none !important;
}
#shipping_address_container h1 {
  margin-bottom: 20px;
}
#shipping_address_container .country_select {
  padding: 3px;
  margin-bottom: 4px;
}
#shipping_address_container .state_select {
  padding: 3px;
  margin-bottom: 4px;
}
.no_label input {
  display: inline-block;
  cursor: pointer;
  padding: 10px 40px;
  border: 1px solid #b4b4b4;
  color: #000000;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.32);
}
.no_label input:hover {
  border: 1px solid #ffffff;
}
.gallery_table_outer {
  width: 700px;
}
.gallery_table_outer.blue #gallery_list_table .galleriesLink a:hover {
  color: #000099;
}
.gallery_table_outer.pink #gallery_list_table .galleriesLink a:hover {
  color: #ff0099;
}
.gallery_table_outer.yellow #gallery_list_table .galleriesLink a:hover {
  color: #ffff00;
}
.gallery_table_outer.red #gallery_list_table .galleriesLink a:hover {
  color: #cc3333;
}
.gallery_table_outer.blue  h1.gallery_title {
  color: #000099;
}
.gallery_table_outer.pink  h1.gallery_title {
  color: #ff0099;
}
.gallery_table_outer.yellow  h1.gallery_title {
  color: #ffff00;
}
.gallery_table_outer.red  h1.gallery_title {
  color: #cc3333;
}
.gallery_table_outer.blue  h1.gallery_header {
  color: #000099;
}
.gallery_table_outer.pink  h1.gallery_header {
  color: #ff0099;
}
.gallery_table_outer.yellow  h1.gallery_header {
  color: #ffff00;
}
.gallery_table_outer.red  h1.gallery_header {
  color: #cc3333;
}
.gallery_table_outer h1.gallery_header {
  position: relative;
  top: 20px;
  bottom: 20px;
  left: 30px;
}
.gallery_table_inner {
  min-height: 500px;
}
.gallery_table_inner a {
  text-decoration: none;
  color: black;
}
.gallery_table_inner a:hover {
  color: #ffffff;
}
.gallery_table_inner .gallery_links {
  position: relative;
  margin-top: 4px;
  display: inline;
}
.gallery_table_inner .gallery_image_actual_image {
  background-color: #ffffff;
  padding: 8px;
}
.content_view {
  position: absolute;
  left: 215px;
  top: 138px;
  width: 900px;
  padding-top: 0px;
}
.gallery img {
  position: relative;
}
.outer_cart {
  background-color: #3d3d3d;
  position: relative;
  top: 25px;
  display: inline-block;
  padding-bottom: 40px;
}
.outer_cart .view_page_paragraph {
  color: #ffffff;
  margin-top: 30px;
  font-family: 'Actor', sans-serif;
  float: left;
  font-size: 17px;
  width: 520px;
  margin-left: 40px;
}
.outer_cart .view_page_paragraph.blue h1 {
  color: #000099;
}
.outer_cart .view_page_paragraph.pink h1 {
  color: #ff0099;
}
.outer_cart .view_page_paragraph.yellow h1 {
  color: #ffff00;
}
.outer_cart .view_page_paragraph.red h1 {
  color: #cc3333;
}
.outer_cart .view_page_paragraph ul {
  list-style: none;
}
.outer_cart .view_page_paragraph ul li {
  margin-top: 15px;
}
.outer_cart .inner_cart {
  color: #ffffff;
  margin-left: 40px;
  float: left;
  width: 200px;
  margin-top: 15px;
  margin-right: 50px;
}
.outer_cart .inner_cart button:hover {
  border: 1px solid #ffffff;
}
.outer_cart .inner_cart ul {
  list-style: none;
}
.outer_cart .inner_cart #add_to_cart_buttons_cont h2 {
  margin-top: 20px;
  margin-bottom: 15px;
}
.outer_cart .inner_cart .submit_inner {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #b4b4b4;
  color: #000000;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.32);
}
.outer_cart .inner_cart select {
  padding: 3px;
  margin-bottom: 8px;
}
.prev_next {
  position: absolute;
  top: 20px;
  left: -150px;
  font-size: 12px;
}
.prev_next ul {
  list-style: none;
}
.prev_next ul li {
  display: inline-block;
  margin-right: 2px;
  color: #cccccc;
}
.prev_next ul li.blue  a:hover {
  color: #000099;
}
.prev_next ul li.pink  a:hover {
  color: #ff0099;
}
.prev_next ul li.yellow a:hover {
  color: #ffff00;
}
.prev_next ul li.red a:hover {
  color: #cc3333;
}
.prev_next ul li a {
  color: #cccccc;
  text-decoration: none;
}
.content {
  position: absolute;
  left: 215px;
  top: 138px;
  width: 800px;
  padding-top: 0px;
  background-color: #c1c1c1;
}
.content .inner_content {
  position: relative;
  left: 45px;
  top: 60px;
  width: 700px;
  min-height: 510px;
}
.content .inner_content #cart_table {
  width: 100%;
  margin-top: 20px;
}
.content .inner_content #cart_table thead {
  background-color: #878585;
  color: #ffffff;
  border: 1px solid #000000;
  font-weight: 600;
}
.content .inner_content #cart_table thead .total {
  border-right: 1px solid #000000;
}
.content .inner_content #cart_table tbody {
  background-color: #3b3b3b;
  border: 1px solid #000000;
}
.content .inner_content #cart_table tbody tr {
  border-bottom: 1px solid #000000;
}
.content .inner_content #cart_table tbody tr td {
  border-right: 1px solid #000000;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
.content .inner_content #cart_table tbody tr td img {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}
.content .inner_content #cart_table tfoot {
  line-height: 25px;
}
.content .inner_content #cart_table tfoot td {
  padding-top: 10px;
}
.content .inner_content #cart_table tfoot button {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #b4b4b4;
  color: #000000;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.32);
}
.content .inner_content #cart_table tfoot button:hover {
  border: 1px solid #ffffff;
}
.inner_content button {
  margin-left: 90px;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #b4b4b4;
  color: #000000;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.32);
}
.inner_content button:hover {
  border: 1px solid #ffffff;
}
.inner_content.blue h1 {
  color: #000099;
}
.inner_content.pink h1 {
  color: #ff0099;
}
.inner_content.yellow h1 {
  color: #ffff00;
}
.inner_content.red h1 {
  color: #cc3333;
}
.inner_content #login_container {
  padding-top: 20px;
}
.inner_content #login_container label {
  display: inline-block;
  vertical-align: top;
  width: 75px;
  text-align: right;
  margin-right: 10px;
}
.inner_content #login_container .input {
  margin-bottom: 10px;
}
.inner_content #login_container .submit {
  padding-left: 90px;
}
.inner_content #login_container .submit input {
  display: inline-block;
  cursor: pointer;
  padding: 10px 40px;
  border: 1px solid #b4b4b4;
  color: #000000;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.32);
}
.inner_content #login_container .submit input:hover {
  border: 1px solid #ffffff;
}
.inner_content #login_container .success {
  margin-bottom: 15px;
}
.inner_content.blue .check_out #shipping_address_summary h1 a:hover {
  color: #000099;
}
.inner_content.pink .check_out h1 a:hover {
  color: #ff0099;
}
.inner_content.yellow .check_out h1 a:hover {
  color: #ffff00;
}
.inner_content.red .check_out #shipping_address_summary h1 a:hover {
  color: #cc3333;
}
.inner_content .check_out form {
  margin-bottom: 55px;
}
.inner_content .check_out h1 {
  margin-bottom: 20px;
  padding-bottom: 7px;
  border-bottom: 1px solid #000000;
  margin-top: 20px;
}
.inner_content .check_out hr {
  display: none;
}
.inner_content .check_out .pay_now {
  float: right;
}
.inner_content .check_out .pay_now input {
  display: inline-block;
  cursor: pointer;
  padding: 10px 60px;
  border: 1px solid #b4b4b4;
  color: #000000;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.32);
}
.inner_content .check_out .pay_now input:hover {
  border: 1px solid #ffffff;
}
.inner_content .check_out #create_account {
  outline: none !important;
}
.inner_content .check_out #create_account label {
  width: 101px;
}
.inner_content .check_out #final_payment_info {
  outline: none !important;
  margin-top: 0px;
}
.inner_content .check_out #final_payment_info .payment_edit select {
  padding: 3px;
  margin-bottom: 4px;
}
.inner_content .check_out #final_payment_info .payment_edit label {
  width: 124px;
}
.inner_content .check_out #shipping_address_summary {
  outline: none !important;
}
.inner_content .check_out #shipping_address_summary h1 a {
  font-size: 12px;
  color: #000000;
  text-decoration: none;
}
.inner_content .check_out #cart_table .last {
  border-right: 1px solid #000000;
}
