@import url("inc/footer.less");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.no_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  font-size: 17px;
}
h2 {
  font-size: 20px;
}
ul {
  padding: 0px;
}
body {
  background-image: url(http://www.bobdentphotography.com/images/graphics/bkg.jpg);
  background-repeat: no-repeat;
  background-color: #c1c1c1;
  background-position: 0% 0%;
  font-family: 'Actor', sans-serif;
}
body #logo_cont {
  position: relative;
}
body #mainName {
  position: absolute;
}
body .outer_nav .nav #main_nav {
  font-size: 12px;
  text-transform: lowercase;
  line-height: 24px;
  text-align: right;
  margin: 150px 26px 0 0;
  width: 190px;
  float: left;
  color: #959595;
}
body .outer_nav .nav #main_nav ul {
  list-style-type: none;
}
body .outer_nav .nav #main_nav ul li a {
  color: #959595;
  text-decoration: none;
}
body .outer_nav .nav #main_nav ul li a:hover {
  color: #ffffff;
}
.welcome_paragraph {
  font-family: 'Actor', sans-serif;
  position: relative;
  top: 20px;
  left: 10px;
  width: 700px;
  font-size: 13px;
}
h1.gallery_title {
  position: relative;
  top: 20px;
  bottom: 20px;
  left: 30px;
  font-size: 14px;
}
#gallery_list_table {
  position: relative;
  left: 50px;
  top: 40px;
  width: 700px;
}
#gallery_list_table .galleries {
  margin-bottom: 30px;
  text-align: center;
}
#gallery_list_table .galleries .gallery_image_a_link .gallery_image_actual_image {
  background-color: white;
  padding: 8px;
}
#gallery_list_table .galleriesLink {
  position: relative;
  top: 4px;
  font-size: 14px;
  overflow: hidden;
  height: 28px;
}
#gallery_list_table .galleriesLink a {
  text-decoration: none;
  color: black;
}
#gallery_list_table .galleriesLink a:hover {
  color: white;
}
.gallery img {
  position: relative;
  width: 800px;
  height: 540px;
}
.extra {
  position: relative;
  top: 0px;
  width: 802px;
}
.extra .view_page_paragraph {
  margin-top: 20px;
  font-family: 'Actor', sans-serif;
  float: left;
  font-size: 13px;
  width: 552px;
  margin-left: 20px;
}
.extra .view_page_paragraph ul {
  list-style: none;
}
.extra .cart_bottom {
  margin-left: 20px;
  float: left;
  width: 210px;
  margin-top: 20px;
}
.extra .cart_bottom ul {
  list-style: none;
}
.prev_next {
  position: absolute;
  bottom: 866px;
  right: 0px;
  font-size: 12px;
}
.prev_next ul {
  list-style: none;
}
.prev_next ul li {
  display: inline-block;
  margin-right: 2px;
  color: #cccccc;
}
.prev_next ul li a {
  color: #cccccc;
  text-decoration: none;
}
.prev_next ul li a:hover {
  color: #ffffff;
}
.content {
  position: absolute;
  left: 218px;
  top: 173px;
  width: 800px;
  padding-top: 0px;
}
.content .inner_content {
  position: relative;
  left: 40px;
  top: 40px;
  width: 700px;
  min-height: 440px;
}
.content .inner_content #cart_table {
  width: 100%;
}
.content .inner_content #cart_table thead {
  background-color: white;
  border: 1px solid black;
  font-weight: 600;
}
.content .inner_content #cart_table thead .total {
  border-right: 1px solid black;
}
.content .inner_content #cart_table tbody {
  background-color: gray;
  border: 1px solid black;
}
.content .inner_content #cart_table tbody tr {
  border-bottom: 1px solid black;
}
.content .inner_content #cart_table tbody tr td {
  border-right: 1px solid black;
  text-align: center;
  vertical-align: middle;
}
.content .inner_content #cart_table tbody tr td img {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}
.content .inner_content #cart_table tfoot {
  line-height: 25px;
}
.content .inner_content #cart_table tfoot td {
  padding-top: 10px;
}
