#configure_page_cont .para_image_cont .image_cont {
  margin: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
#configure_page_cont .para_image_cont .left {
  margin-right: 32px;
}
#configure_page_cont .para_image_cont .right {
  margin-left: 32px;
}
#configure_page_cont .para_header_image_cont .image_size_text {
  padding: 5px;
  font-size: 12px;
  text-align: center;
}
#configure_page_cont .para_header_image_cont .image_upload {
  text-align: center;
  margin-bottom: 4px;
}
#configure_page_cont .avail_page_elements_cont .para_header_image_icon {
  background: url('/img/admin/icons/page_element_icons/para_header_image_icon.jpg');
}
#configure_page_cont .avail_page_elements_cont .para_header_image_icon:hover {
  background: url('/img/admin/icons/page_element_icons/para_header_image_icon_hover.jpg');
}
#configure_page_cont .avail_page_elements_cont .image_icon {
  background: url('/img/admin/icons/page_element_icons/image_icon.jpg');
}
#configure_page_cont .avail_page_elements_cont .image_icon:hover {
  background: url('/img/admin/icons/page_element_icons/image_icon_hover.jpg');
}
#configure_page_cont .image_element_image_cont .page_element_top_section {
  text-align: center;
}
#configure_page_cont .image_element_image_cont .page_element_top_section .image_element_image_upload {
  display: inline-block;
}
.richard_notes {
  z-index: 10000000000000000000;
  display: none;
  background-color: #222;
  position: fixed;
  border: 3px solid #454545;
  bottom: 50px;
  left: 50px;
  padding: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  max-width: 800px;
}
.richard_notes ol {
  margin-left: 30px;
  line-height: 25px;
}
.richard_notes ol li {
  list-style: initial !important;
  list-style-type: decimal !important;
}
.richard_notes_toggle {
  z-index: 10000000000000000000;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  background-color: #454545;
  outline: 2px solid #303030;
  border: 1px solid transparent;
  cursor: pointer;
}
.richard_notes_toggle span {
  display: inline-block;
  margin-top: 6px;
  margin-left: 5px;
}
.defaultText {
  width: 300px;
}
.defaultTextActive {
  color: #a1a1a1;
  font-style: italic;
}
.cursor-progress {
  cursor: progress !important;
}
.drop-shadow {
  -webkit-box-shadow: 0px 0px 7px #333333;
  -moz-box-shadow: 0px 0px 7px #333333;
  box-shadow: 0px 0px 7px #333333;
}
.rounded-corners {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.rounded-corners-tiny {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.no-bottom-rounded {
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.clear {
  clear: both;
}
.inline {
  display: inline;
}
.right {
  float: right;
}
.left {
  float: left;
}
.med_height {
  height: 582px;
}
.clear {
  clear: both;
}
.grey_hr {
  height: 4px;
  background-color: ;
  color: ;
  width: 100%;
  clear: both;
  margin: 0px;
  margin-bottom: 3px;
  margin-top: 3px;
}
.abs_image_br,
.abs_image_tr,
.abs_image_tl {
  position: absolute;
  right: -15px;
  bottom: -15px;
  cursor: pointer;
}
.abs_image_tr {
  right: -15px;
  top: -15px;
  bottom: inherit;
}
.abs_image_tl {
  left: -15px;
  top: -15px;
  bottom: inherit;
  right: inherit;
}
.fm_summary_cont {
  width: 60%;
  margin: 10px 0 5px;
}
.fm_summary_cont h3 {
  margin: 15px;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 14px;
  -moz-border-radius: 0;
}
.fm_summary_cont .container {
  background-color: #222222;
  min-height: 100px;
}
.fm_summary_cont.small {
  width: 40%;
}
.fm_summary_cont.large {
  width: 80%;
}
.profile-outer-cont h3 {
  font-weight: bold;
  margin: 10px 0;
  color: #fff;
}
.profile-outer-cont .payment {
  margin: 35px 0 0 0;
}
.profile-outer-cont #payment_details_client {
  margin: 20px 0px;
  float: left;
  display: inline-block;
}
.profile-outer-cont input.ng-dirty.ng-invalid {
  border: 2px solid red;
}
.profile-outer-cont .input.exp_date select {
  width: 103px;
}
.profile-outer-cont .continue.input {
  margin: 20px 0 0 0;
  font-size: 15px;
  font-weight: bold;
}
.profile-outer-cont .continue.input input {
  width: 100px;
}
.profile-outer-cont .profile_info {
  display: inline-block;
  float: left;
  min-height: 200px;
  width: 150px;
  border: 1px solid ;
  background-color: ;
  margin: 15px 35px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 3px #000000;
  -moz-box-shadow: 0px 0px 3px #000000;
  box-shadow: 0px 0px 3px #000000;
  color: black;
}
.profile-outer-cont .profile_info p {
  margin: 10px 0;
}
#print_type_pricing_cont table.list {
  width: 760px;
}
#print_type_pricing_cont table.list td {
  padding: 7px;
}
#print_type_pricing_cont table.list input {
  width: 50px;
}
#print_type_pricing_cont table.list .price_width {
  width: 80px;
}
.basic_settings .basic_setting_cont label {
  min-width: 180px;
}
#fulfill_order_container #cart_table,
#fulfill_order_container #cart_table th,
#fulfill_order_container #cart_table td {
  border: 1px solid black;
  padding: 20px;
  vertical-align: middle;
}
#payable_orders_table {
  width: 100%;
}
#payable_orders_table,
#payable_orders_table th,
#payable_orders_table td {
  border: 1px solid black;
  padding: 20px;
  vertical-align: middle;
}
#payable_orders_table tfoot tr td {
  text-align: right;
}
