@import url("site_page_elements.css");
.rounded-corners-small {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.flashMessage {
  padding: 10px 20px 10px;
  margin: 10px 0;
  display: inline-block;
}
.flashMessage.error {
  border: 1px solid grey;
  background-color: #FFDFDD;
  color: #6D0600;
}
.flashMessage.error span {
  margin: 0 0 0 10px;
}
.flashMessage.success {
  border: 1px solid grey;
  background-color: #ECFFDD;
  color: #1E4500;
}
.flashMessage.success span {
  margin: 0 0 0 10px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.no_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  font-family: 'Lucida Grande', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans Regular', Verdana, sans-serif;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
span.default,
label,
table,
div {
  color: #D9D9D9;
  font-family: 'Lucida Grande', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans Regular', Verdana, sans-serif;
}
input,
textarea,
select,
option {
  color: #333;
}
option[disabled="disabled"],
input[disabled="disabled"] {
  color: #B3B3B3;
  background-color: #afafaf;
}
label {
  font-weight: bold;
  margin: 0;
  padding: 0 0 6px 0;
  font-family: 'Lucida Grande', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans Regular', Verdana, sans-serif;
  margin-right: 4px;
}
.table {
  display: table;
  width: 100%;
  height: 100%;
}
.tr {
  display: table-row;
}
.td {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
.outline {
  outline: 1px solid black;
  min-height: 100px;
  min-width: 100px;
}
.clear {
  clear: both;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
}
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333em;
}
.btn [class^="icon-"],
.btn [class*=" icon-"],
.nav [class^="icon-"],
.nav [class*=" icon-"] {
  display: inline;
}
.btn [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large,
.nav [class^="icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  line-height: .9em;
}
.btn [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin,
.nav [class^="icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}
.nav-tabs [class^="icon-"],
.nav-tabs [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"],
.nav-tabs [class*=" icon-"].icon-large,
.nav-pills [class^="icon-"],
.nav-pills [class^="icon-"].icon-large,
.nav-pills [class*=" icon-"],
.nav-pills [class*=" icon-"].icon-large {
  line-height: .9em;
}
li [class^="icon-"],
li [class*=" icon-"],
.nav li [class^="icon-"],
.nav li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li [class^="icon-"].icon-large,
li [class*=" icon-"].icon-large,
.nav li [class^="icon-"].icon-large,
.nav li [class*=" icon-"].icon-large {
  width: 1.5625em;
}
ul.icons {
  list-style-type: none;
  text-indent: -0.75em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .75em;
}
.icon-muted {
  color: #eee;
}
.icon-border {
  border: solid 1px #eee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.icon-2x {
  font-size: 2em;
}
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.icon-3x {
  font-size: 3em;
}
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.icon-4x {
  font-size: 4em;
}
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em;
}
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em;
}
.btn [class^="icon-"].pull-left.icon-2x,
.btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em;
}
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em;
}
.btn.btn-small [class^="icon-"].pull-left.icon-2x,
.btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em;
}
.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: .05em;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: .2em;
}
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: .2em;
}
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@-moz-document url-prefix() {
  .icon-spin {
    height: .9em;
  }
  .btn .icon-spin {
    height: auto;
  }
  .icon-spin.icon-large {
    height: 1.25em;
  }
  .btn .icon-spin.icon-large {
    height: .75em;
  }
}
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file:before {
  content: "\f016";
}
.icon-time:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-download:before {
  content: "\f01a";
}
.icon-upload:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle:before {
  content: "\f01d";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-indent-left:before {
  content: "\f03b";
}
.icon-indent-right:before {
  content: "\f03c";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-share:before {
  content: "\f045";
}
.icon-check:before {
  content: "\f046";
}
.icon-move:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-screenshot:before {
  content: "\f05b";
}
.icon-remove-circle:before {
  content: "\f05c";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ban-circle:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-share-alt:before {
  content: "\f064";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-resize-vertical:before {
  content: "\f07d";
}
.icon-resize-horizontal:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up:before {
  content: "\f087";
}
.icon-thumbs-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-lemon:before {
  content: "\f094";
}
.icon-phone:before {
  content: "\f095";
}
.icon-check-empty:before {
  content: "\f096";
}
.icon-bookmark-empty:before {
  content: "\f097";
}
.icon-phone-sign:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-hand-right:before {
  content: "\f0a4";
}
.icon-hand-left:before {
  content: "\f0a5";
}
.icon-hand-up:before {
  content: "\f0a6";
}
.icon-hand-down:before {
  content: "\f0a7";
}
.icon-circle-arrow-left:before {
  content: "\f0a8";
}
.icon-circle-arrow-right:before {
  content: "\f0a9";
}
.icon-circle-arrow-up:before {
  content: "\f0aa";
}
.icon-circle-arrow-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-fullscreen:before {
  content: "\f0b2";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-beaker:before {
  content: "\f0c3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-paper-clip:before {
  content: "\f0c6";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-sign-blank:before {
  content: "\f0c8";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-strikethrough:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-sign:before {
  content: "\f0d3";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-envelope-alt:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-legal:before {
  content: "\f0e3";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-comment-alt:before {
  content: "\f0e5";
}
.icon-comments-alt:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-lightbulb:before {
  content: "\f0eb";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-bell-alt:before {
  content: "\f0f3";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-food:before {
  content: "\f0f5";
}
.icon-file-alt:before {
  content: "\f0f6";
}
.icon-building:before {
  content: "\f0f7";
}
.icon-hospital:before {
  content: "\f0f8";
}
.icon-ambulance:before {
  content: "\f0f9";
}
.icon-medkit:before {
  content: "\f0fa";
}
.icon-fighter-jet:before {
  content: "\f0fb";
}
.icon-beer:before {
  content: "\f0fc";
}
.icon-h-sign:before {
  content: "\f0fd";
}
.icon-plus-sign-alt:before {
  content: "\f0fe";
}
.icon-double-angle-left:before {
  content: "\f100";
}
.icon-double-angle-right:before {
  content: "\f101";
}
.icon-double-angle-up:before {
  content: "\f102";
}
.icon-double-angle-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-circle-blank:before {
  content: "\f10c";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-circle:before {
  content: "\f111";
}
.icon-reply:before {
  content: "\f112";
}
.icon-github-alt:before {
  content: "\f113";
}
.icon-folder-close-alt:before {
  content: "\f114";
}
.icon-folder-open-alt:before {
  content: "\f115";
}
.defaultText {
  width: 300px;
}
.defaultTextActive {
  color: #a1a1a1;
  font-style: italic;
}
.cursor-progress {
  cursor: progress !important;
}
.drop-shadow {
  -webkit-box-shadow: 0px 0px 7px #333333;
  -moz-box-shadow: 0px 0px 7px #333333;
  box-shadow: 0px 0px 7px #333333;
}
.rounded-corners {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.rounded-corners-tiny {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.no-bottom-rounded {
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.clear {
  clear: both;
}
.inline {
  display: inline;
}
.right {
  float: right;
}
.left {
  float: left;
}
.med_height {
  height: 582px;
}
.clear {
  clear: both;
}
.grey_hr {
  height: 4px;
  background-color: #303030;
  color: #303030;
  width: 100%;
  clear: both;
  margin: 0px;
  margin-bottom: 3px;
  margin-top: 3px;
}
.empty_help_content {
  color: #404040;
  font-size: 50px;
  position: absolute;
  top: 15%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  display: none;
  text-align: center;
  overflow: hidden;
}
.abs_image_br,
.abs_image_tr,
.abs_image_tl {
  position: absolute;
  right: -15px;
  bottom: -15px;
  cursor: pointer;
}
.abs_image_tr {
  right: -15px;
  top: -15px;
  bottom: inherit;
}
.abs_image_tl {
  left: -15px;
  top: -15px;
  bottom: inherit;
  right: inherit;
}
.empty_help_content a {
  color: #404040;
}
.box_icon_size {
  position: absolute;
  height: 60px;
  width: 200px;
  right: 55px;
  top: 0px;
  text-align: right;
}
.box_icon_size div {
  border-top: 3px solid #2B2B2B;
  border-bottom: 1px solid #2B2B2B;
  border-right: 1px solid #2B2B2B;
  border-left: 1px solid #2B2B2B;
  background: #AAAAAA;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: #333333;
  text-align: center;
  font-size: 26px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 2px;
  line-height: 30px;
}
.box_icon_size div:hover {
  background: #E6E6E6;
}
.box_icon_size div.selected {
  background: #2B2B2B;
  color: #E6E6E6;
  border-bottom: 1px solid #2B2B2B;
  border-right: 1px solid #2B2B2B;
  border-left: 1px solid #2B2B2B;
}
.box_icon_size #small_icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 26px;
}
.box_icon_size #medium_icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 28px;
}
.box_icon_size #large_icon {
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 31px;
}
.custom_dialog {
  display: none;
}
.custom_ui_radio .ui-button-text-only .ui-button-text,
.custom_ui input.ui-button,
.custom_ui button.ui-button span {
  padding: .1em .5em;
}
.custom_ui_radio .ui-state-active,
.custom_ui_radio .ui-widget-content .ui-state-active,
.custom_ui_radio .ui-widget-header .ui-state-active,
.custom_ui_radio .ui-state-default,
.custom_ui_radio .ui-widget-content .ui-state-default,
.custom_ui_radio .ui-widget-header .ui-state-default,
.custom_ui .ui-state-default,
.custom_ui .ui-state-active {
  border: 1px solid #292929;
}
.custom_ui_radio .ui-widget,
.custom_ui .ui-widget {
  font-size: inherit;
  font-family: inherit;
}
.custom_ui_radio .ui-state-disabled,
.custom_ui_radio .ui-widget-content .ui-state-disabled,
.custom_ui_radio .ui-widget-header .ui-state-disabled {
  opacity: 1 !important;
  filter: Alpha(Opacity=100) !important;
}
.content-background {
  background-color: #222;
  border-top: 1px solid #222;
}
.medium_message_box {
  display: inline-block;
  min-height: 60px;
  background-color: #444444;
  padding: 20px 25px 0;
}
.tinymce table#mce_0_toolbar1 {
  margin: 0 auto;
}
.basic_page_heading .title {
  font-size: 18px;
}
.basic_page_heading p {
  font-size: 12px;
}
html,
body {
  background-color: #222;
}
#main .top_links {
  background: #141414;
  border-bottom: 1px solid #282828;
  height: 22px;
}
#main .below_links {
  padding: 33px;
}
#header .logo {
  position: absolute;
  top: 19px;
  right: 5%;
}
#middle {
  min-height: 400px;
  background-color: #303030;
  padding: 12px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
}
.message_div {
  position: absolute;
  top: 40%;
  left: 40%;
  color: #fff;
  font-size: 35px;
}
.foto_background_alert .x_button {
  background: url('/img/admin/icons/bw_simple_close_icon.png') no-repeat 0px;
  height: 40px;
  width: 40px;
  display: inline-block;
  position: absolute;
  cursor: pointer;
}
.gallery-chooser-cont .gallery-chooser {
  height: 250px;
  overflow: auto;
}
.gallery-chooser-cont .no_galleries_added {
  height: 248px;
  background-color: #222222;
  color: #404040;
  text-align: center;
  margin: 5px 0;
}
.gallery-chooser-cont .no_galleries_added p {
  position: relative;
  top: 34px;
  font-size: 35px;
  padding: 0 15px;
}
.gallery-chooser table {
  width: 100%;
  border: 0;
}
.gallery-chooser table td {
  vertical-align: middle;
  min-width: 20px;
  cursor: pointer;
}
.gallery-chooser table tr.selected {
  background-color: #667680;
  color: #000;
}
.gallery-chooser table tr.selected:hover {
  background-color: #7A8D99;
}
.gallery-chooser table tr:hover *,
.gallery-chooser table tr.selected * {
  background: none;
}
.gallery-chooser table tr:hover {
  background-color: #8A9399;
  color: #333;
  font-weight: bold;
}
.gallery-chooser table tr td.photo {
  min-width: 10px;
  padding: 10px 3px;
  text-align: center;
}
.gallery-chooser table tr td.photo div {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.gallery-chooser table tr td.name {
  vertical-align: middle;
  width: 70%;
}
.gallery-chooser-cont .heading .title {
  padding: 5px 0;
}
.gallery-chooser-cont .heading p {
  padding: 5px 3px;
}
.outer-tag-chooser-cont .header .title {
  padding: 5px 0;
  margin: 5px 0;
}
.outer-tag-chooser-cont .header p {
  padding: 0 5px;
}
.outer-tag-chooser-cont div.tagsinput {
  margin: 10px 5px;
}
.fm_summary_cont {
  width: 60%;
  margin: 10px 0 5px;
}
.fm_summary_cont h3 {
  margin: 15px;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 14px;
  -moz-border-radius: 0;
}
.fm_summary_cont .container {
  background-color: #222222;
  min-height: 100px;
}
.fm_summary_cont.small {
  width: 40%;
}
.fm_summary_cont.large {
  width: 80%;
}
#top-navigation li {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 4px;
  background: #454545;
  padding: 11px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}
#top-navigation li a {
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  font-family: 'Lucida Grande', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans Regular', Verdana, sans-serif;
  text-align: center;
  color: #AAAAAA;
}
#top-navigation li a:hover {
  color: #D9D9D9;
}
#top-navigation li.curr {
  background: #303030;
}
#top-navigation li.curr a {
  color: #D9D9D9;
}
.table_header,
.table_header_darker,
.table_header_lighter {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #454545;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  overflow: hidden;
}
.table_header_darker,
.table_header_lighter {
  background-color: #171717;
  min-height: 40px;
  padding: 0px;
  border-bottom: 1px solid #171717;
}
.table_header_lighter {
  background-color: #292929;
  color: #AAAAAA;
  border-bottom: 1px solid #171717;
}
.table_header h2,
.table_header_darker h2,
.table_header_lighter h2,
.table_header .actions,
.table_header_darker .actions,
.table_header_lighter .actions {
  margin: 15px;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 14px;
  height: 25px;
  line-height: 29px;
}
.table_header_lighter h2 {
  color: #AAAAAA;
}
.table_header .actions,
.table_header_darker .actions img,
.table_header_lighter .actions img {
  cursor: pointer;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.table_header .actions,
.table_header_darker .actions img:hover,
.table_header_lighter .actions img:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
table.list {
  width: 100%;
}
table.list td {
  background: #222;
  border: 1px solid #121212;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
}
table.list td.curr {
  background: #191919;
}
table.list th {
  background-color: #121212;
  color: #EEE;
  border-right: 1px solid #222;
  font-size: 10px;
  font-weight: bold;
  padding: 9px 12px 8px 12px;
  text-align: center;
  font-family: 'Lucida Grande', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans Regular', Verdana, sans-serif;
  text-transform: uppercase;
}
table.list th a {
  text-decoration: none;
}
table.list th.last {
  border: 0px;
}
table.list th.curr {
  background: #000;
}
table.list th.curr a {
  padding-right: 15px;
}
table.list th.curr.desc a {
  background: url('/ssp/img/table-sort-arrow-up.png') 100% 1px no-repeat;
}
table.list th.curr.asc a {
  background: url('/ssp/img/table-sort-arrow-down.png') 100% 4px no-repeat;
}
table.list td.photo_id {
  width: 58px;
}
table.list td.photo_image {
  width: 166px;
}
table.list td.photo_title {
  width: 185px;
}
table.list td.photo_enabled {
  width: 92px;
}
table.list td.photo_format {
  width: 120px;
}
table.list .reorder_grabber {
  cursor: move;
  background: url('/img/admin/icons/green_move_arrow.png') top center no-repeat;
  width: 53px;
  height: 54px;
  display: inline-block;
}
div#sub-nav {
  background: transparent url(/ssp/img/bg_subnav.gif) no-repeat scroll 100% 0;
  margin-top: 15px;
}
div#sub-nav ul li a,
div.dp-popup a.disabled {
  color: #AAAAAA;
}
div#sub-nav ul li.title {
  background: #121212 url(/ssp/img/bg_subnav_title.gif) no-repeat scroll 0 0;
  font-weight: bold;
}
div#sub-nav ul li.spacer {
  background: transparent url(/ssp/img/bg_subnav_spacer.gif) no-repeat scroll 0 0;
}
div#sub-nav {
  height: 36px;
  line-height: 36px;
  position: relative;
  float: left;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
div#sub-nav ul {
  list-style: none;
  height: 36px;
  width: 100%;
  display: block;
}
div#sub-nav ul li {
  float: left;
  margin: 0 18px 0 0;
}
div#sub-nav ul li a {
  font-weight: bold;
  font-size: 11px;
  float: left;
  display: block;
  text-decoration: none;
  font-family: 'Lucida Grande', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans Regular', Verdana, sans-serif;
}
div#sub-nav ul li.title {
  padding: 0 15px;
  margin-right: 0;
}
div#sub-nav ul li.spacer {
  width: 21px;
  margin-right: 10px;
}
div#sub-nav ul li a:hover,
div#sub-nav ul li.selected a,
div#sub-nav ul li.title a {
  color: #D9D9D9;
}
.block_element_base {
  background: #222222;
  overflow-x: hidden;
  overflow-y: auto;
}
.generic_sort_and_filters {
  padding: 15px;
  border: 1px solid #171717;
  color: #999999;
  height: 60px;
  position: relative;
}
.generic_sort_and_filters.lighter {
  color: white;
  width: 100%;
  height: 100%;
  outline: 0px;
  border: 0px;
  padding: 0px;
}
.generic_sort_and_filters,
.generic_sort_and_filters.lighter,
.lighter-content-background {
  background-color: #363636;
  padding: 20px;
}
.profile-outer-cont h3 {
  font-weight: bold;
  margin: 10px 0;
  color: #fff;
}
.profile-outer-cont label {
  width: 80px;
  display: inline-block;
  font-size: 13px;
}
.profile-outer-cont .payment {
  margin: 35px 0 0 0;
}
.profile-outer-cont div.input {
  margin: 0 0 3px 0;
}
.profile-outer-cont #payment_details_client {
  margin: 20px 0px;
  float: left;
  display: inline-block;
}
.profile-outer-cont input {
  padding: 2px;
  width: 210px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #222222;
}
.profile-outer-cont select {
  padding: 2px;
  width: 210px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #222222;
}
.profile-outer-cont .exp_date select {
  width: 103px;
}
.profile-outer-cont .continue.input {
  margin: 20px 0 0 0;
  font-size: 15px;
  font-weight: bold;
}
.profile-outer-cont .continue.input input {
  width: 100px;
}
.profile-outer-cont .profile_info {
  display: inline-block;
  float: left;
  min-height: 200px;
  width: 150px;
  border: 1px solid #303030;
  background-color: #D8D8D8;
  margin: 15px 35px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 3px #000000;
  -moz-box-shadow: 0px 0px 3px #000000;
  box-shadow: 0px 0px 3px #000000;
  color: black;
}
.profile-outer-cont .profile_info p {
  margin: 10px 0;
}
form.fm_form {
  margin: 10px;
  display: inline-block;
}
form.fm_form label {
  display: inline-block;
  width: 100px;
}
form.fm_form .input {
  margin: 5px 0;
}
form.fm_form .input input {
  padding: 2px;
  width: 180px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #222222;
}
form.fm_form .submit input {
  width: auto;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#connect_gallery_photos_cont {
  min-height: 200px;
  clear: both;
}
#connect_gallery_photos_cont .in_gallery_photos_cont,
#connect_gallery_photos_cont .not_in_gallery_photos_cont {
  background: #222222;
  height: 490px;
  overflow-x: hidden;
  overflow-y: auto;
}
#connect_gallery_photos_cont .in_gallery_photos_cont {
  height: 582px;
}
#connect_gallery_photos_cont .in_gallery_photos_cont .order_in_gallery_button {
  display: none;
}
#connect_gallery_photos_cont .in_gallery_photos_cont.arrange .order_in_gallery_button,
.menu_items_cont .abs_image_tl {
  display: block;
  cursor: move;
}
#connect_gallery_photos_cont .in_gallery_photos_cont.arrange .remove_from_gallery_button {
  display: none;
}
#connect_gallery_photos_cont .in_gallery_main_cont {
  float: left;
  width: 39%;
  float: left;
  position: relative;
}
#connect_gallery_photos_cont .in_gallery_main_cont.arrange {
  width: 100%;
}
#connect_gallery_photos_cont .not_in_gallery_photos_cont {
  overflow-y: scroll;
  text-align: left;
}
#connect_gallery_photos_cont .not_in_gallery_main_cont {
  float: right;
  width: 59%;
  position: relative;
}
#connect_gallery_photos_cont .connect_photo_container {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 20px;
  margin-bottom: 0px;
  background: #303030;
  position: relative;
  vertical-align: top;
}
#endless_scroll_loading {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  display: none;
  position: absolute;
  background-color: #121212;
  padding: 12px;
  font-size: 22px;
  left: 20px;
  bottom: 107px;
  z-index: 3;
}
.photo_pages h1.top_heading {
  font-size: 30px;
}
.photo_pages .upload_body {
  display: inline-block;
  width: 100%;
  height: 400px;
}
.photo_pages input.mass_upload_button {
  margin: 10px 20px;
  padding: 5px 5px 5px 45px;
  font-size: 15px;
  background-color: #cecece;
  font-weight: bold;
}
#photo_mass_upload_outer_wrapper .upload_content {
  position: relative;
}
#photo_mass_upload_outer_wrapper .upload_content .table_header_darker h2 {
  width: 30%;
  display: inline-block;
  float: left;
}
#photo_mass_upload_outer_wrapper .upload_content .upload_files_cont button {
  color: #F7F7F7;
  padding: 0 0 0 20px;
  background: url('/img/admin/icons/add_for_upload.png') no-repeat 8px #407E40;
}
#photo_mass_upload_outer_wrapper .upload_content .upload_files_cont button:hover {
  background-color: #74B374;
}
#photo_mass_upload_outer_wrapper .upload_content button[type=submit] {
  background: url('/img/admin/icons/send_for_upload.png') no-repeat 8px #205B88;
  padding: 0 0 0 20px;
  color: #F7F7F7;
}
#photo_mass_upload_outer_wrapper .upload_content button[type=submit]:hover {
  background-color: #488ABD;
}
#photo_mass_upload_outer_wrapper .upload_content .upload_files_cont {
  margin: 12px 13px 0 25px;
  display: inline-block;
}
#photo_mass_upload_outer_wrapper .fileupload-buttonbar {
  margin-bottom: -3px;
}
#photo_mass_upload_outer_wrapper .upload_content .upload_files_cont input[type=file] {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 39px;
  cursor: pointer;
  left: -60px;
  top: 14px;
  width: 188px;
}
#photo_mass_upload_outer_wrapper .upload_content .generic_photo_gallery_cont {
  width: 27%;
  height: 300px;
  float: left;
  margin-left: -100%;
  margin: 12px 0 0 -100%;
}
#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont {
  float: left;
  width: 100%;
  margin: 0 0 25px 30px;
}
#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont .files_ready_to_upload_inner_cont {
  margin-left: 30%;
  position: relative;
}
#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont .files_ready_to_upload_inner_cont .empty_help_content {
  top: 31%;
  left: 8%;
  right: 13%;
}
#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont .table_cont {
  background-color: #282828;
  min-height: 446px;
  width: 88%;
  margin: 0 0 0 26px;
}
#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table {
  width: 100%;
  margin: 15px 0px;
}
#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table th {
  text-align: left;
  padding: 5px 15px;
  background-color: #1c1c1c;
}
#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table td.preview span.fade {
  display: block;
  margin: 3px auto;
}
#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table td {
  padding: 5px 15px;
}
#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table tr {
  border: 1px solid #353535;
  min-height: 100px;
}
#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table tr.template-upload td.center-middle {
  vertical-align: middle;
  text-align: center;
}
#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table tr.template-upload td.middle {
  vertical-align: middle;
}
#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table td,
#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table th {
  padding: 8px 25px;
}
.upload_in_progress_cont {
  width: 30%;
  top: 30%;
  left: 32%;
  min-height: 100px;
}
.upload_in_progress .upload_in_progress_header {
  font-size: 22px;
  margin: 12px 2px 2px 2px;
}
.upload_in_progress .overall_upload {
  margin: 10px;
  font-size: 12px;
}
.upload_in_progress .overall_upload div.label {
  font-size: 14px;
  float: left;
  margin: 5px 20px 2px 0;
}
.upload_in_progress .overall_upload div.progress {
  margin: 0 10px;
}
.upload_in_progress_cont .count_uploaded_cont {
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 62%;
}
.upload_complete .error_cont {
  font-size: 12px;
  margin: 30px auto;
  max-width: 90%;
  background-color: #C6C6C6;
  color: #000;
  padding: 10px;
}
.upload_complete .error_cont p {
  font-weight: bold;
}
.upload_complete .error_cont ul {
  margin: 5px 25px;
}
#image_edit_container .image_edit_block {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  margin-right: 30px;
}
#image_sellable_prints table.list tbody td {
  padding: 7px;
}
#image_sellable_prints table.list tbody td.input {
  width: 179px;
}
#image_sellable_prints table.list tbody input {
  width: 60px;
}
#image_sellable_prints table.list tbody .lock_img,
#image_sellable_prints table.list tbody .unlock_img {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
#image_sellable_prints table.list tbody .lock_img {
  display: inline-block;
}
#image_sellable_prints table.list tbody .unlock_img {
  display: none;
}
.opacity_50 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
#configure_page_cont .avail_page_elements_cont {
  float: left;
  width: 200px;
  margin-right: 30px;
}
#configure_page_cont .page_content_cont {
  float: left;
  width: 763px;
  min-height: 500px;
}
#configure_page_cont .avail_element_cont {
  margin: 30px auto;
  text-align: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
#configure_page_cont .avail_element_cont:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  cursor: pointer;
}
#configure_page_cont .page_content_cont {
  height: 600px;
  overflow-y: auto;
}
#configure_page_cont .page_content_cont .page_element_cont {
  margin: 25px;
  position: relative;
  min-height: 50px;
}
#configure_page_cont .page_content_cont .reorder_page_grabber {
  cursor: move;
}
#configure_page_cont .page_content_cont .page_element_top_section {
  padding: 18px;
  background-color: #303030;
  min-height: 60px;
}
#configure_page_cont .page_content_cont .page_element_bottom_section .custom_ui_radio {
  margin-bottom: 7px;
}
#configure_page_cont .avail_element_cont .icon_div {
  width: 155px;
  height: 116px;
  display: inline-block;
}
#configure_main_menu_cont .not_sortable_menu_item .reorder_grabber {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.two_level_menu_items_cont {
  position: relative;
}
.two_level_menu_items_cont .top_level_item {
  min-height: 60px;
  margin: 20px;
  position: relative;
  border: 1px solid transparent;
  margin-top: 43px;
}
.two_level_menu_items_cont .top_level_item h2 {
  margin: 10px;
}
.two_level_menu_items_cont .top_level_item .sub_menu_item {
  background-color: #454545;
  margin: 10px;
  min-height: 40px;
  cursor: move;
  position: relative;
}
.two_level_menu_items_cont .single_item {
  background-color: #454545;
}
.two_level_menu_items_cont .container_item {
  background-color: #636363;
}
#theme_centers_list_container,
.basic_settings {
  position: relative;
}
#theme_centers_list_container .theme_setting_container,
#theme_centers_list_container .basic_setting_cont,
.basic_settings .theme_setting_container,
.basic_settings .basic_setting_cont {
  vertical-align: top;
  margin-bottom: 30px;
}
#theme_centers_list_container .theme_setting_container label,
#theme_centers_list_container .basic_setting_cont label,
.basic_settings .theme_setting_container label,
.basic_settings .basic_setting_cont label {
  text-align: right;
  margin-right: 12px;
  vertical-align: top;
  display: inline-block;
  min-width: 240px;
}
#theme_centers_list_container .theme_setting_container .theme_setting_inputs_container,
#theme_centers_list_container .basic_setting_cont .theme_setting_inputs_container,
.basic_settings .theme_setting_container .theme_setting_inputs_container,
.basic_settings .basic_setting_cont .theme_setting_inputs_container {
  margin-top: -3px;
  min-width: 80px;
  vertical-align: top;
  display: inline-block;
}
#theme_centers_list_container .theme_setting_container .theme_setting_inputs_container span.color_chooser,
#theme_centers_list_container .basic_setting_cont .theme_setting_inputs_container span.color_chooser,
.basic_settings .theme_setting_container .theme_setting_inputs_container span.color_chooser,
.basic_settings .basic_setting_cont .theme_setting_inputs_container span.color_chooser {
  display: inline-block;
  width: 14px;
  height: 14px;
  outline: 1px solid #808080;
}
#theme_centers_list_container .theme_setting_container .theme_setting_description,
#theme_centers_list_container .basic_setting_cont .theme_setting_description,
.basic_settings .theme_setting_container .theme_setting_description,
.basic_settings .basic_setting_cont .theme_setting_description {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  font-style: italic;
  margin-left: 80px;
}
#theme_centers_list_container .saving_theme_setting,
.basic_settings .saving_theme_setting {
  display: none;
  position: absolute;
  background-color: #121212;
  padding: 12px;
  font-size: 22px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  position: fixed;
  right: 48px;
  bottom: 25px;
}
#theme_centers_list_container h2.group_list_name,
.basic_settings h2.group_list_name {
  margin-left: 257px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
  border-bottom: 1px solid white;
  line-height: 46px;
  width: 791px;
}
#print_type_pricing_cont table.list {
  width: 760px;
}
#print_type_pricing_cont table.list td {
  padding: 7px;
}
#print_type_pricing_cont table.list input {
  width: 50px;
}
#print_type_pricing_cont table.list .price_width {
  width: 80px;
}
.basic_settings .basic_setting_cont label {
  min-width: 180px;
}
#fulfill_order_container #cart_table,
#fulfill_order_container #cart_table th,
#fulfill_order_container #cart_table td {
  border: 1px solid black;
  padding: 20px;
  vertical-align: middle;
}
#payable_orders_table {
  width: 100%;
}
#payable_orders_table,
#payable_orders_table th,
#payable_orders_table td {
  border: 1px solid black;
  padding: 20px;
  vertical-align: middle;
}
#payable_orders_table tfoot tr td {
  text-align: right;
}
#domains-outer-cont {
  margin: 10px 5px;
}
#domains-outer-cont .domain_result {
  margin: 26px 0;
  width: 630px;
}
#domains-outer-cont .domain_header {
  min-height: 40px;
}
#domains-outer-cont .domain_header .direct_result {
  margin: 4px 15px;
  display: inline-block;
}
#domains-outer-cont .domain_header .direct_result h3 {
  font-size: 28px;
}
#domains-outer-cont .domain_header .direct_result.not_avail span {
  color: #FFA8A8;
}
#domains-outer-cont .domain_header .direct_result.avail span {
  color: #7FFF74;
}
#domains-outer-cont .domain_header .search_box {
  display: inline-block;
  float: left;
}
#domains-outer-cont .domain_header .search_box button {
  font-size: 14px;
}
#domains-outer-cont .domain_header .search_box input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  width: 200px;
}
#account-details {
  padding: 0px 15px;
}
#account-details .fm_summary_cont .table_header_darker {
  border-radius: 0;
  -moz-border-radius: 0;
  height: 15px;
  line-height: 20px;
}
#account-details .fm_summary_cont .container .info {
  display: inline-block;
  margin: 15px 45px;
  width: 240px;
}
#account-details .fm_summary_cont .container .info .label {
  font-weight: bold;
}
#account-details .fm_summary_cont .container table.list th {
  background-color: #222222;
}
#account-details form .input input {
  border: 1px solid black;
}
#line_item_cont {
  padding: 10px;
}
#line_item_cont .pay_fail_message {
  border: 1px solid grey;
  padding: 20px;
  margin: 15px 1px 25px;
  width: 33%;
  background-color: #460E00;
  color: #FFF4F1;
}
#line_item_cont .body_container {
  width: 650px;
  display: inline-block;
  float: left;
  margin: 0 40px 0 0;
}
#line_item_cont .account-details.finish-shown .finish-outer-cont {
  border-bottom: 1px solid white;
}
#line_item_cont .account-details.finish-shown .details {
  margin: 20px 0 0 0;
}
#line_item_cont .account-details {
  display: none;
  border: 1px solid grey;
  width: 300px;
  min-height: 100px;
  float: left;
  display: inline-block;
  background-color: #454545;
  padding: 15px;
}
#line_item_cont .account-details p {
  font-size: 28px;
}
#line_item_cont .account-details button {
  margin: 25px 0 20px;
  background: none #205B88;
  color: #fff;
}
#line_item_cont .account-details button:hover {
  background: none #538FBD;
}
#line_item_cont .account-details .details .detail {
  margin: 20px 0;
}
#line_item_cont .account-details .details .detail span.title {
  font-weight: bold;
  margin: 0 10px 0 0;
}
#line_item_cont .account-details .details .detail span.pending_total {
  color: #FCCD18;
}
#line_item_cont .finish input {
  display: none;
}
#line_item_cont .line_item.line_not_added .bar {
  background-color: #292929;
}
#line_item_cont .line_item.line_not_added .bar .bar-right span.toggle {
  color: #5E5E5E;
}
#line_item_cont .line_item.line_not_added .bar .bar-right i {
  color: #5E5E5E;
}
#line_item_cont .line_item.line_not_added .bar h5 {
  color: #5E5E5E;
}
#line_item_cont .line_item .bar {
  border: 1px solid black;
  padding: 7px 3px 7px 7px;
  background-color: #454545;
}
#line_item_cont .line_item .bar div.bar-right {
  float: right;
  cursor: pointer;
}
#line_item_cont .line_item .bar div.bar-right span {
  margin: 0;
}
#line_item_cont .line_item .bar div.bar-right i {
  margin: 0 5px;
}
#line_item_cont .line_item .bar div.bar-right button.ui-button {
  min-width: 80px;
}
#line_item_cont .line_item .bar div.bar-right button.ui-button span {
  font-size: 14px;
  padding: 3px;
}
#line_item_cont .line_item .bar h5 {
  display: inline-block;
  margin: 7px;
}
#line_item_cont .line_item .item_ad_area {
  width: 99%;
  height: 300px;
  background-color: #787878;
  margin: 0px auto;
  display: none;
}
.promo_notify {
  margin: 15px 10px;
}
.promo_notify h3 {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}
.promo_notify p {
  margin: 18px 2px;
}
.promo_notify span.title {
  color: #F3F3F3;
}
.promo_notify .promo_credit_balance,
.promo_notify .due_today {
  margin: 0 10px;
}
.promo_notify .actions button {
  font-size: 15px;
  font-weight: bold;
  color: #464646;
}
#finish_account_change {
  margin: 20px 0;
}
#finish_account_change .summary {
  float: right;
}
#finish_account_change .cc_info {
  float: left;
  margin: 5px;
  width: 280px;
}
#finish_account_change .payment_item {
  margin: 5px 10px;
}
#finish_account_change .payment_item .label {
  font-size: 18px;
  font-weight: bold;
  color: #F3F3F3;
  margin: 15px 10px 0 0;
}
#finish_account_change .payment_item .value {
  display: inline-block;
  float: right;
}
#finish_account_change .due_today a {
  color: #00E8FA;
}
#finish_account_change .pending_change {
  font-size: 18px;
  font-weight: bold;
  color: #F3F3F3;
  margin: 15px 0;
}
#finish_account_change button.finalize_change {
  margin: 20px;
  font-size: 15px;
  float: right;
}
#finish_account_change .change-cont {
  margin: 0 auto;
  width: 542px;
}
#finish_account_change .change_summary {
  border: 1px solid grey;
  min-height: 150px;
  padding: 10px;
  margin: 0 auto;
}
#finish_account_change .change_summary .item_to_add {
  height: 32px;
  border-bottom: 1px solid grey;
}
#finish_account_change .change_summary .item_to_add div {
  display: inline-block;
  float: left;
}
#finish_account_change .change_summary .item_to_add div.item_name {
  border-right: 1px solid grey;
  padding: 5px 95px;
  width: 170px;
}
#finish_account_change .change_summary .item_to_add div.item_cost {
  padding: 5px 50px 5px 64px;
}
.sub_submenu_cont .sub_submenu_left_cont,
.sub_submenu_cont .sub_submenu_right_cont,
.sub_submenu_cont .sub_submenu_far_right_cont {
  float: left;
}
.sub_submenu_cont .sub_submenu_far_right_cont {
  width: 230px;
  min-height: 100px;
  margin-left: 20px;
}
.sub_submenu_cont .sub_submenu_left_cont {
  width: 50px;
}
.sub_submenu_cont .sub_submenu_left_cont .sub_submenu_tab {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: #474747;
  cursor: pointer;
  border: 1px solid #333;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.sub_submenu_cont .sub_submenu_left_cont .sub_submenu_tab.selected {
  background: #636363;
}
.sub_submenu_cont .sub_submenu_left_cont .sub_submenu_tab:hover {
  background: #2b2b2b;
}
.sub_submenu_cont .sub_submenu_right_cont .sub_submenu_tab_cont {
  display: none;
  position: relative;
  margin-bottom: 210px;
}
