/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/**************************************************
	RESET
**************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*** END RESET **********/


/**************************************************
	GLOBAL STYLES
**************************************************/
* {
	font-family: 'Lucida Grande', 'Trebuchet MS','Lucida Sans Unicode','Lucida Sans Regular', Verdana, sans-serif;
}
a, h1, h2, h3, h4, h5, h6, span.default, label, table, div {
	color: #D9D9D9;
	font-family: 'Lucida Grande', 'Trebuchet MS','Lucida Sans Unicode','Lucida Sans Regular', Verdana, sans-serif;
}
input, textarea, select, option {
	color: #333;
}
label {
	font-weight: bold;
	display: block;
	margin: 0;
	padding: 0 0 6px 0;
	font-family: 'Lucida Grande', 'Trebuchet MS','Lucida Sans Unicode','Lucida Sans Regular', Verdana, sans-serif;
}
.table { display: table; width: 100%; height: 100%; }
.tr { display: table-row; }
.td { 
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
h1 {
	font-size: 30px;
	margin-bottom: 10px;
}
.outline {
	outline: 1px solid black;
	min-height: 100px;
	min-width: 100px;
}
.clear {
	clear: both;
}
/***** END GLOBAL *****************/



/**************************************************
	REUSABLE
**************************************************/
.rounded-corners {
  -moz-border-radius: 10px; /* Firefox */
  border-radius: 10px; /* CSS3 */
}
.rounded-corners-small {
  -moz-border-radius: 7px; /* Firefox */
  border-radius: 7px; /* CSS3 */
}
.inline {
	display: inline;
}
.right {
	float: right;
}
.left {
	float: left;
}
.clear {
	clear: both;
}
.grey_hr {
	height: 4px;
	background-color: #303030;
	color: #303030;
	width: 100%;
	clear: both;
	margin: 0px;
	margin-bottom: 3px;
	margin-top: 3px;
}
.empty_help_content {
	color: #404040;
	font-size: 50px;
	position: absolute; 
	top: 15%;
	bottom: 10%;
	left: 10%;
	right: 10%;
	display: none;
	text-align: center;
	overflow: hidden;
}
.empty_help_content a {
	color: #404040;
}
.box_icon_size {
	position: absolute; height: 60px; width: 200px; right: 55px; top: 0px;
	text-align: right;
}
.box_icon_size div {
	border-top: 3px solid #2B2B2B;
	border-bottom: 1px solid #2B2B2B;
	border-right: 1px solid #2B2B2B;
	border-left: 1px solid #2B2B2B;
	background: #AAAAAA;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	color: #333333;
	text-align: center;
	font-size: 26px;
	-moz-border-radius-bottomleft: 5px; /* Firefox */
	border-bottom-left-radius: 5px; /* CSS3 */
	-moz-border-radius-bottomright: 5px; /* Firefox */
	border-bottom-right-radius: 5px; /* CSS3 */
	margin-left: 2px;
	line-height: 30px;
}
.box_icon_size div:hover {
	background: #E6E6E6;
}
.box_icon_size div.selected {
	background: #2B2B2B;
	color: #E6E6E6;
	border-bottom: 1px solid #2B2B2B;
	border-right: 1px solid #2B2B2B;
	border-left: 1px solid #2B2B2B;
}
.box_icon_size #small_icon {
	width: 30px; height: 30px;
	line-height: 30px;
	font-size: 26px;
}
.box_icon_size #medium_icon {
	width: 32px; height: 32px;
	line-height: 32px;
	font-size: 28px;
}
.box_icon_size #large_icon {
	width: 34px; height: 34px;
	line-height: 34px;
	font-size: 31px;
}
.custom_dialog {
	display: none;
}
.custom_ui_radio .ui-button-text-only .ui-button-text {
	padding: .1em .5em;
}
.custom_ui_radio .ui-state-active, .custom_ui_radio .ui-widget-content .ui-state-active, .custom_ui_radio .ui-widget-header .ui-state-active, .custom_ui_radio .ui-state-default, .custom_ui_radio .ui-widget-content .ui-state-default, .custom_ui_radio .ui-widget-header .ui-state-default {
	border: 1px solid #292929;
}
.custom_ui_radio .ui-widget {
	font-size: inherit;
	font-family: inherit;
}
.custom_ui_radio .ui-state-disabled, 
.custom_ui_radio .ui-widget-content .ui-state-disabled, 
.custom_ui_radio .ui-widget-header .ui-state-disabled {
	opacity: 1 !important;
	filter: Alpha(Opacity=100) !important;
}
/**** END REUSABLE ****************/


/**************************************************
	ADMIN EVERYPAGE STYLES
**************************************************/
html, body {
	background-color: #222;
}

#main .top_links {
	background: #141414;
	border-bottom: 1px solid #282828;
	height: 22px;
}
#main .below_links {
	padding: 33px;
}
#header .logo {
	position: absolute;
	top: 19px;
	right: 100px;
}
#middle {
	min-height: 400px;
	background: #303030;
	padding: 12px;
	-moz-border-radius-topleft: 0px; /* Firefox */
	border-top-left-radius: 0px; /* CSS3 */
}
/***** END ADMIN EVERYPAGE STYLES ********************** /



/**************************************************
	TOP NAV
**************************************************/
#top-navigation {
	
}
#top-navigation li {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 4px;
	background: #454545;
	padding: 11px;
	-moz-border-radius-topleft: 5px; /* Firefox */
	-moz-border-radius-topright: 5px; /* Firefox */
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
}
#top-navigation li a {
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	margin: 0;
	font-family: 'Lucida Grande', 'Trebuchet MS','Lucida Sans Unicode','Lucida Sans Regular', Verdana, sans-serif;
	text-align: center;
	color: #AAA;
}
#top-navigation li a:hover {
	color: #D9D9D9;
}
#top-navigation li.curr {
	background: #303030;
}
#top-navigation li.curr a {
	color: #D9D9D9;
}
/*** END TOP NAV ****/


/**************************************************
	GENERIC LIST TABLE CSS
**************************************************/
.table_header, .table_header_darker, .table_header_lighter {
	-moz-border-radius-topleft: 5px; /* Firefox */
	-moz-border-radius-topright: 5px; /* Firefox */
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #454545;
	padding: 15px;
	padding-left: 25px;
	padding-right: 25px;
	overflow: hidden;
}
.table_header_darker, .table_header_lighter {
	background-color: #171717;
	min-height: 40px;
	padding: 0px;
	border-bottom: 1px solid #171717;
}
.table_header_lighter {
	background-color: #292929; 
	color: #AAA; 
	border-bottom: 1px solid #171717;
}
.table_header h2, .table_header_darker h2, .table_header_lighter h2, .table_header .actions, .table_header_darker .actions, .table_header_lighter .actions {
	margin: 15px;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 14px;
	height: 25px; 
	line-height: 29px;
}
.table_header_lighter h2 {
	color: #AAA;
}
.table_header .actions, .table_header_darker .actions img, .table_header_lighter .actions img {
	cursor: pointer;
	opacity:0.6;
	filter:alpha(opacity=60);
}
.table_header .actions, .table_header_darker .actions img:hover, .table_header_lighter .actions img:hover {
	opacity:1;
	filter:alpha(opacity=100);
}
table.list {
	width: 100%;
}
table.list td {
	background: #222;
	border: 1px solid #121212;
	padding: 12px;
	text-align: center;
	vertical-align: middle;
}
table.list td.first { }
table.list td.curr { background: #191919; }
table.list th {
	background-color: #121212;
	color: #EEE;
	border-right: 1px solid #222;
	font-size: 10px;
	font-weight: bold;
	padding: 9px 12px 8px 12px;
	text-align: center;
	font-family: 'Lucida Grande', 'Trebuchet MS','Lucida Sans Unicode','Lucida Sans Regular', Verdana, sans-serif;
	text-transform: uppercase;
}
table.list td, table.list th {
}
table.list th a { text-decoration: none; }
table.list th.first {
}
table.list th.last {
	border: 0px;
}
table.list th.curr {
	background: #000;
}
table.list th.curr a {
	padding-right: 15px;
}
table.list th.curr.desc a {
	background: url('/ssp/img/table-sort-arrow-up.png') 100% 1px no-repeat;
}
table.list th.curr.asc a {
	background: url('/ssp/img/table-sort-arrow-down.png') 100% 4px no-repeat;
}
table.list td.photo_id { width: 58px; }
table.list td.photo_image { width: 166px; }
table.list td.photo_title { width: 185px; }
table.list td.photo_enabled { width: 92px; }
table.list td.photo_format { width: 120px; }
/* img/table-sort-arrow-up.png */

table.list .reorder_grabber { cursor: move; background: url('/img/admin/icons/green_move_arrow.png') top center no-repeat; width: 53px; height: 54px; display: inline-block; }
/**** END GENERIC LIST TABLE CSS ****/


/**************************************************
	GENERIC SUB-NAV
**************************************************/
div#sub-nav {
	background:transparent url(/ssp/img/bg_subnav.gif) no-repeat scroll 100% 0;
	margin-top: 20px;
}

div#sub-nav ul li a, div.dp-popup a.disabled {
	color:#aaa;
}

div#sub-nav ul li.title {
	background:#121212 url(/ssp/img/bg_subnav_title.gif) no-repeat scroll 0 0;
	font-weight:bold;
}

div#sub-nav ul li.spacer {
	background:transparent url(/ssp/img/bg_subnav_spacer.gif) no-repeat scroll 0 0;
}
div#sub-nav {height:36px; line-height:36px; position:relative; float:left; display:block; width:100%; margin-bottom:15px}
div#sub-nav ul {list-style:none; height:36px; width:100%; display:block}
div#sub-nav ul li {float:left; margin:0 18px 0 0}
div#sub-nav ul li a {font-weight:bold; font-size:11px; float:left; display:block; text-decoration:none; font-family:'Lucida Grande', 'Trebuchet MS','Lucida Sans Unicode','Lucida Sans Regular', Verdana, sans-serif}
div#sub-nav ul li.title {padding:0 15px; margin-right:0}
div#sub-nav ul li.spacer {width:21px; margin-right:10px}
div#sub-nav ul li a:hover, 
div#sub-nav ul li.selected a, 
div#sub-nav ul li.title a { color: #D9D9D9; }
/**** GENERIC SUB-NAV ****/


/************************************************
	GALLERY PAGES
************************************************/
#connect_gallery_photos_cont {
	min-height: 200px;
	clear: both;
}

#connect_gallery_photos_cont .in_gallery_photos_cont, #connect_gallery_photos_cont .not_in_gallery_photos_cont {
	background: #222222;
	height: 490px;
	overflow-x: hidden;
	overflow-y: auto;
}
#connect_gallery_photos_cont .in_gallery_photos_cont {
	height: 582px;
}

#connect_gallery_photos_cont .in_gallery_photos_cont .order_in_gallery_button { display: none; }
#connect_gallery_photos_cont .in_gallery_photos_cont.arrange .order_in_gallery_button { display: block; cursor: move; }
#connect_gallery_photos_cont .in_gallery_photos_cont.arrange .remove_from_gallery_button { display: none; }
#connect_gallery_photos_cont .in_gallery_main_cont {
	float: left;
	width: 39%;
	position: relative;
}
#connect_gallery_photos_cont .in_gallery_main_cont.arrange {
	width: 100%;
}


#connect_gallery_photos_cont .not_in_gallery_photos_cont {
	overflow-y: scroll;
	text-align: left;
}

#connect_gallery_photos_cont .not_in_gallery_main_cont {
	float: right;
	width: 59%;
	position: relative;
}

#connect_gallery_photos_cont .connect_photo_container {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 20px;
	margin-bottom:0px;
	background: #303030;
	position: relative;
	vertical-align: top;
}

#connect_gallery_photos_cont .connect_photo_container .abs_image_br , #connect_gallery_photos_cont .connect_photo_container .abs_image_tr, #connect_gallery_photos_cont .connect_photo_container .abs_image_tl {
	position: absolute;
	right: -15px;
	bottom: -15px;
	cursor: pointer;
}

#connect_gallery_photos_cont .connect_photo_container .abs_image_tr {
	right: -15px;
	top: -15px;
	bottom: inherit;
}

#connect_gallery_photos_cont .connect_photo_container .abs_image_tl {
	left: -15px;
	top: -15px;
	bottom: inherit;
	right: inherit;
}
#connect_gallery_photos_cont .sort_and_filters { background-color: #363636; padding: 15px; border: 1px solid #171717; color: #999999; height: 60px; position: relative; }

#endless_scroll_loading {
	display: none;
	position: absolute;
	left: 20px;
	bottom: 107px;
	background-color: #121212;
	padding: 12px;
	font-size: 22px;
	z-index: 3;
}
/**** END GALLERY PAGES ****/




