@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon_frontend/fonts/icomoon.eot?xf6w8a');
  src: url('/fonts/icomoon_frontend/fonts/icomoon.eot?xf6w8a#iefix') format('embedded-opentype'), url('/fonts/icomoon_frontend/fonts/icomoon.ttf?xf6w8a') format('truetype'), url('/fonts/icomoon_frontend/fonts/icomoon.woff?xf6w8a') format('woff'), url('/fonts/icomoon_frontend/fonts/icomoon.svg?xf6w8a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-brand:before {
  content: "\e900";
  color: #2e9fff;
}
.icon-cart:before {
  content: "\e93a";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-google-plus2:before {
  content: "\ea89";
}
.icon-facebook2:before {
  content: "\ea8d";
}
.icon-twitter2:before {
  content: "\ea92";
}
.icon-pinterest2:before {
  content: "\ead1";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
#imageActions {
  display: none;
  background: rgba(0,0,0,0.25);
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: right;
  font-size: 26px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  color: #ffffff;
}
#imageActions .actionIcons a {
  color: #ffffff;
}
#imageActions .actionIcons a span {
  padding: 5px;
}
.fullScreen:-webkit-full-screen img {
  width: 100% !important;
  height: auto !important;
  margin: auto !important;
}
.fullScreen:-moz-full-screen img {
  width: 100% !important;
  height: auto !important;
  margin: auto !important;
}
.fullScreen:-ms-fullscreen img {
  width: 100% !important;
  height: auto !important;
  margin: auto !important;
}
.flashMessage {
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  padding-left: 15px;
}
.flashMessage i {
  vertical-align: top;
  font-size: 14px;
  line-height: 14px;
}
.flashMessage span {
  vertical-align: top;
  margin: 0 0 0 8px;
  max-width: 82%;
  display: inline-block;
  line-height: 20px;
}
.flashMessage.error i {
  color: #FF4336;
}
.flashMessage.success i {
  color: #2ac0de;
}
.flashMessage.warning i {
  color: #E88A35;
}
#footer_tagline {
  margin-top: 30px;
  font-size: 14px;
  line-height: 30px;
  border: 1px solid transparent;
  text-align: center;
}
#footer_tagline .footer_tagline_container_outer {
  position: relative;
  margin-bottom: 50px;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner {
  position: relative;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .copyright_container,
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .mdash,
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by {
  display: inline-block;
  vertical-align: top;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .copyright_container .login_link {
  text-decoration: none;
  cursor: pointer;
  text-transform: lowercase;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .mdash {
  margin-left: 8px;
  margin-right: 8px;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by {
  margin-top: 10px;
  font-weight: bold;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by span {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by a {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  text-decoration: none;
  cursor: pointer;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by a span.text_replacement {
  position: absolute;
  text-indent: -9999px;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by a .fotomatter_logo {
  height: 25px;
}
#gallery_list_table {
  width: 100%;
}
#gallery_list_table tr td {
  vertical-align: middle;
  text-align: center;
}
#gallery_list_table tr td .galleries {
  margin: 12px 0px;
}
#checkout_as_guest_button {
  cursor: pointer;
  margin-top: 20px;
}
#login_container,
#billing_address_container,
#shipping_address_container,
#create_account,
#final_payment_info,
#billing_address_summary,
#shipping_address_summary,
#order_summary_container,
#thankyou_page_container {
  margin-top: 20px;
  margin-bottom: 80px;
}
#login_container hr,
#billing_address_container hr,
#shipping_address_container hr,
#create_account hr,
#final_payment_info hr,
#billing_address_summary hr,
#shipping_address_summary hr,
#order_summary_container hr,
#thankyou_page_container hr {
  margin-bottom: 20px;
  margin-top: 20px;
}
#login_container h1,
#billing_address_container h1,
#shipping_address_container h1,
#create_account h1,
#final_payment_info h1,
#billing_address_summary h1,
#shipping_address_summary h1,
#order_summary_container h1,
#thankyou_page_container h1 {
  margin-top: 0px;
  padding: 0px;
  font-size: 20px;
  margin-bottom: 20px;
}
#login_container .flashMessage,
#billing_address_container .flashMessage,
#shipping_address_container .flashMessage,
#create_account .flashMessage,
#final_payment_info .flashMessage,
#billing_address_summary .flashMessage,
#shipping_address_summary .flashMessage,
#order_summary_container .flashMessage,
#thankyou_page_container .flashMessage {
  padding-left: 130px;
}
#login_container input,
#login_container button,
#login_container select,
#billing_address_container input,
#billing_address_container button,
#billing_address_container select,
#shipping_address_container input,
#shipping_address_container button,
#shipping_address_container select,
#create_account input,
#create_account button,
#create_account select,
#final_payment_info input,
#final_payment_info button,
#final_payment_info select,
#billing_address_summary input,
#billing_address_summary button,
#billing_address_summary select,
#shipping_address_summary input,
#shipping_address_summary button,
#shipping_address_summary select,
#order_summary_container input,
#order_summary_container button,
#order_summary_container select,
#thankyou_page_container input,
#thankyou_page_container button,
#thankyou_page_container select {
  min-width: 200px;
  height: 20px;
}
#login_container select,
#billing_address_container select,
#shipping_address_container select,
#create_account select,
#final_payment_info select,
#billing_address_summary select,
#shipping_address_summary select,
#order_summary_container select,
#thankyou_page_container select {
  height: 25px;
}
#login_container label,
#billing_address_container label,
#shipping_address_container label,
#create_account label,
#final_payment_info label,
#billing_address_summary label,
#shipping_address_summary label,
#order_summary_container label,
#thankyou_page_container label {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  text-align: right;
  margin-right: 10px;
  line-height: 22px;
}
#login_container .input,
#login_container .select,
#billing_address_container .input,
#billing_address_container .select,
#shipping_address_container .input,
#shipping_address_container .select,
#create_account .input,
#create_account .select,
#final_payment_info .input,
#final_payment_info .select,
#billing_address_summary .input,
#billing_address_summary .select,
#shipping_address_summary .input,
#shipping_address_summary .select,
#order_summary_container .input,
#order_summary_container .select,
#thankyou_page_container .input,
#thankyou_page_container .select {
  margin-bottom: 15px;
}
#login_container .submit,
#login_container .step_1,
#billing_address_container .submit,
#billing_address_container .step_1,
#shipping_address_container .submit,
#shipping_address_container .step_1,
#create_account .submit,
#create_account .step_1,
#final_payment_info .submit,
#final_payment_info .step_1,
#billing_address_summary .submit,
#billing_address_summary .step_1,
#shipping_address_summary .submit,
#shipping_address_summary .step_1,
#order_summary_container .submit,
#order_summary_container .step_1,
#thankyou_page_container .submit,
#thankyou_page_container .step_1 {
  padding-left: 153px;
  margin-top: 20px;
}
#login_container .submit,
#billing_address_container .submit,
#shipping_address_container .submit,
#create_account .submit,
#final_payment_info .submit,
#billing_address_summary .submit,
#shipping_address_summary .submit,
#order_summary_container .submit,
#thankyou_page_container .submit {
  margin-bottom: 20px;
}
#login_container .submit > input,
#billing_address_container .submit > input,
#shipping_address_container .submit > input,
#create_account .submit > input,
#final_payment_info .submit > input,
#billing_address_summary .submit > input,
#shipping_address_summary .submit > input,
#order_summary_container .submit > input,
#thankyou_page_container .submit > input {
  cursor: pointer;
}
#login_container .state,
#billing_address_container .state,
#shipping_address_container .state,
#create_account .state,
#final_payment_info .state,
#billing_address_summary .state,
#shipping_address_summary .state,
#order_summary_container .state,
#thankyou_page_container .state {
  display: none;
}
#login_container #forgot_your_password_container .input,
#billing_address_container #forgot_your_password_container .input,
#shipping_address_container #forgot_your_password_container .input,
#create_account #forgot_your_password_container .input,
#final_payment_info #forgot_your_password_container .input,
#billing_address_summary #forgot_your_password_container .input,
#shipping_address_summary #forgot_your_password_container .input,
#order_summary_container #forgot_your_password_container .input,
#thankyou_page_container #forgot_your_password_container .input {
  margin-bottom: 25px;
}
#create_account .card_expiration select,
#final_payment_info .card_expiration select {
  min-width: 0px;
}
#create_account,
#final_payment_info,
#order_summary_container #cart_table {
  margin-bottom: 0px;
}
#shipping_address_container .shipping_data_cont {
  margin-bottom: 50px;
}
.submit_button {
  cursor: pointer;
  height: 30px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  color: #333333;
  background-color: #ffffff;
}
.submit_button .content {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  font-size: 14px;
  margin-left: 15px;
  margin-right: 15px;
}
.submit_button:hover {
  background-color: #000000;
  color: #ffffff;
}
.submit_button.final_checkout_button {
  height: 35px;
}
.submit_button.final_checkout_button .content {
  line-height: 35px;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
}
.add_to_cart_buttons_cont select {
  margin-right: 7px;
  margin-left: 7px;
  height: 34px;
  font-size: 14px;
}
.add_to_cart_buttons_cont button {
  cursor: pointer;
}
.add_to_cart_buttons_cont .add_to_cart_buttons_inner_cont {
  margin-left: 20px;
}
.add_to_cart_buttons_cont .add_to_cart_buttons_inner_cont h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.add_to_cart_buttons_cont .add_to_cart_buttons_inner_cont h2 {
  font-size: 18px;
}
.add_to_cart_buttons_cont .add_to_cart_buttons_inner_cont form,
.add_to_cart_buttons_cont .add_to_cart_buttons_inner_cont h2 {
  margin-left: 0px;
}
.add_to_cart_buttons_cont .add_to_cart_buttons_inner_cont > table {
  width: 520px;
}
.add_to_cart_buttons_cont .add_to_cart_buttons_inner_cont > table > tbody > tr > td {
  vertical-align: top;
}
.add_to_cart_buttons_cont .add_to_cart_buttons_inner_cont > table > tbody > tr > td table {
  width: 100%;
}
.add_to_cart_buttons_cont .add_to_cart_buttons_inner_cont > table > tbody > tr > td table > tbody > tr > td.last {
  width: 200px;
  text-align: left;
}
.add_to_cart_buttons_cont .add_to_cart_buttons_inner_cont > table > tbody > tr > td.last {
  width: 500px;
  text-align: left;
}
.add_to_cart_buttons_cont .add_to_cart_buttons_inner_cont > table > tbody > tr > td.first {
  width: 82px;
}
.add_to_cart_buttons_cont .add_to_cart_buttons_inner_cont > table > tbody > tr > td.print_type_name {
  width: 215px;
  text-align: right;
}
.add_to_cart_buttons_cont .add_to_cart_buttons_inner_cont > table > tbody > tr > td.print_type_name h2 {
  margin-right: 10px;
}
.compact_add_to_cart_buttons_cont {
  margin-top: 10px;
}
.compact_add_to_cart_buttons_cont select {
  margin-right: 7px;
  height: 34px;
  font-size: 14px;
  margin-bottom: 10px;
}
.compact_add_to_cart_buttons_cont button {
  cursor: pointer;
}
.compact_add_to_cart_buttons_cont .compact_add_to_cart_buttons_inner_cont h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.compact_add_to_cart_buttons_cont .compact_add_to_cart_buttons_inner_cont h2 {
  font-size: 18px;
}
.compact_add_to_cart_buttons_cont .compact_add_to_cart_buttons_inner_cont .print_type_data {
  display: none;
}
.compact_add_to_cart_buttons_cont .compact_add_to_cart_buttons_inner_cont .print_type_data.first {
  display: block;
}
#cart_table {
  margin-bottom: 120px;
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}
#cart_table thead {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  font-weight: 600;
  text-align: center;
}
#cart_table thead th.last {
  border-right: 1px solid #000000;
}
#cart_table thead th {
  height: 27px;
}
#cart_table tbody {
  background-color: #ffffff;
  border: 1px solid #000000;
}
#cart_table tbody tr {
  border-bottom: 1px solid #000000;
}
#cart_table tbody tr td {
  border-right: 1px solid #000000;
  text-align: center;
  vertical-align: middle;
  color: #000000;
}
#cart_table tbody tr td img {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}
#cart_table tbody tr td.qty input {
  width: 30px;
  text-align: right;
}
#cart_table tbody tr td.delete {
  text-align: center;
  width: 70px;
}
#cart_table tbody tr td.delete .icon-bin {
  font-size: 20px;
  color: #000000;
}
#cart_table tbody tr td #cart_photo_item_data_container {
  margin-bottom: 8px;
}
#cart_table tbody tr td #cart_photo_item_data_container h2 {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}
#cart_table tbody tr td #cart_photo_item_data_container span {
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}
#cart_table tbody tr.last {
  border-bottom: 0px solid transparent;
}
#cart_table tfoot {
  line-height: 25px;
}
#cart_table tfoot td {
  padding-top: 10px;
}
#cart_table tfoot td .submit_button {
  margin-top: 15px;
}
#cart_table tfoot td .price_summary_item {
  display: inline-block;
  vertical-align: top;
  min-width: 70px;
  margin-left: 10px;
}
#cart_table tfoot td .cart_total {
  font-weight: bold;
}
#cart_table tfoot td #privacy_and_tos_notice {
  font-size: 12px;
  margin-top: 16px;
  line-height: 18px;
}
#cart_table tfoot td #privacy_and_tos_notice a {
  text-decoration: underline;
}
#forgot_your_password_container {
  margin-top: 10px;
}
#forgot_your_password_container #forgot_password_link {
  cursor: pointer;
}
#forgot_your_password_container .step_1 {
  display: block;
}
#forgot_your_password_container .step_2 {
  display: none;
}
.icon-cart {
  margin-right: 3px;
}
#custom_page_elements_container .site_element {
  margin-top: 60px;
  margin-bottom: 60px;
}
#custom_page_elements_container .site_element.first {
  margin-top: 0px;
}
#custom_page_elements_container .site_element > h2 {
  margin: 0px;
  margin-bottom: 20px;
}
#custom_page_elements_container .site_element > img {
  margin-bottom: 15px;
}
#custom_page_elements_container .site_element.left > img {
  margin-right: 30px;
}
#custom_page_elements_container .site_element.right > img {
  margin-left: 30px;
}
#contact_us_container > h2 {
  margin: 0px;
  margin-bottom: 20px;
}
#contact_us_container > p {
  margin-bottom: 30px;
}
#contact_us_container .input,
#contact_us_container .submit {
  margin-top: 10px;
  margin-bottom: 10px;
}
#contact_us_container .input label,
#contact_us_container .submit label {
  text-align: right;
  display: inline-block;
  vertical-align: top;
  width: 160px;
  margin-right: 20px;
}
#contact_us_container .submit {
  margin-top: 15px;
}
#contact_us_container .submit .g-recaptcha {
  display: inline-block;
  vertical-align: top;
  clear: both;
  margin-bottom: 15px;
}
