#billing_address_container,
#shipping_address_container,
#create_account,
#final_payment_info,
#billing_address_summary,
#shipping_address_summary {
  margin-top: 30px;
  outline: 1px solid black;
  padding: 20px;
  outline: 1px solid black;
  padding: 20px;
}
#billing_address_container label,
#shipping_address_container label,
#create_account label,
#final_payment_info label,
#billing_address_summary label,
#shipping_address_summary label {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}
#billing_address_container .input,
#billing_address_container .select,
#shipping_address_container .input,
#shipping_address_container .select,
#create_account .input,
#create_account .select,
#final_payment_info .input,
#final_payment_info .select,
#billing_address_summary .input,
#billing_address_summary .select,
#shipping_address_summary .input,
#shipping_address_summary .select {
  margin-bottom: 10px;
}
#billing_address_container .state,
#shipping_address_container .state,
#create_account .state,
#final_payment_info .state,
#billing_address_summary .state,
#shipping_address_summary .state {
  display: none;
}
#billing_address_container label,
#shipping_address_container label,
#create_account label,
#final_payment_info label,
#billing_address_summary label,
#shipping_address_summary label {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}
#billing_address_container .input,
#billing_address_container .select,
#shipping_address_container .input,
#shipping_address_container .select,
#create_account .input,
#create_account .select,
#final_payment_info .input,
#final_payment_info .select,
#billing_address_summary .input,
#billing_address_summary .select,
#shipping_address_summary .input,
#shipping_address_summary .select {
  margin-bottom: 10px;
}
#billing_address_container .state,
#shipping_address_container .state,
#create_account .state,
#final_payment_info .state,
#billing_address_summary .state,
#shipping_address_summary .state {
  display: none;
}
.no_label {
  margin-top: 20px;
  float: right;
}
#forgot_your_password_container {
  margin-top: 10px;
}
#forgot_your_password_container #forgot_password_link {
  cursor: pointer;
}
#forgot_your_password_container .step_1 {
  display: block;
}
#forgot_your_password_container .step_2 {
  display: none;
}
#footer_tagline {
  margin-top: 30px;
  font-size: 14px;
  line-height: 30px;
  border: 1px solid transparent;
  text-align: center;
}
#footer_tagline .footer_tagline_container_outer {
  position: relative;
  margin-bottom: 50px;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner {
  position: relative;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .copyright_container,
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .mdash,
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by {
  display: inline-block;
  vertical-align: top;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .mdash {
  margin-left: 8px;
  margin-right: 8px;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by {
  margin-top: 10px;
  font-weight: bold;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by span {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by a {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by a span.text_replacement {
  position: absolute;
  text-indent: -9999px;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by a .fotomatter_logo {
  height: 30px;
}
#cart_table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}
#cart_table thead {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  font-weight: 600;
  text-align: center;
}
#cart_table thead .last {
  border-right: 1px solid #000000;
}
#cart_table tbody {
  background-color: #ffffff;
  border: 1px solid #000000;
}
#cart_table tbody tr {
  border-bottom: 1px solid #000000;
}
#cart_table tbody tr td {
  border-right: 1px solid #000000;
  text-align: center;
  vertical-align: middle;
  color: #000000;
}
#cart_table tbody tr td img {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}
#cart_table tfoot {
  line-height: 25px;
}
#cart_table tfoot td {
  padding-top: 10px;
}
#cart_table tfoot button {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  color: #000000;
  -o-text-overflow: clip;
  text-overflow: clip;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
}
