@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon/fonts/icomoon.eot?9o1kbs');
  src: url('/fonts/icomoon/fonts/icomoon.eot?#iefix9o1kbs') format('embedded-opentype'), url('/fonts/icomoon/fonts/icomoon.woff?9o1kbs') format('woff'), url('/fonts/icomoon/fonts/icomoon.ttf?9o1kbs') format('truetype'), url('/fonts/icomoon/fonts/icomoon.svg?9o1kbs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-refresh-01:before {
  content: "\e625";
}
.icon-emailSupport-01:before {
  content: "\e618";
}
.icon-unlimitedPhotos-01:before {
  content: "\e619";
}
.icon-mobileThemes-01:before {
  content: "\e61a";
}
.icon-noBranding-01:before {
  content: "\e61b";
}
.icon-shoppingCart-01:before {
  content: "\e61c";
}
.icon-pageBuilder_2-01:before {
  content: "\e61d";
}
.icon-configurePage-01:before {
  content: "\e61e";
}
.icon-PageSettings-01:before {
  content: "\e61f";
}
.icon-gallerySettings-01:before {
  content: "\e620";
}
.icon-managePhotos-01:before {
  content: "\e621";
}
.icon-siteDomains_2-01:before {
  content: "\e622";
}
.icon-manageTags-01:before {
  content: "\e623";
}
.icon-accountDetails-01:before {
  content: "\e624";
}
.icon-manageFeatures-01:before {
  content: "\e60c";
}
.icon-ConfigureLogo-01:before {
  content: "\e60d";
}
.icon-_button-01:before {
  content: "\e60e";
}
.icon-pictureUpload-01:before {
  content: "\e60f";
}
.icon-trash-01:before {
  content: "\e610";
}
.icon-error-01:before {
  content: "\e611";
}
.icon-priceLock-01-01:before {
  content: "\e612";
}
.icon-priceUnLock-01:before {
  content: "\e613";
}
.icon-warning-01:before {
  content: "\e614";
}
.icon-close-01:before {
  content: "\e615";
}
.icon-arrow-01:before {
  content: "\e616";
}
.icon-Success-01:before {
  content: "\e617";
}
.icon-CheckBox-01:before {
  content: "\e600";
}
.icon-ChooseTheme_icon:before {
  content: "\e601";
}
.icon-Clipboard-01-01:before {
  content: "\e602";
}
.icon-cogWheel:before {
  content: "\e603";
}
.icon-ManagePrintMaterial-01-01:before {
  content: "\e604";
}
.icon-ManagePrintSize-01-01:before {
  content: "\e605";
}
.icon-menu:before {
  content: "\e606";
}
.icon-picture:before {
  content: "\e607";
}
.icon-position-01:before {
  content: "\e608";
}
.icon-power:before {
  content: "\e609";
}
.icon-receiveMoney-01:before {
  content: "\e60a";
}
.icon-settings:before {
  content: "\e60b";
}
#forgot_your_password_container {
  margin-top: 10px;
}
#forgot_your_password_container #forgot_password_link {
  cursor: pointer;
}
#forgot_your_password_container .step_1 {
  display: block;
}
#forgot_your_password_container .step_2 {
  display: none;
}
#footer_tagline {
  margin-top: 30px;
  font-size: 14px;
  line-height: 30px;
  border: 1px solid transparent;
  text-align: center;
}
#footer_tagline .footer_tagline_container_outer {
  position: relative;
  margin-bottom: 50px;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner {
  position: relative;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .copyright_container,
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .mdash,
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by {
  display: inline-block;
  vertical-align: top;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .mdash {
  margin-left: 8px;
  margin-right: 8px;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by {
  margin-top: 10px;
  font-weight: bold;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by span {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by a {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by a span.text_replacement {
  position: absolute;
  text-indent: -9999px;
}
#footer_tagline .footer_tagline_container_outer .footer_tagline_container_inner .powered_by a .fotomatter_logo {
  height: 30px;
}
#cart_table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}
#cart_table thead {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  font-weight: 600;
  text-align: center;
}
#cart_table thead .last {
  border-right: 1px solid #000000;
}
#cart_table tbody {
  background-color: #ffffff;
  border: 1px solid #000000;
}
#cart_table tbody tr {
  border-bottom: 1px solid #000000;
}
#cart_table tbody tr td {
  border-right: 1px solid #000000;
  text-align: center;
  vertical-align: middle;
  color: #000000;
}
#cart_table tbody tr td img {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}
#cart_table tbody tr td.qty input {
  width: 30px;
  text-align: right;
}
#cart_table tbody tr td.delete {
  text-align: center;
  width: 70px;
}
#cart_table tbody tr td.delete .icon-trash-01 {
  font-size: 20px;
  color: #000000;
}
#cart_table tfoot {
  line-height: 25px;
}
#cart_table tfoot td {
  padding-top: 10px;
}
#cart_table tfoot button {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  color: #000000;
  -o-text-overflow: clip;
  text-overflow: clip;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
}
