.button
{
	width: 61px;
	height: 23px;
	position: relative;
	top: 6px;
	cursor: pointer;
}

div#results {
	background: url('../images/misc/newsletterBG.png') no-repeat;
	color: #ffffff;
	width: 309px;
	height: 75px;
	text-align: left; padding-left: 25px; padding-top: 12px; font-size: 13px;
}

span#newsletterWarning {
	position: relative;
	top: -15px;
	padding-left: 25px;
	color: white;
	font-size: 14px;
	display: block;
}
span#newsletterWarning img {
	display: inline;
	margin-left: 3px;
	margin-right: 3px;
	top: 2px;
}

#newsletterContainer {
	position: absolute; left: 540px;
}

.text-label {
    color: #999999;
    font-weight: bold;
}