#contact_us_container {
	> h2 {
		margin: 0px;
		margin-bottom: 20px;
	}
	> p {
		margin-bottom: 30px;
	}
	.input, .submit {
		margin-top: 10px;
		margin-bottom: 10px;
		label {
			text-align: right;
			display: inline-block;
			vertical-align: top;
			width: 160px;
			margin-right: 20px;
		}
	}
	.submit {
		margin-top: 15px;
	}
}