#imageActions {
    display: none;
    background: rgba(0,0,0,.25);
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: right;
    font-size: 26px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    color: @white;

    .actionIcons {
        a {
            color: @white;

            span {
                padding: 5px;
            }
        }
    }
}

.fullScreen:-webkit-full-screen {
    img{
        width: 100% !important;
        height: auto !important;
        margin: auto !important;
    }
}
.fullScreen:-moz-full-screen {
    img{
        width: 100% !important;
        height: auto !important;
        margin: auto !important;
    }
}
.fullScreen:-ms-fullscreen {
    img{
        width: 100% !important;
        height: auto !important;
        margin: auto !important;
    }
}     