#imageActions {
    display: none;
    background-repeat: repeat-x;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
    -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    position: absolute;
    bottom: 0px;
    background-position-y: bottom;
    width: 100%;
    text-align: right;
    font-size: 35px;
    height: 50px;
    padding-top: 49px;
    line-height: 50px;
    vertical-align: middle;
    color: @white;

    .actionIcons {
        a {
            color: @white;
            text-shadow: 0 0 2px rgba(0,0,0,.5);

            span {
                padding: 5px;
            }
        }
    }
}

#fullScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    display: none;
    text-align: center;
    vertical-align: middle;

    .fullImage {
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;

        .loading {
            position: absolute;
            top: 45%;
        }
    }

    .close-full-screen {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 44px;
        color: #fff;
        padding: 20px;
        background: rgba(0,0,0,.25);
    }
}

.fullScreen:-webkit-full-screen {
    img{
        width: 100% !important;
        height: auto !important;
        margin: auto !important;
    }
}
.fullScreen:-moz-full-screen {
    img{
        width: 100% !important;
        height: auto !important;
        margin: auto !important;
    }
}
.fullScreen:-ms-fullscreen {
    img{
        width: 100% !important;
        height: auto !important;
        margin: auto !important;
    }
}     