//colors for all
@white: #ffffff;
@black: #000000;
@bg_color_cart: #3b3b3b;
@bg_color_cart_header: #878585;
@button_color: rgba(0,0,0,1);
@button_bg: #ffffff;
@boxshadow_button: rgba(0,0,0,0.2);
@button_hover: rgba(40,40,40,0.7);

@error_red: #FF4336;
@tab2_on_color: #2ac0de;
@warning_tan: #E88A35;