
///////////////////////////////////////////////////
// 4_column gallery
//-----------------------------------
#gallery_list_table {
	width: 100%;
}
#gallery_list_table tr td {
	vertical-align: middle;
	text-align: center;
}
#gallery_list_table tr td .galleries {
	margin: 12px 0px;
}
//-----------------------------------


