body {
  background-color: #000000;
  text-align: center;
}
body .content {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}
body .content .gallerywrapper {
  top: 30px;
  padding-bottom: 5px;
}
body .content .gallerywrapper .background {
  background: url(/img/background_content_bar.png) repeat;
  padding-top: 25px;
  width: 1050px;
  height: auto;
  margin: 94px 0 70px 290px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  color: #555555;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
body .content .gallerywrapper .background .gallery {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: left;
}
body .content .gallerywrapper .background .gallery .gallery_photos {
  display: block;
  float: left;
  margin-right: 20px;
  margin-top: 15px;
}
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size {
  background-color: black;
}
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size,
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size td {
  width: 154px;
  height: 170px;
}
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size td {
  text-align: center;
  vertical-align: middle;
}
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size td,
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size td a {
  text-transform: uppercase;
  color: #555555;
  text-decoration: none;
  cursor: auto;
  margin-right: 15px;
  margin-top: 5px;
}
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size td,
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size td img,
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size td a,
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size td a img {
  border: 0;
}
h1 {
  padding-bottom: 10px;
  color: #999999;
  font-size: 24px;
  background: transparent;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 32px;
  text-transform: uppercase;
  display: block;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
h1.blue {
  border-bottom: 1px solid #0000cc;
}
h1.red {
  border-bottom: 1px solid #cc3333;
}
h1.yellow {
  border-bottom: 1px solid #ffff00;
}
h1.pink {
  border-bottom: 1px solid #ff0099;
}
.clear {
  clear: both;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Didact Gothic', sans-serif;
}
.content {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
}
.content .outer_nav {
  position: relative;
  min-width: 1000px;
  background: url(/img/nav-bar.png) repeat-x;
  color: #ffffff;
  height: 84px;
}
.content .outer_nav .nav {
  position: relative;
  margin-left: 600px;
  margin-right: auto;
  bottom: 16px;
  height: auto;
  width: auto;
  white-space: nowrap;
}
.content .outer_nav .nav #main_nav ul.top_level {
  position: relative;
  bottom: 24px;
  font-size: 17px;
  text-transform: uppercase;
}
.content .outer_nav .nav #main_nav ul.top_level > li {
  margin-top: -10px;
  padding-right: 31px;
  padding-left: 14px;
  padding-top: 7px;
  padding-bottom: 12px;
  list-style-type: none;
  float: left;
  margin-left: 30px;
  color: #ffffff;
  position: relative;
}
.content .outer_nav .nav #main_nav ul.top_level > li a {
  color: #ffffff;
  text-decoration: none;
}
.content .outer_nav .nav #main_nav ul.top_level > li.hover {
  background-color: #ffffff;
  color: #000000;
}
.content .outer_nav .nav #main_nav ul.top_level > li.hover,
.content .outer_nav .nav #main_nav ul.top_level > li.hover a {
  color: #999999;
}
.content .outer_nav .nav #main_nav ul.top_level > li ul.second_level {
  -moz-box-shadow: 2px 2px 2px #333333;
  -webkit-box-shadow: 2px 2px 2px #333333;
  box-shadow: 2px 2px 2px #333333;
  width: 205px;
  left: 0px;
  top: 33px;
  display: none;
  padding: 0px;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 15px;
  font-size: 13px;
}
.content .outer_nav .nav #main_nav ul.top_level > li ul.second_level li {
  border-bottom: 1px solid #999999;
  float: none;
  text-align: left;
  list-style-type: none;
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 5px;
  padding-right: 16px;
  padding-top: 3px;
}
.content .outer_nav .nav #main_nav ul.top_level > li ul.second_level li,
.content .outer_nav .nav #main_nav ul.top_level > li ul.second_level li a {
  color: #000000;
  text-decoration: none;
  padding-bottom: 4px;
}
.content .outer_nav .nav #main_nav ul.top_level > li ul.second_level li:hover,
.content .outer_nav .nav #main_nav ul.top_level > li ul.second_level li:hover a {
  color: #999999;
}
.content .outer_nav .nav #main_nav ul.top_level > li.hover ul {
  display: block;
}
#logo_cont {
  position: relative;
}
#mainName {
  position: absolute;
}
nav_location {
  position: relative;
  top: 30px;
}
.footer {
  width: 100%;
  background-color: #000000;
  color: #666666;
  height: 50px;
  line-height: 45px;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
.footer .inner_footer {
  position: relative;
  top: 8px;
  float: left;
  margin-left: 40px;
  background-color: inherit;
  font-size: 12px;
  z-index: 1100;
  line-height: 45;
}
.footer .inner_footer #footer_tagline {
  margin-top: 0px;
}
.footer .inner_footer #footer_tagline .footer_tagline_container_outer {
  margin-bottom: 0px;
}
.footer .inner_footer #footer_tagline .footer_tagline_container_inner,
.footer .inner_footer #footer_tagline .footer_tagline_container_inner a {
  color: #666666;
}
#controls-wrapper {
  bottom: 45px;
  background: none;
}
.sidebar {
  position: absolute;
  left: 28px;
  top: 168px;
}
.sidebar ul {
  padding: 20px;
  width: 230px;
}
.sidebar ul,
.sidebar ul .dark_background {
  background: url(/img/background_content_bar.png) repeat;
  margin-bottom: 0px;
}
.sidebar ul,
.sidebar ul .separator {
  margin-top: 10px;
}
.sidebar ul li {
  text-transform: uppercase;
  list-style-type: none;
  font-size: 33px;
  text-align: left;
  color: #ffffff;
}
.sidebar ul li a {
  font-size: 18px;
  color: #999999;
  text-decoration: none;
}
.sidebar ul li a:hover {
  color: #ffffff;
}
.sidebar ul .small_text_header {
  font-size: 23px;
  margin-left: 5px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  line-height: 16px;
  border-bottom: 1px dotted #666666;
  color: #999999;
}
.sidebar ul .list_item {
  margin-left: 5px;
  line-height: 16px;
  border-bottom: 0px dotted #666666;
}
.right_sidebar {
  position: absolute;
  left: 1120px;
  top: 178px;
}
.right_sidebar ul li {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 78px;
  height: 96px;
}
.right_sidebar ul li a {
  width: 78px;
  height: 96px;
  display: block;
  background-image: url(/img/clear_arrows.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.right_sidebar ul li.red:hover {
  background-color: #cc3333;
}
.right_sidebar ul li.blue:hover {
  background-color: #0000cc;
}
.right_sidebar ul li.yellow:hover {
  background-color: #ffff00;
}
.right_sidebar ul li.pink:hover {
  background-color: #ff0099;
}
.right_sidebar ul li.first a {
  background-position: 0px 0px;
}
.right_sidebar ul li.last a {
  background-position: -78px 0px;
}
h1 {
  text-align: left;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
h1.no_line {
  border-bottom: none;
  line-height: 0px;
  padding-bottom: 0px;
}
.cart_ajustment {
  margin-left: 6px;
}
.cart_ajustment.blue button:hover {
  background-color: #0000cc;
}
.cart_ajustment.pink button:hover {
  background-color: #ff0099;
}
.cart_ajustment.yellow button:hover {
  background-color: #ffff00;
}
.cart_ajustment.red button:hover {
  background-color: #cc3333;
}
.cart_ajustment h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 7px;
  color: #999999;
}
.cart_ajustment button {
  margin-top: 20px;
  border: 1px solid #32373b;
  background-color: #333333;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  color: #999999;
}
.cart_ajustment button:hover {
  cursor: pointer;
  color: #ffffff;
}
.cart_ajustment select {
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 16px;
}
.photo_description {
  width: 735px;
  height: auto;
  margin-left: 311px;
  margin-right: auto;
  padding: 25px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  margin-top: 0px;
  margin-bottom: 100px;
  background: url(/img/background_content_bar.png) repeat;
}
.photo_description li {
  text-transform: uppercase;
  list-style-type: none;
  font-size: 18px;
  text-align: left;
  color: #555555;
  text-decoration: none;
}
.photo_description li .text_change {
  text-transform: none;
  color: #999999;
  font-size: 18px;
}
.background_photo {
  background: url(/img/background_content_bar.png) repeat;
  padding-top: 25px;
  width: 735px;
  height: auto;
  margin: 94px 0 70px 290px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  color: #555555;
  position: relative;
  margin-left: 311px;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
}
.background_photo ul {
  color: #999999;
  font-size: 18px;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.background_photo ul.blue {
  border-bottom: 1px solid #0000cc;
}
.background_photo ul.red {
  border-bottom: 1px solid #cc3333;
}
.background_photo ul.yellow {
  border-bottom: 1px solid #ffff00;
}
.background_photo ul.pink {
  border-bottom: 1px solid #ff0099;
}
.background_photo ul li {
  list-style-type: none;
  text-align: left;
}
.background_photo .gallery {
  padding-top: 20px;
  padding-bottom: 20px;
}
#cart_table {
  color: #000000;
  width: 100%;
  height: auto;
  border-collapse: collapse;
  margin-top: 30px;
  text-align: center;
}
#cart_table thead tr th {
  border-bottom: 1px solid #666666;
  border-top: 1px solid #cccccc;
}
#cart_table thead tr th.total {
  border-right: 1px solid #666666;
  background-color: #cccccc;
}
#cart_table thead tr th.image {
  border-left: 1px solid #666666;
  background-color: #cccccc;
}
#cart_table thead tr th.price {
  background-color: #cccccc;
}
#cart_table thead tr th.qty {
  background-color: #cccccc;
}
#cart_table tbody {
  border-bottom: 1px solid #666666;
  background-color: #ffffff;
}
#cart_table tbody tr td.total {
  border-right: 1px solid #666666;
  border-left: 1px solid #666666;
  border-bottom: 1px solid #666666;
}
#cart_table tbody tr td.image {
  border-left: 1px solid #666666;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 12px;
  border: 1px solid #666666;
  height: 100px;
}
#cart_table tbody tr td.image img {
  border: 1px solid #000000;
  float: left;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}
#cart_table tbody tr td.price {
  border-left: 1px solid #666666;
  border-bottom: 1px solid #666666;
}
#cart_table tbody tr td.qty {
  border-left: 1px solid #666666;
  border-bottom: 1px solid #666666;
}
#cart_table tfoot {
  color: #ffffff;
}
#cart_table tfoot tr td {
  padding-top: 10px;
  padding-bottom: 40px;
  padding-right: 40px;
  line-height: 25px;
}
#cart_table tfoot tr td button {
  margin-top: 20px;
  border: 1px solid #32373b;
  background-color: #333333;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  color: #999999;
}
#cart_table tfoot tr td button:hover {
  cursor: pointer;
  color: #ffffff;
}
.background_photo.blue button:hover {
  background-color: #0000cc;
}
.background_photo.pink button:hover {
  background-color: #ff0099;
}
.background_photo.yellow button:hover {
  background-color: #ffff00;
}
.background_photo.red button:hover {
  background-color: #cc3333;
}
.background_photo.blue #login_container form .submit input:hover {
  background-color: #0000cc;
}
.background_photo.pink #login_container form .submit input:hover {
  background-color: #ff0099;
}
.background_photo.yellow #login_container form .submit input:hover {
  background-color: #ffff00;
}
.background_photo.red #login_container form .submit input:hover {
  background-color: #cc3333;
}
.background_photo.blue h1 {
  border-bottom: 1px solid #0000cc;
}
.background_photo.red h1 {
  border-bottom: 1px solid #cc3333;
}
.background_photo.yellow h1 {
  border-bottom: 1px solid #ffff00;
}
.background_photo.pink h1 {
  border-bottom: 1px solid #ff0099;
}
.background_photo.blue .no_label input:hover {
  background-color: #0000cc;
}
.background_photo.pink .no_label input:hover {
  background-color: #ff0099;
}
.background_photo.yellow .no_label input:hover {
  background-color: #ffff00;
}
.background_photo.red .no_label input:hover {
  background-color: #cc3333;
}
.background_photo.blue .pay_now input:hover {
  background-color: #0000cc;
}
.background_photo.pink .pay_now input:hover {
  background-color: #ff0099;
}
.background_photo.yellow .pay_now input:hover {
  background-color: #ffff00;
}
.background_photo.red .pay_now input:hover {
  background-color: #cc3333;
}
.background_photo a button {
  position: relative;
  left: 83px;
  border: 1px solid #32373b;
  background-color: #333333;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  color: #999999;
}
.background_photo a button:hover {
  cursor: pointer;
  color: #ffffff;
}
.background_photo #login_container {
  outline: none;
  border-top: 1px dotted #666666;
}
.background_photo #login_container .success {
  position: relative;
  left: 30px;
  padding-bottom: 20px;
  text-align: left;
}
.background_photo #login_container form {
  position: relative;
  right: 50px;
  text-align: left;
}
.background_photo #login_container form input:not([type=submit]):not([type=file]) {
  border: 2px solid #ffffff;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 2px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2);
  padding: 5px;
  background: #666666;
  margin: 0 0 10px 0;
}
.background_photo #login_container form .submit input {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #32373b;
  background-color: #333333;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  color: #999999;
}
.background_photo #login_container form .submit input:hover {
  cursor: pointer;
  color: #ffffff;
}
.background_photo #login_container #forgot_your_password_container {
  position: relative;
  right: 271px;
}
.background_photo #login_container #forgot_your_password_container .step_1 {
  position: relative;
  left: 220px;
}
.background_photo #login_container #forgot_your_password_container .step_2 {
  position: relative;
  left: 270px;
  margin-bottom: 20px;
}
.background_photo #login_container #forgot_your_password_container .step_2 hr {
  margin-bottom: 20px;
  border: 1px dotted #666666;
}
.background_photo {
  text-align: left;
}
.background_photo.blue #cart_table tfoot tr td button:hover {
  background-color: #0000cc;
}
.background_photo.pink #cart_table tfoot tr td button:hover {
  background-color: #ff0099;
}
.background_photo.yellow #cart_table tfoot tr td button:hover {
  background-color: #ffff00;
}
.background_photo.red #cart_table tfoot tr td button:hover {
  background-color: #cc3333;
}
.background_photo #shipping_address_container {
  outline: none;
  margin-top: 0px;
}
.background_photo #shipping_address_container .shipping_data_cont {
  margin-top: 30px;
}
.background_photo #shipping_address_container .shipping_data_cont .input input:not([type=submit]):not([type=file]) {
  border: 2px solid #ffffff;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 2px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2);
  padding: 5px;
  background: #666666;
  margin: 0 0 2px 0;
}
.background_photo #shipping_address_container .shipping_data_cont select {
  padding-bottom: 5px;
  padding-top: 5px;
}
.background_photo .no_label input {
  position: relative;
  left: 30px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #32373b;
  background-color: #333333;
  height: 40px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 15px;
  color: #999999;
}
.background_photo .no_label input:hover {
  cursor: pointer;
  background-color: #cc3333;
  color: #ffffff;
}
.bottom_margin {
  margin-bottom: 100px;
}
.bottom_margin .background_photo hr {
  border: 1px dotted #666666;
}
.bottom_margin .background_photo .pay_now input {
  position: relative;
  left: 30px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #32373b;
  background-color: #333333;
  height: 40px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 15px;
  color: #999999;
}
.bottom_margin .background_photo .pay_now input:hover {
  cursor: pointer;
  color: #ffffff;
}
.bottom_margin .background_photo #final_payment_info {
  margin-top: 0px;
  outline: none;
}
.bottom_margin .background_photo #final_payment_info .input input:not([type=submit]):not([type=file]) {
  border: 2px solid #ffffff;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 2px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2);
  padding: 5px;
  background: #666666;
  margin: 0 0 10px 0;
}
.bottom_margin .background_photo #final_payment_info select {
  padding-bottom: 5px;
  padding-top: 5px;
}
.bottom_margin .background_photo #create_account {
  outline: none;
  margin-top: 0px;
  border-bottom: 1px dotted #666666;
}
.bottom_margin .background_photo #create_account .input input:not([type=submit]):not([type=file]) {
  border: 2px solid #ffffff;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 2px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2);
  padding: 5px;
  background: #666666;
  margin: 0 0 10px 0;
}
.bottom_margin .background_photo #shipping_address_summary {
  outline: none;
  margin-top: 0px;
  color: #ffffff;
  border-top: 1px dotted #666666;
}
.bottom_margin .background_photo #shipping_address_summary a {
  color: #999999;
  text-decoration: none;
  font-size: 15px;
}
.bottom_margin .background_photo #shipping_address_summary a:hover {
  color: #ffffff;
}
#cart_table {
  color: #000000;
  width: 100%;
  height: auto;
  border-collapse: collapse;
  margin-top: 30px;
  text-align: center;
}
#cart_table thead tr th {
  border-bottom: 1px solid #666666;
  border-top: 1px solid #cccccc;
  background-color: #cccccc;
}
#cart_table thead tr th.first {
  background-color: #cccccc;
}
#cart_table thead tr th.last {
  background-color: #cccccc;
}
#cart_table tbody {
  border-bottom: 1px solid #666666;
  background-color: #ffffff;
}
#cart_table tbody tr td {
  border-left: 1px solid #666666;
  border-bottom: 1px solid #666666;
}
#cart_table tbody tr td.first {
  border-left: 1px solid #666666;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 12px;
  border: 1px solid #666666;
  height: 100px;
}
#cart_table tbody tr td.first img {
  border: 1px solid #000000;
  float: left;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}
#cart_table tbody tr td.last {
  border-left: 1px solid #666666;
  border-bottom: 1px solid #666666;
}
#cart_table tfoot {
  color: #ffffff;
}
#cart_table tfoot tr td {
  padding-top: 10px;
  padding-bottom: 40px;
  padding-right: 40px;
  line-height: 25px;
}
