body {
  background-color: #000000;
  text-align: center;
}
body .content {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}
body .content .gallerywrapper {
  top: 30px;
  padding-bottom: 5px;
}
body .content .gallerywrapper .background {
  background: url(/img/background_content_bar.png) repeat;
  padding-top: 25px;
  width: 1050px;
  height: auto;
  margin: 94px 0 70px 290px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  color: #555555;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
body .content .gallerywrapper .background .gallery {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: left;
}
body .content .gallerywrapper .background .gallery .gallery_photos {
  display: block;
  float: left;
  margin-right: 20px;
  margin-top: 15px;
}
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size {
  background-color: black;
}
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size,
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size td {
  width: 154px;
  height: 140px;
}
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size td {
  text-align: center;
  vertical-align: middle;
}
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size td,
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size td a {
  text-transform: uppercase;
  color: #555555;
  text-decoration: none;
  cursor: auto;
  margin-right: 15px;
  margin-top: 5px;
}
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size td,
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size td img,
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size td a,
body .content .gallerywrapper .background .gallery .gallery_photos .gallery_photo_size td a img {
  border: 0;
}
h1 {
  padding-bottom: 5px;
  color: #999999;
  border-bottom: 1px solid #cc0000;
  font-size: 24px;
  background: transparent;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 32px;
  text-transform: uppercase;
  display: block;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.clear {
  clear: both;
}
* {
  margin: 0px;
  padding: 0px;
}
.content {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
}
.content .outer_nav {
  position: relative;
  min-width: 1000px;
  background: url(/img/nav-bar.png) repeat-x;
  color: #ffffff;
  height: 84px;
}
.content .outer_nav .nav {
  position: relative;
  margin-left: 600px;
  margin-right: auto;
  bottom: 16px;
  height: auto;
  width: auto;
  white-space: nowrap;
}
.content .outer_nav .nav #main_nav ul.top_level {
  position: relative;
  bottom: 19px;
}
.content .outer_nav .nav #main_nav ul.top_level > li {
  margin-top: -10px;
  padding-right: 14px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 12px;
  list-style-type: none;
  float: left;
  margin-left: 30px;
  color: #ffffff;
  position: relative;
}
.content .outer_nav .nav #main_nav ul.top_level > li a {
  color: #ffffff;
  text-decoration: none;
}
.content .outer_nav .nav #main_nav ul.top_level > li.hover {
  background-color: #ffffff;
  color: #000000;
}
.content .outer_nav .nav #main_nav ul.top_level > li.hover,
.content .outer_nav .nav #main_nav ul.top_level > li.hover a {
  color: #999999;
}
.content .outer_nav .nav #main_nav ul.top_level > li ul.second_level {
  -moz-box-shadow: 2px 2px 2px #333333;
  -webkit-box-shadow: 2px 2px 2px #333333;
  box-shadow: 2px 2px 2px #333333;
  width: 205px;
  left: 0px;
  top: 33px;
  display: none;
  padding: 0px;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 15px;
}
.content .outer_nav .nav #main_nav ul.top_level > li ul.second_level li {
  border-bottom: 1px solid #999999;
  float: none;
  text-align: left;
  list-style-type: none;
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 5px;
  padding-right: 16px;
  padding-top: 8px;
}
.content .outer_nav .nav #main_nav ul.top_level > li ul.second_level li,
.content .outer_nav .nav #main_nav ul.top_level > li ul.second_level li a {
  color: #000000;
  text-decoration: none;
}
.content .outer_nav .nav #main_nav ul.top_level > li ul.second_level li:hover,
.content .outer_nav .nav #main_nav ul.top_level > li ul.second_level li:hover a {
  color: #999999;
}
.content .outer_nav .nav #main_nav ul.top_level > li.hover ul {
  display: block;
}
#logo_cont {
  position: relative;
}
#mainName {
  position: absolute;
}
nav_location {
  position: relative;
  top: 30px;
}
.footer {
  width: 100%;
  background-color: #000000;
  color: #666666;
  height: 50px;
  line-height: 45px;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
.footer .inner_footer {
  position: relative;
  top: 8px;
  float: left;
  margin-left: 40px;
  background-color: inherit;
  font-size: 12px;
  z-index: 1100;
  line-height: 45;
}
.footer .inner_footer #footer_tagline {
  margin-top: 0px;
}
.footer .inner_footer #footer_tagline .footer_tagline_container_outer {
  margin-bottom: 0px;
}
.footer .inner_footer #footer_tagline .footer_tagline_container_inner,
.footer .inner_footer #footer_tagline .footer_tagline_container_inner a {
  color: #666666;
}
#controls-wrapper {
  bottom: 45px;
  background: none;
}
