/**************************************************
	start Attribute short cuts
**************************************************/
.defaultText { width: 300px; }
.defaultTextActive { color: #a1a1a1; font-style: italic; }
.cursor-progress {
	cursor:progress !important;
}
.drop-shadow {
	-webkit-box-shadow: 0px 0px 7px #333333;
	-moz-box-shadow: 0px 0px 7px #333333;
	box-shadow: 0px 0px 7px #333333;
}
.rounded-corners {
	-webkit-border-radius: 10px; /* safari/chrome */
	-moz-border-radius: 10px; /* Firefox */
	border-radius: 10px; /* CSS3 */
}
.rounded-corners-small {
	-webkit-border-radius: 7px; /* safari/chrome */
	-moz-border-radius: 7px; /* Firefox */
	border-radius: 7px; /* CSS3 */
}
.rounded-corners-tiny {
	-webkit-border-radius: 3px; /* safari/chrome */
	-moz-border-radius: 3px; /* Firefox */
	border-radius: 3px; /* CSS3 */
}
.no-bottom-rounded {
	-webkit-border-bottom-left-radius: 0px; /* safari/chrome */
	-webkit-border-bottom-right-radius: 0px; /* safari/chrome */
	-moz-border-bottom-left-radius: 0px; /* Firefox */
	-moz-border-bottom-right-radius: 0px; /* Firefox */
	border-bottom-right-radius: 0px; /* CSS3 */
	border-bottom-left-radius: 0px; /* CSS3 */
}
.clear {
	clear:both;
}
.inline {
	display: inline;
}
.right {
	float: right;
}
.left {
	float: left;
}
.med_height {
	height:582px;
}
.clear {
	clear: both;
}
.grey_hr {
	height: 4px;
	background-color: #303030;
	color: #303030;
	width: 100%;
	clear: both;
	margin: 0px;
	margin-bottom: 3px;
	margin-top: 3px;
}
.empty_help_content {
	color: #404040;
	font-size: 50px;
	position: absolute; 
	top: 15%;
	bottom: 10%;
	left: 10%;
	right: 10%;
	display: none;
	text-align: center;
	overflow: hidden;
}

.abs_image_br , .abs_image_tr, .abs_image_tl {
	position: absolute;
	right: -15px;
	bottom: -15px;
	cursor: pointer;
}

.abs_image_tr {
	right: -15px;
	top: -15px;
	bottom: inherit;
}

.abs_image_tl {
	left: -15px;
	top: -15px;
	bottom: inherit;
	right: inherit;
}

/***End Attribute shortcuts***********/