#account-details {
    padding: 0px 15px;
   
    fieldset {
        padding: 15px 30px 20px;
        margin: 15px 0;
        border:1px solid @subdued_text;
        color: @subdued_text;
    }

    fieldset.payment {
        display:inline-block;

        .payment-summary {
            margin:0 10px;
            color:@subdued_text;
            font-size:13px;

            .payment-details {
                button {
                    margin: 0 10px;
                }
                display:inline-block;
                margin:0 60px;
            }
            
            .edit-details {
                display:inline-block;
                

                button {
                    font-size:12px;
                    margin: 0 10px;
                }
            }

            a.free-link {
                display:block;
            }
        }
    }

    
}

#line_item_cont {
   
    padding:10px;

    .body_container {
        width:80%;
    }

    .finish {
        input {
            display:none;
        }
    }
    
    .line_item {
        .bar {
            div.bar-right {
                span {
                    margin: 0;
                }
                i {
                    margin: 0 5px;
                }
                float:right;
                cursor:pointer;
            }
          
            h5 {
                display:inline-block;
            }
            border:1px solid black;
            padding:7px 3px 7px 7px;
            background-color: @midtone_background;
        }
        .item_ad_area {
            
            width: 99%;
            height: 300px;
            background-color: lighten(@midtone_background, 20%);
            margin:0px auto;
            display:none;
        }
        width:80%;
    }

}