/**************************************************
	TOP NAV
**************************************************/
#top-navigation {
	
}
#top-navigation li {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 4px;
	background: #454545;
	padding: 11px;
	-moz-border-radius-topleft: 5px; /* Firefox */
	-moz-border-radius-topright: 5px; /* Firefox */
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
}
#top-navigation li a {
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	margin: 0;
	font-family: 'Lucida Grande', 'Trebuchet MS','Lucida Sans Unicode','Lucida Sans Regular', Verdana, sans-serif;
	text-align: center;
	color: #AAA;
}
#top-navigation li a:hover {
	color: #D9D9D9;
}
#top-navigation li.curr {
	background: #303030;
}
#top-navigation li.curr a {
	color: #D9D9D9;
}
/*** END TOP NAV ****/