.flashMessage {
	padding: 10px 20px 10px;
	margin-top: 20px;
	margin-bottom: 30px;
	display:inline-block;
	vertical-align: top;
	background-color: @off_black + @button_bg_increase;
	border: 2px solid @button_border;
	color: @white;
	span {
		margin: 0 0 0 10px;
	}
	&.error i {
		color: @error_red;
	}
	&.success i {
		color: @tab2_on_color;
	}
	&.warning i {
		color: lightsalmon;
	}
}