/**************************************************
	Mini Types
**************************************************/
.empty_help_content a {
	color: @lessreadable-text;
}
.box_icon_size {
	position: absolute; height: 60px; width: 200px; right: 55px; top: 0px;
	text-align: right;
}
.box_icon_size div {
	border-top: 3px solid #2B2B2B;
	border-bottom: 1px solid #2B2B2B;
	border-right: 1px solid #2B2B2B;
	border-left: 1px solid #2B2B2B;
	background: @subdued_text;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	color: #333333;
	text-align: center;
	font-size: 26px;
	-moz-border-radius-bottomleft: 5px; /* Firefox */
	border-bottom-left-radius: 5px; /* CSS3 */
	-moz-border-radius-bottomright: 5px; /* Firefox */
	border-bottom-right-radius: 5px; /* CSS3 */
	margin-left: 2px;
	line-height: 30px;
}
.box_icon_size div:hover {
	background: #E6E6E6;
}
.box_icon_size div.selected {
	background: #2B2B2B;
	color: #E6E6E6;
	border-bottom: 1px solid #2B2B2B;
	border-right: 1px solid #2B2B2B;
	border-left: 1px solid #2B2B2B;
}
.box_icon_size #small_icon {
	width: 30px; height: 30px;
	line-height: 30px;
	font-size: 26px;
}
.box_icon_size #medium_icon {
	width: 32px; height: 32px;
	line-height: 32px;
	font-size: 28px;
}
.box_icon_size #large_icon {
	width: 34px; height: 34px;
	line-height: 34px;
	font-size: 31px;
}
.custom_dialog {
	display: none;
}
.custom_ui_radio .ui-button-text-only .ui-button-text, .custom_ui input.ui-button, .custom_ui button.ui-button span {
	padding: .1em .5em;
}
.custom_ui_radio .ui-state-active, .custom_ui_radio .ui-widget-content .ui-state-active, .custom_ui_radio .ui-widget-header .ui-state-active, .custom_ui_radio .ui-state-default, .custom_ui_radio .ui-widget-content .ui-state-default, .custom_ui_radio .ui-widget-header .ui-state-default, .custom_ui .ui-state-default, .custom_ui .ui-state-active {
	border: 1px solid #292929;
}
.custom_ui_radio .ui-widget, .custom_ui .ui-widget {
	font-size: inherit;
	font-family: inherit;
}
.custom_ui_radio .ui-state-disabled, 
.custom_ui_radio .ui-widget-content .ui-state-disabled, 
.custom_ui_radio .ui-widget-header .ui-state-disabled {
	opacity: 1 !important;
	filter: Alpha(Opacity=100) !important;
}
.content-background {
	background-color: #222;
	border-top: 1px solid #222;
}
.medium_message_box {
	display:inline-block;
	min-height:60px;
	background-color:#444444;
	padding:20px 25px 0;
}
/* tinymce global style */
.tinymce table#mce_0_toolbar1 {
	margin: 0 auto;
}
.basic_page_heading .title {
	font-size:18px;
}
.basic_page_heading p {
	font-size:12px;
}