/**************************************************
	GENERIC SUB-NAV
**************************************************/
div#sub-nav {
	background:transparent url(/ssp/img/bg_subnav.gif) no-repeat scroll 100% 0;
	margin-top: 15px;
}

div#sub-nav ul li a, div.dp-popup a.disabled {
	color:#aaa;
}

div#sub-nav ul li.title {
	background:#121212 url(/ssp/img/bg_subnav_title.gif) no-repeat scroll 0 0;
	font-weight:bold;
}

div#sub-nav ul li.spacer {
	background:transparent url(/ssp/img/bg_subnav_spacer.gif) no-repeat scroll 0 0;
}
div#sub-nav {height:36px; line-height:36px; position:relative; float:left; display:block; width:100%; margin-bottom:20px}
div#sub-nav ul {list-style:none; height:36px; width:100%; display:block}
div#sub-nav ul li {float:left; margin:0 18px 0 0}
div#sub-nav ul li a {font-weight:bold; font-size:11px; float:left; display:block; text-decoration:none; font-family:'Lucida Grande', 'Trebuchet MS','Lucida Sans Unicode','Lucida Sans Regular', Verdana, sans-serif}
div#sub-nav ul li.title {padding:0 15px; margin-right:0}
div#sub-nav ul li.spacer {width:21px; margin-right:10px}
div#sub-nav ul li a:hover, 
div#sub-nav ul li.selected a, 
div#sub-nav ul li.title a { color: #D9D9D9; }
/**** GENERIC SUB-NAV ****/