.flashMessage {
	padding: 10px 20px 10px;
	margin-top: 20px;
	margin-bottom: 30px;
	display:inline-block;
	vertical-align: top;
}

.flashMessage.error {
	border: 1px solid grey;
	background-color: darkgrey;
	color: @white;

	span {
		margin: 0 0 0 10px;
	}
}

.flashMessage.success {
	border: 1px solid grey;
	background-color: #ECFFDD;
	color: #1E4500;

	span {
		margin: 0 0 0 10px;
	}
}