.fm_summary_cont {
	h3 {
		margin:15px;
		font-size:17px;
		margin-top:10px;
		margin-bottom:14px;
		-moz-border-radius:0;
	}
	
	.container {
		background-color:#222222;
		min-height:100px;
	}
	width:60%;
	margin:10px 0 5px;
}

.fm_summary_cont.small {
	width:40%;
}

.fm_summary_cont.large {
	width:80%;
}