.profile-outer-cont {
    label {
        width:100px;
        display:inline-block;
        font-size:13px;
        text-align:right;
        margin:0 15px 0 0;
    }
    .payment {
        margin:35px 0 0 0;
    }
    div.input {
        margin:0 0 3px 0;
    }
}