@domain_avail: #7FFF74;
@domain_not_avail: #FFA8A8;

#domains-outer-cont {
	margin:10px 5px;

	.domain_result {
		margin:26px 0;
		width:630px;

		table {
			tr {
				td {
					button {
						font-size:13px;
					}
				}
			}
		}
	}

	.domain_header {
		min-height:40px;
		.direct_result {
			margin:4px 15px;
			display:inline-block;

			h3 {
				font-size:28px;
			}
		}

		.direct_result.not_avail {
			span {
				color:@domain_not_avail;
			}
		}

		.direct_result.avail {
			span {
				color:@domain_avail;
			}
		}

		.search_box {
			display:inline-block;
			float:left;
			button {
				font-size:14px;
			}

			input {
				.rounded-corners(3px);
				padding:5px;
				width:200px;
			}
		}
	}
}
	
#account-details {
    padding: 0px 15px;
   
    .fm_summary_cont {
		.table_header_darker {
			border-radius:0;
			-moz-border-radius:0;
			height:15px;
			line-height:20px;
		}
	}

	.fm_summary_cont {
		.container {
			.info {
				.label {
					font-weight:bold;
				}
			
				display:inline-block;
				margin:15px 45px;
				width:240px;
			}
		}
	}

	.fm_summary_cont {
		.container {
			table.list {
				th {
					background-color:@darker-background;
				}
			}
		}
	}

	form {
		.input {
			input {
				border:1px solid black;
			}
		}
	}
}

#line_item_cont {
   
    padding:10px;

	.pay_fail_message {
		border:1px solid grey;
		padding:20px;
		margin:15px 1px 25px;
		width:33%;
		background-color:#460E00;
		color: #FFF4F1;
	}

    .body_container {
        width:650px;
		display:inline-block;
		float:left;
		margin:0 40px 0 0;
		
    }

	.account-details.finish-shown {
		.finish-outer-cont {
			border-bottom: 1px solid white;
		}
		.details {
			margin:20px 0 0 0;
		}
	}

	.account-details {
		display:none;
		border:1px solid grey;
		width:300px;
		min-height:100px;
		float:left;
		display:inline-block;
		background-color: @midtone_background;
		padding:15px;
		p {
			font-size:28px;
		}
		button {
			margin: 25px 0 20px;
			background: none @action_background;
			color: @action_text;
		}
		button:hover {
			background: none @action_hover_background;
		}
		.details {
			.detail {
				margin: 20px 0;
				span.title {
					font-weight:bold;
					margin:0 10px 0 0;
				}
				span.pending_total {
					color: @warn_text_color;
				}
			}
		}
	}

    .finish {
        input {
            display:none;
        }
    }

	.line_item.line_not_added {
		.bar {
			background-color: #292929;
			.bar-right {
				span.toggle {
					color: #5E5E5E;
				}
				i {
					color: #5E5E5E;
				}
			}
			h5 {
				color: #5E5E5E;
			}
		}
	}
    
    .line_item {
        .bar {
            div.bar-right {
                span {
                    margin: 0;
                }
                i {
                    margin: 0 5px;
                }
                float:right;
                cursor:pointer;
				button.ui-button {
					min-width:80px;
					span {
						font-size:14px;
						padding:3px;
					}
				}
            }
          
            h5 {
                display:inline-block;
				margin:7px;
            }
            border:1px solid black;
            padding:7px 3px 7px 7px;
            background-color: @midtone_background;
        }
        .item_ad_area {
            
            width: 99%;
            height: 300px;
            background-color: lighten(@midtone_background, 20%);
            margin:0px auto;
            display:none;
        }
    }
}

.promo_notify {
	margin:15px 10px;

	h3{
		font-weight:bold;
		font-size:20px;
		color: #fff;
	}

	p {
		margin: 18px 2px;
	}
	
	span.title {
		color: @slightly_darker_white_text;
	}

	.promo_credit_balance, .due_today {
		margin: 0 10px;
	}

	.actions {
		button {
			font-size:15px;
			font-weight:bold;
			color: #464646;
		}
	}
}

#finish_account_change {
	margin:20px 0;
	.summary {
		float:right;
	}

	.cc_info {
		float:left;
		margin:5px;
		width:280px;
	}

	.payment_item {
		.label {
			font-size:18px;
			font-weight:bold;
			color:@slightly_darker_white_text;
			margin:15px 10px 0 0;
		}
		.value {
			display:inline-block;
			float:right;
		}
		margin:5px 10px;
	}

	.due_today {
		a {
			color:@link_color;
		}
	}

	.pending_change{
		font-size:18px;
		font-weight:bold;
		color:@slightly_darker_white_text;
		margin:15px 0;
	}

	button.finalize_change {
		margin:20px;
		font-size:15px;
		float:right;
	}

	.change-cont {
		margin:0 auto;
		width:542px;
	}

	.change_summary {
		border:1px solid grey;
		min-height:150px;
		padding:10px;
		margin:0 auto;
		.item_to_add {
			height:32px;
			border-bottom:1px solid grey;
			div {
				display:inline-block;
				float:left;
			}

			div.item_name {
				border-right:1px solid grey;
				padding:5px 95px;
				width:170px;
			}

			div.item_cost {
				padding:5px 50px 5px 64px
			}
		}
	}
}


