/**************************************************
	ADMIN EVERYPAGE STYLES
**************************************************/
html, body {
	background-color: #222;
}

#main .top_links {
	background: #141414;
	border-bottom: 1px solid #282828;
	height: 22px;
}
#main .below_links {
	padding: 33px;
}

#middle {
	min-height: 400px;
	padding: 12px;
	padding-top: 40px;
	-moz-border-radius-topleft: 0px; /* Firefox */
	border-top-left-radius: 0px; /* CSS3 */
}
.message_div {
	position:fixed;
	top:40%;
	left:40%;
	color:#fff;
	font-size:35px;
}
.foto_background_alert .x_button {
	background: url('/img/admin/icons/bw_simple_close_icon.png') no-repeat 0px;
	height:40px;
	width:40px;
	display:inline-block;
	position:absolute;
	cursor:pointer;
}
/*gallery chooser*/
.gallery-chooser-cont .gallery-chooser {
	height:250px;
	overflow:auto;
}

.gallery-chooser-cont .no_galleries_added {
        height:248px;
        background-color:@darker-background;
        color:@lessreadable-text;
        text-align:center;
        margin:5px 0;
}

.gallery-chooser-cont .no_galleries_added p {
     position:relative;
     top:34px;
     font-size:35px;
     padding:0 15px;
}
/* end gallery chooser */


/* tag chooser */
.outer-tag-chooser-cont .header .title {
	padding:5px 0;
	margin:5px 0;
}

.outer-tag-chooser-cont .header p {
	padding:0 5px;
}

.outer-tag-chooser-cont div.tagsinput {
	margin:10px 5px;
}


/* end tag chooser */