form.fm_form {
	//TODO Put in styling for form
	margin:10px;
	display:inline-block;

	h3 {
		font-weight:bold;
		margin:10px 0;
		color:#fff;
	}
    label {
        width:80px;
        display:inline-block;
        font-size:13px;
    }

	.input {
		margin:5px 0;

		select {
			padding:2px;
			width:210px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			border:1px solid #222222;
		}

		input {
			padding:2px;
			width:180px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			border:1px solid #222222;
		}
	}

	.submit input {
		width:auto;
		padding:5px 10px;
		.rounded-corners(5px);
	}
}
