#print_type_pricing_cont {
	table.list {
		td {
			padding: 7px;
		}
		width: 760px;
		input {
			width: 50px;
		}
		.price_width {
			width: 80px;
		}
	}
}
.basic_settings { .basic_setting_cont { label { min-width: 180px; } } }

