/************************************************
	START PHOTO SECTION
************************************************/
/*Photo global*/
.photo_pages h1.top_heading {
	font-size:30px
}
.photo_pages .upload_body {
	display:inline-block;
	width:100%;
	height:400px;
}
	
.photo_pages input.mass_upload_button {
	margin:10px 20px;
	padding:5px 5px 5px 45px;
	font-size:15px;
	background-color:#cecece;
	font-weight:bold;
}
/*End Photo Global*/
/*Start photo upload*/
#photo_mass_upload_outer_wrapper .upload_content {
	position:relative;
}

#photo_mass_upload_outer_wrapper .upload_content .table_header_darker h2 {
	width:30%;
	display:inline-block;
	float:left;
}
#photo_mass_upload_outer_wrapper .upload_content .upload_files_cont button {
	color:#F7F7F7;
	padding:0 0 0 20px;
	background:url('/img/admin/icons/add_for_upload.png') no-repeat 8px #407E40;
}

#photo_mass_upload_outer_wrapper .upload_content .upload_files_cont button:hover {
    background-color:#74B374;
}

#photo_mass_upload_outer_wrapper .upload_content button[type=submit] {
	background:url('/img/admin/icons/send_for_upload.png') no-repeat 8px #205B88;
	padding:0 0 0 20px;
	color:#F7F7F7;
}

#photo_mass_upload_outer_wrapper .upload_content button[type=submit]:hover {
    background-color:#488ABD;
}

#photo_mass_upload_outer_wrapper .upload_content .upload_files_cont {
	margin:12px 13px 0 25px;
	display:inline-block;
}

#photo_mass_upload_outer_wrapper .fileupload-buttonbar {
	margin-bottom:-3px;
}

#photo_mass_upload_outer_wrapper .upload_content .upload_files_cont input[type=file] {
        display:none;
	position:absolute;
	top:0;
	right:0;
	z-index:2;
	height:39px;
	cursor:pointer;
	left:-60px;
	top:14px;
	width:188px;
}

#photo_mass_upload_outer_wrapper .upload_content .generic_photo_gallery_cont {
	width:27%;
	height:300px;
	float:left;
	margin-left:-100%;
	margin:12px 0 0 -100%;
}

#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont {
	float:left;
	width:100%;
	margin:0 0 25px 30px;
}

#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont .files_ready_to_upload_inner_cont {
	margin-left:30%;
	position:relative;
}

#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont .files_ready_to_upload_inner_cont button[type=submit] {
	
}

#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont .files_ready_to_upload_inner_cont .empty_help_content {
	top:31%;
	left:8%;
	right:13%;
}

#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont .table_cont {
	background-color:#282828;
	min-height:446px;
	width:88%;
	margin:0 0 0 26px;
}

#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table {
	width:100%;
	margin:15px 0px;
}

#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table th {
	text-align:left;
	padding:5px 15px;
	background-color:#1c1c1c;
}

#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table td.preview span.fade{
	display:block;
	margin:3px auto;
}

#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table td {
	padding:5px 15px;
}

#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table tr {
	border:1px solid #353535;
	min-height:100px
}

#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table tr.template-upload td.center-middle {
	vertical-align: middle;
	text-align:center;
}

#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table tr.template-upload td.middle {
	vertical-align: middle;
}

#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table tr.template-upload td .non-image {

}

#photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table td, #photo_mass_upload_outer_wrapper .upload_content .files_ready_to_upload_cont table th {
	padding:8px 25px;
}

.upload_in_progress_cont {
	width:30%;
	top:30%;
	left:32%;
	min-height:100px;
}

.upload_in_progress .upload_in_progress_header {
	font-size:22px;
	margin:12px 2px 2px 2px;
}

.upload_in_progress .overall_upload {
	margin:10px;
	font-size:12px;
}

.upload_in_progress .overall_upload div.label {
	font-size:14px;
	float:left;
	margin:5px 20px 2px 0;
}

.upload_in_progress .overall_upload div.progress {
	margin:0 10px;
	
}

.upload_in_progress_cont .count_uploaded_cont {
	font-size:20px;
	position:absolute;
	top:60%;
	left:62%;
}
.upload_complete .error_cont {
	font-size:12px;
	margin:30px auto;
	max-width:90%;
	background-color:#C6C6C6;
	color:#000;
	padding:10px;
}
.upload_complete .error_cont p {
	font-weight:bold;
}
.upload_complete .error_cont ul {
	margin:5px 25px;
}
/* End photo upload */


/* START PHOTO EDIT PAGE */
#image_edit_container {
	.image_edit_block {
		display: inline-block;
		vertical-align: top;
		width: 350px;
		margin-right: 30px;
	}
}

#image_sellable_prints {
	.list {
		tbody {
			.lock_img, .unlock_img {
				cursor: pointer;
				display: inline-block;
				vertical-align: top;
			}
			.lock_img {
				display: inline-block;
			}
			.unlock_img {
				display: none;
			}
		}
	}
}

.opacity_50 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}


/* END PHOTO EDIT PAGE */

/***** END PHOTO SECTION****/

