#print_type_pricing_cont {
	table.list {
		> thead, > tbody {
			> td { padding: 7px; }
		}
		width: 760px;
		input { width: 50px; }
		.price_width { width: 80px; }
	}
}
.basic_settings { .basic_setting_cont { label { min-width: 180px; } } }

#fulfill_order_container {
	#cart_table {
		&, th, td {
			border: 1px solid black;
			padding: 20px;
			vertical-align: middle;
		}
	}
}


/// the get paid page
#payable_orders_table {
	width: 100%;
	&, th, td {
		border: 1px solid black;
		padding: 20px;
		vertical-align: middle;
	}
	tfoot tr td {
		text-align: right;
	}
}

