/**************************************************
	ADMIN EVERYPAGE STYLES
**************************************************/
html, body {
	background-color: #222;
}

#main .top_links {
	background: #141414;
	border-bottom: 1px solid #282828;
	height: 22px;
}
#main .below_links {
	padding: 33px;
}
#header .logo {
	position: absolute;
	top: 19px;
	right: 5%;
}

#middle {
	min-height: 400px;
	background-color: @dark-background;
	padding: 12px;
	-moz-border-radius-topleft: 0px; /* Firefox */
	border-top-left-radius: 0px; /* CSS3 */
}
.message_div {
	position:absolute;
	top:40%;
	left:40%;
	color:#fff;
	font-size:35px;
}
.foto_background_alert .x_button {
	background: url('/img/admin/icons/bw_simple_close_icon.png') no-repeat 0px;
	height:40px;
	width:40px;
	display:inline-block;
	position:absolute;
	cursor:pointer;
}
/*gallery chooser*/
.gallery-chooser-cont .gallery-chooser {
	height:250px;
	overflow:auto;
}

.gallery-chooser-cont .no_galleries_added {
        height:248px;
        background-color:@darker-background;
        color:@lessreadable-text;
        text-align:center;
        margin:5px 0;
}

.gallery-chooser-cont .no_galleries_added p {
     position:relative;
     top:34px;
     font-size:35px;
     padding:0 15px;
}

.gallery-chooser table {
	width:100%;
	border:0;
}

.gallery-chooser table td{
	vertical-align:middle;
	min-width:20px;
	cursor:pointer;
}

.gallery-chooser table tr.selected {
	background-color:#667680;
	color:#000;
	
}

.gallery-chooser table tr.selected:hover {
	background-color:#7A8D99;
}

.gallery-chooser table tr:hover *,  .gallery-chooser table tr.selected *{
	background:none;
}

.gallery-chooser table tr:hover {
	background-color:#8A9399;
	color:#333;
	font-weight:bold;
}

.gallery-chooser table tr td.photo {
	min-width:10px;
	padding:10px 3px;
	text-align:center;
}

.gallery-chooser table tr td.photo div {
	width:40px;
	height:40px;
	display:inline-block;
}

.gallery-chooser table tr td.name {
	vertical-align: middle;
	width:70%;
}

.gallery-chooser-cont .heading .title {
	padding:5px 0;
}

.gallery-chooser-cont .heading p {
	padding:5px 3px;
}

/* end gallery chooser */
/* tag chooser */
.outer-tag-chooser-cont .header .title {
	padding:5px 0;
	margin:5px 0;
}

.outer-tag-chooser-cont .header p {
	padding:0 5px;
}

.outer-tag-chooser-cont div.tagsinput {
	margin:10px 5px;
}


/* end tag chooser */