.flashMessage {
	padding: 10px 20px 10px;
	margin-top: 20px;
	margin-bottom: 30px;
	display:inline-block;
	vertical-align: top;
	border: 1px solid grey;
	background-color: #333;
	span {
		margin: 0 0 0 10px;
	}
	&.error {
		color: lightcoral;
	}
	&.success {
		color: lightgreen;
	}
	&.warning {
		color: lightsalmon;
	}
}