.black_loading_popup () {
	display: none;
	position: absolute;
	background-color: @darkest-background;
	padding: 12px;
	font-size: 22px;
}

.rounded-corners-small {
	-webkit-border-radius: 7px; /* safari/chrome */
	-moz-border-radius: 7px; /* Firefox */
	border-radius: 7px; /* CSS3 */
}

.richard_notes {
	z-index: 10000000000000000000;
	display: none;
	background-color: #222;
	position: fixed;
	border: 3px solid #454545;
	bottom: 50px;
	left: 50px;
	padding: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	max-width: 800px;
	ol {
		margin-left: 30px;
		line-height: 25px;
		li {
			list-style: initial !important;
			list-style-type: decimal !important;
		}
	}
}
.richard_notes_toggle {
	z-index: 10000000000000000000;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 30px;
	height: 30px;
	background-color: #454545;
	outline: 2px solid #303030;
	border: 1px solid transparent;
	cursor: pointer;
	span {
		display: inline-block;
		margin-top: 6px;
		margin-left: 5px;
	}
}