.black_loading_popup () {
	display: none;
	position: absolute;
	background-color: @darkest-background;
	padding: 12px;
	font-size: 22px;
}

.rounded-corners-small {
	-webkit-border-radius: 7px; /* safari/chrome */
	-moz-border-radius: 7px; /* Firefox */
	border-radius: 7px; /* CSS3 */
}