// start configure page */
#configure_page_cont {
	.large_container {
		margin-bottom: 20px;
	}
	.photo_details_upload_progress {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	
	
	
	.para_image_cont {
		.image_cont { margin: 22px; margin-top: 0px; margin-bottom: 0px; text-align: center; }
		.left { margin-right: 32px; }
		.right { margin-left: 32px; }
	}
	.para_header_image_cont {
		.image_size_text { padding: 5px; font-size: 12px; text-align: center; }
		.image_upload { text-align: center; margin-left: auto; margin-right: auto; }
	}
	.image_element_image_cont {
		.page_element_top_section {
			text-align: center;
			.image_element_image_upload { 
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
	.avail_page_elements_cont {
		float: left;
		width: 200px;
		margin-right: 30px;
		.content-background { width: auto; }
		.para_header_image_icon {
			background: url('/img/admin/icons/page_element_icons/para_header_image_icon.jpg');
			&:hover { background: url('/img/admin/icons/page_element_icons/para_header_image_icon_hover.jpg'); }
		}
		.image_icon {
			background: url('/img/admin/icons/page_element_icons/image_icon.jpg');
			&:hover { background: url('/img/admin/icons/page_element_icons/image_icon_hover.jpg'); }
		}
		.avail_element_cont {
			position: relative;
			margin: 30px auto;
			text-align: center;
			// IE 8
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
			// IE 5-7 
			filter: alpha(opacity=80);
			// Netscape
			-moz-opacity: 0.8;
			// Safari 1.x 
			-khtml-opacity: 0.8;
			// Good browsers 
			opacity: 0.8;
			&:hover { 
				// IE 8
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				// IE 5-7 
				filter: alpha(opacity=100);
				// Netscape 
				-moz-opacity: 1;
				// Safari 1.x 
				-khtml-opacity: 1;
				// Good browsers 
				opacity: 1;
				//cursor: url(/img/admin/icons/HARDWARE.cur), url(/img/admin/icons/HARDWARE.cur), default;
				cursor: pointer;
			}
			.icon_div {
				width: 155px; height: 116px; display: inline-block;
			}
		}
	}
	
	
	
	
	
	.tiny_mce_test { display: none; }
	.page_content_header { overflow: hidden; }
	.page_content_cont {
		position: relative;
		margin-bottom: 100px;
		min-height: 500px;
		.page_content_inner_cont {
			display: block;
			font-family: Code-Pro-LC;
			font-weight: normal;
			font-style: normal;
			font-size: 20px;
			margin-left: 20px;
			.page_element_top_section {
				padding-bottom: 20px;
				min-height: 60px;
				.para_configure_cont {
/*					color: @main_menu_sub_menu_text_color;
					border: 1px solid @off_black;
					background-color: @main_menu_sub_menu_bg_color - #111;*/
					margin-left: auto;
					margin-right: auto;
					width: 730px;
				}
			}
			.page_element_bottom_section {
				margin-bottom: 30px;
				> table {
					width: 100%;
					> thead, > tbody {
						> tr > td { text-align: center; }
					}
				}
				text-align: middle;
				.para_button_cont {
					/*display: inline-block;*/
				}
			}
			.para_image_cont {
				.actual_image_container .actual_image_inner_container { margin-bottom: 5px; }
				.photo_details_upload_progress, .photo_details_image_upload_form { margin-bottom: 10px; }
			}
		}
	}
/*	.page_element_cont {
		&:hover {
			.page_content_inner_cont .page_element_top_section .para_configure_cont {	
				background-color: @main_menu_sub_menu_bg_color;
			}
		}
	}*/
	
}
// end configure page 







