#photo_gallery_list {
	.gallery_action {
		width: 550px;
	}
}

#connect_gallery_photos_cont {
	.page_content_header {
		border: 1px solid transparent;
		height: initial;
		min-height: 63px;
		#not_in_gallery_icon_size {
			margin-top: 16px;
			&.custom_ui .add_button {
				min-width: initial;
				min-height: initial;
				padding-left: 14px;
				padding-right: 14px;
				.content {
					font-size: 15px;
					margin-top: 9px;
					margin-bottom: 9px;
				}
			}
			> div {
				display: inline-block;
			}
		}
		#add_gallery_filters_cont {
			margin-top: 10px;
			margin-bottom: 16px;
		}
	}
}