/************************************************
	START PHOTO SECTION
************************************************/
#main {
	&.mass_upload { margin-left: 437px; }
	&.photo_details { margin-left: 437px; }
}
.progress_bar_global_fixes() {
	.ui-corner-all {
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
	}
	.ui-widget-content {
		border: 0px;
		background: @gray_text url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;
		/*color: #333;*/
	}
	.ui-widget-header {
		border: 0px;
		background: @tab2_on_color url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
/*		color: #fff;
		font-weight: bold;*/
	}
	.ui-progressbar .ui-progressbar-value {
		margin: 0px;
	}
}
#photo_mass_upload_outer_wrapper {
	.progress_bar_global_fixes();
	.template-upload {
		.ui-widget-header {
			background: @tab2_on_color url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
		}
	}
	
	margin-top: 40px;
	.files_ready_to_upload_cont {
		.page_content_header {
			height: 74px;
		}
		.generic_palette_container {
			.table_cont {
				td.first {
					text-align: left;
					padding-top: 8px;
					padding-bottom: 8px;
				}
				td.thumbnail {
					width: 130px;
					text-align: center;
				}
				td.progress_td {
					max-width: 140px;
					padding-right: 20px;
					padding-left: 20px;
					.size {
						float: right;
						margin-top: 6px;
					}
					.progress {
						.universal_safe_hide();
					}
					.custom_progress {
						width: 160px;
						margin-left: 10px;
						display: block;
						position: relative;
						height: @bigger_progress_bar_height;
					}
				}
				td.last {
					min-width: 70px;
					.cancel, .start {
						.universal_safe_hide();
					}
				}
			}
		}
		.fileupload-buttonbar {
			#upload_photos_file_button, #start_upload_button_old {
				.universal_safe_hide();
			}
			.fileupload-buttons {
				margin-top: 17px;
				width: 500px;
				float: left;
				.add_button {
					margin-left: 20px;
				}
			}
			.fileupload-progress {
				margin-right: 20px;
				position: relative;
				top: 34px;
				margin-left: 30px;
				.progress {
					height: @progress_bar_height;
				}
			}
		}
	}
	.generic_photo_gallery_cont {
		.sub_nav_generic();
		.upload_setting_container {
			margin-top: 30px;
			margin-bottom: 30px;
			h3, select, ul, li {
				.Code-Pro-LC;
			}
			h3 { 
				margin-bottom: 8px; 
				a {
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		.generic_palette_container {
			overflow: visible;
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
		}
	}
}


/* START PHOTO EDIT PAGE */
#image_edit_container {
	.actual_image_container {
		.sub_nav_generic();
		margin-top: 57px;
		.actual_image_inner_container {
			padding: 5px;
			border: 1px solid @gray_text;
			display: inline-block;
			margin-bottom: 33px;
		}
		#photo_details_upload_progress {
			.progress_bar_global_fixes();
			.progress {
				height: @bigger_progress_bar_height;
			}
			margin-bottom: 30px;
		}
		#photo_details_image_upload_form {
			input {
				.universal_safe_hide();
			}
		}
	}
	.sub_submenu_cont .sub_submenu_right_cont .sub_submenu_tab_cont#sub_submenu_tab_0 {
		display: block;
		.tag_select {
			select {
				width: 600px;
			}
		}
	}
	.sub_submenu_right_cont {
		.submit {
			.universal_safe_hide();
		}
	}
}

#image_sellable_prints {
	table.list {
		tbody {
			td {
				padding: 7px;
			}
			td.input {
				width: 179px;
			}
			input {
				width: 60px;
			}
			.lock_img, .unlock_img {
				cursor: pointer;
				display: inline-block;
				vertical-align: top;
			}
			.lock_img {
				display: inline-block;
			}
			.unlock_img {
				display: none;
			}
		}
	}
}

.opacity_50 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}


#pages_list {
	.page_action {
		width: 430px;
	}
}


/* END PHOTO EDIT PAGE */

/***** END PHOTO SECTION****/

