/**************************************************
	GENERIC LIST TABLE CSS
**************************************************/
.table_header, .table_header_darker, .table_header_lighter {
	-moz-border-radius-topleft: 5px; /* Firefox */
	-moz-border-radius-topright: 5px; /* Firefox */
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: @midtone_background;
	padding: 15px;
	padding-left: 25px;
	padding-right: 25px;
	overflow: hidden;
}
.table_header_darker, .table_header_lighter {
	background-color: #171717;
	min-height: 40px;
	padding: 0px;
	border-bottom: 1px solid #171717;
}
.table_header_lighter {
	background-color: #292929; 
	color: @subdued_text; 
	border-bottom: 1px solid #171717;
}
.table_header h2, .table_header_darker h2, .table_header_lighter h2, .table_header .actions, .table_header_darker .actions, .table_header_lighter .actions {
	margin: 15px;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 14px;
	height: 25px; 
	line-height: 29px;
}
.table_header_lighter h2 {
	color: @subdued_text;
}
.table_header .actions, .table_header_darker .actions img, .table_header_lighter .actions img {
	cursor: pointer;
	opacity:0.6;
	filter:alpha(opacity=60);
}
.table_header .actions, .table_header_darker .actions img:hover, .table_header_lighter .actions img:hover {
	opacity:1;
	filter:alpha(opacity=100);
}

.table_border {
	padding: 2px;
	padding-bottom: 20px;
	overflow-x: hidden;
	overflow-y: auto;
}

.table_container {
	.page_content_container();
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 20px;
}

table.list {
	&, div, a { color: @gray_text; }
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
	margin-bottom: 50px;
	> thead {
		> tr {
			height: 106px;
			> th {
				height: 70px;
				vertical-align: bottom;
				.Code-Pro-Bold-LC;
				font-size: 18px;
				text-align: left;
				position: relative;
				a { text-decoration: none; }
				&.first {  }
				&.last { border: 0px; }
				.direction_arrow { display: none; }
				&.curr {
					/* background: #000; 
					a { padding-right: 15px;}
					&.desc a { background: url('/ssp/img/table-sort-arrow-up.png') 100% 1px no-repeat; }
					&.asc a { background: url('/ssp/img/table-sort-arrow-down.png') 100% 4px no-repeat; } */
					.content {
						border-bottom: 4px solid @tab2_on_color;
					}
					.direction_arrow {
						display: block;
						position: absolute;
						left: 0px;
						bottom: 5px;
					}
					&.desc {
						.direction_arrow { .up_facing_triangle(10px, @tab2_on_color); }
					}
					&.asc {
						.direction_arrow { .down_facing_triangle(10px, @tab2_on_color); }
					}
				}
				.content {
					position: relative;
					margin-top: 10px;
					/*height: 68px;*/
					width: 79%;
					//max-width: 125px;
					//border-bottom: 4px solid @tab2_on_color;
					border-bottom: 4px solid @gray_text;
					margin-bottom: 1px;
					padding-bottom: 20px;
					padding-right: 8px;
					&.one_line {
						padding-bottom: 20px;
					}
				}
			}
			.dimension_col { width: 260px; }
			.actions_call { width: 200px; }
		}
	}
	> tbody {
		position: relative;
		> tr {
			> td {
				&, a {
					.Code-Pro-LC;
					font-size: 18px;
					text-decoration: none;
				}
				
				> * {
					margin-left: 20px;
					margin-right: 20px;
					display: inline-block;
					vertical-align: middle;	
				}
				> span {
					display: block;
					margin-left: 0px;
					border-left: 20px solid transparent;
				}
				position: relative;
				border-top: 1px solid @table_and_button_outline;
				&.highlight {
					&, a {
						color: @tab2_on_color;
					}
				}
				border-bottom: 1px solid transparent;
				&.first { 
					border-left: 1px solid @table_and_button_outline;
					> span {
						line-height: 30px;
						i {
							font-size: 30px;
							float: left;
							margin-right: 20px;
						}
					}
				}
				&.last { 
					padding-right: 10px;
					border-right: 1px solid @table_and_button_outline;
					.rightborder { display: none; }
				}
				
				text-align: left;
				vertical-align: middle;
				&.photo_id { width: 58px; }
				&.photo_image { width: 166px; text-align: center; }
				&.photo_title { width: 185px; }
				&.photo_enabled { width: 92px; }
				&.photo_format { width: 120px; }
				background-color: @body_content_top_bg;
				height: 75px;
				font-size: 24px;
				.rightborder {
					background-color: @table_divider;
					height: 14px;
					width: 2px;
					margin: 0px;
					position: absolute;
					right:0px;
					top: 30px;
				}
				&.table_actions{
					text-align: right;
					width: 215px;
					.add_button {
						margin-bottom: 8px;
						margin-top: 8px;
					}
					.feature_pending {
						a {
							color: @tab2_on_color;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
				&.menu_type{ text-align: left; }
				&.table_width_reorder_icon { width: 100px; }
				&.text_width{
					input { width: 50px; }
					> * { margin-left: 0px; }
				}
				&.price_width {
					input {
						width: 40px;
					}
					> * { margin-left: 0px; }
				}
			}
			&:last-child, &.last {
				> td {
					border-bottom: 1px solid @table_and_button_outline;
				}
			}
			&:hover  { 
				> td {
					&, div { color: @top_white; }
					&.item_name{ color: @top_white;}
					border-top: 1px solid @white;
					border-bottom: 1px solid @white;
					&.first { border-left: 1px solid @white; }
					&.last { border-right: 1px solid @white; }
					background-color: @table_hover;
					color: @top_white;
				}
			}
			&.spacer { 
				&:hover, & {
					border: none;
					background: none;
					outline: 0px;
					> td {
						background: none;
						border: none;
						height: 40px;
					}
				}
			}
			&.new {
				> td {
					background: none;
					color: @white;
				}
			}
		}
		
	}
	> tfoot {
		td {
			padding-top: 40px;
			.Code-Pro-Bold-LC;
			font-size: 18px;
			text-align: right;
			vertical-align: middle;
			span {
				&.current { color: @white; }
				&.disabled { display: none; }
			}
			a { 
				cursor: pointer;
				&:hover {
					color: @white;
				}
			}
			.paginator_divider {
				display: inline-block;
				background-color: @table_divider;
				height: 14px;
				width: 2px;
				margin: 0px;
				margin-left: 10px;
				margin-right: 10px;
			}
			
			&.first {
				text-align: center;
				&, p, a {
					font-size: 18px;
				}
			}
			
			.table_summary {
				.hr {
					width: 100%;
					height: 1px;
					background: #43484c;
					margin-top: 5px;
					margin-bottom: 5px;
				}
				.payment_item {
					span {
						line-height: 30px;
					}
					label {
						
					}
					.value {
						display: inline-block;
						min-width: 100px;
						text-align: right;
					}
				}
			}
		}
	}
}

////////////////////////////////////////////////////
.configure_table_list {
	table.list > tbody > tr > td > * { margin-left: 0px; }
	.no_select;
	position: relative;
	.container_item {
		td {
			&.first { padding-left: 30px; }
			&.last { padding-right: 30px; }
			.background {
				margin-top: 20px;
				margin-right: 35px;
				margin-bottom: 20px;
			}
			> span {
				display: inline-block;
				margin-top: 3px;
			}
			> .icon_close {
				margin-top: 20px;
				margin-right: 20px;
				float: right;
			}
			> ul {
				display: block;
				margin-top: 5px;
				margin-bottom: 24px;
				> li {
					.Code-Pro-LC;
					font-size: 20px;
					background-color: @main_menu_sub_menu_bg_color;
					color: @main_menu_sub_menu_text_color;
					margin-left: 20px;
					margin-bottom: 20px;
					border: 1px solid @off_black;
					&:hover {
						background-color: @main_menu_sub_menu_bg_color + @button_bg_increase;
						color: @white;
					}
					h3 {
						margin-left: 35px;
						margin-top: 23px;
						float: left;
					}
					.main_menu_submenu_grabber {
						cursor: move; 
						margin-top: 18px;
						margin-left: 23px;
						background: url('/img/admin/icons/reorder_icon.svg') top center no-repeat; 
						color: @main_menu_sub_menu_text_color;
						float: left;
						width: 30px; 
						height: 30px; 
						.el_opacity(.6, 60);
						&:hover {
							.el_opacity(1, 100);
						}
					}
					.delete_sub_menu_item_button {
						margin-top: 13px;
						margin-bottom: 13px;
						float: right;
						border-top: 0px;
						border-right: 0px;
						border-bottom: 0px;
						background-color: transparent;
						border-left: 1px solid @main_menu_sub_menu_text_color;
						min-height: 36px;
						.content {
							margin-top: 9px;
							margin-bottom: 9px;
							color: @main_menu_sub_menu_text_color;
						}
						&:hover {
							.content {
								color: @white;
							}
						}
					}
				}
			}
		}
	} 
}





/**** END GENERIC LIST TABLE CSS ****/