#upload_background_button {
	margin-bottom: 40px;
}

.custom_ui {
	.add_button {
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		border: 1px solid transparent;
		height: 40px;
		padding-left: 20px;
		padding-right: 20px;
		.content {
			display: inline-block;
			vertical-align: top;
			margin-top: 14px;
			color: @gray_text;
		}
		.Code-Pro-LC;
		//.el_opacity(.6, 60);
		font-size: 18px;
		background-color: @off_black;
		&:hover {
			.content {
				color: @white;
			}
			.right_arrow_lines {
				.right_facing_triangle(10, @white);
				div {
					.right_facing_triangle(10, @off_black);
				}
			}
		}
	}
}


.right_arrow_lines {
	display: inline-block;
	vertical-align: top;
	position: relative;
	.right_facing_triangle(10, @gray_text);
	margin-top: 11px;
	margin-left: 20px;
	div {
		position: absolute;
		top: -10px;
		left: -13px;
		.right_facing_triangle(10, @off_black);
		//.el_opacity(.6, 60);
	}
}















