#configure_theme_background {
	width: @body_content_width;
	.page_content_header {
		p {
			display: inline-block;
			margin-top: 29px;
		}
	}
}

#theme_background_palette_container {
	padding-top: 28px;
	.page_content_container();
	#theme_background_palette {
		overflow: hidden; position: relative;
		outline: 1px solid @top_white;
		margin-top: 20px;
		.theme_background_image_cont {
			cursor: move; display: inline-block; position: absolute;
			outline: 1px solid @top_white_half;
			z-index: @content;
		}
	}
	.ui-resizable-handle { width: 37px; height: 37px; }
	.ui-resizable-ne, .ui-resizable-se { background: url(/img/admin/icons/configure_background_order_grabber_right.gif); }
	.ui-resizable-ne { right: 0px; top: 0px; }
	.ui-resizable-se { right: 0px; bottom: 0px; }
	.ui-resizable-sw, .ui-resizable-nw { background: url(/img/admin/icons/configure_background_order_grabber_left.gif); }
	.ui-resizable-sw { left: 0px; bottom: 0px; }
	.ui-resizable-nw { left: 0px; top: 0px; }
	
}

#upload_background_button {
	margin-bottom: 40px;
}

.custom_ui {
	.add_button {
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		border: 1px solid transparent;
		height: 40px;
		padding-left: 20px;
		padding-right: 20px;
		.content {
			display: inline-block;
			vertical-align: top;
			margin-top: 14px;
			color: @gray_text;
		}
		.Code-Pro-LC;
		//.el_opacity(.6, 60);
		font-size: 18px;
		background-color: @off_black;
		&:hover {
			.content {
				color: @white;
			}
			.right_arrow_lines {
				.right_facing_triangle(10, @white);
				div {
					.right_facing_triangle(10, @off_black);
				}
			}
		}
	}
}

.bg_effects_controls {
	//width: 700px;
}
.slider_container {
	margin-top: 32px;
	margin-bottom: 30px;
	margin-right: 40px;
	width: 400px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	.slider_label {
		display: block;
		position: absolute;
		top: -32px;
		.Code-Pro-LC;
		font-size: 24px;
		&, label {
			color: @gray_text;
		}
	}
}

















