#theme_background_palette_container {
	background: url(/img/admin/general/box_transparent_bg_bottom.png) bottom left repeat-x;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	#theme_background_palette {
		overflow: hidden; position: relative;
		outline: 1px solid @top_white;
		margin-top: 20px;
		.theme_background_image_cont {
			cursor: move; display: inline-block; position: absolute;
			outline: 1px solid @top_white_half;
		}
	}
	.ui-resizable-handle { width: 37px; height: 37px; }
	.ui-resizable-ne, .ui-resizable-se { background: url(/img/admin/icons/configure_background_order_grabber_right.gif); }
	.ui-resizable-ne { right: 0px; top: 0px; }
	.ui-resizable-se { right: 0px; bottom: 0px; }
	.ui-resizable-sw, .ui-resizable-nw { background: url(/img/admin/icons/configure_background_order_grabber_left.gif); }
	.ui-resizable-sw { left: 0px; bottom: 0px; }
	.ui-resizable-nw { left: 0px; top: 0px; }
	
}

#upload_background_button {
	margin-bottom: 40px;
}

.custom_ui {
	.add_button {
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		border: 1px solid transparent;
		height: 40px;
		padding-left: 20px;
		padding-right: 20px;
		.content {
			display: inline-block;
			vertical-align: top;
			margin-top: 14px;
			color: @gray_text;
		}
		.Code-Pro-LC;
		//.el_opacity(.6, 60);
		font-size: 18px;
		background-color: @off_black;
		&:hover {
			.content {
				color: @white;
			}
			.right_arrow_lines {
				.right_facing_triangle(10, @white);
				div {
					.right_facing_triangle(10, @off_black);
				}
			}
		}
	}
}

.bg_effects_controls {
	width: 700px;
}
.slider_container {
	margin-top: 25px;
	.slider_label {
		display: block;
		position: absolute;
		top: -25px;
	}
}

















