/////////////////////////////////////////////////
// Theme settings styles
@label_width: 170px;
#theme_centers_list_container {
	position: relative;
	max-width: 950px;
	.page_content_header {
		margin-top: 40px;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		height: initial;
		p {
			margin-left: 20px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	.theme_setting_container {
		> label {
			.Code-Pro-LC;
			font-size: 24px;
			line-height: 24px;
			margin-bottom: 20px;
			display: block;
		}
		> p {
			
		}
		.theme_setting_inputs_container {
			float: left;
			margin-right: 50px;
			min-width: 240px;
			margin-bottom: 40px;
			.radio_buttons, .check_boxes, .color_radio, .small_image_radio {
				> label {
					margin-right: 30px;
				}
				input {
					margin-left: 20px;
					margin-right: 20px;
					margin-bottom: 20px;
					height: initial;
				}
				.color_chooser {
					width: 10px;
					display: inline-block;
					margin-right: 20px;
				}
			}
			.small_image_radio {
				input {
					margin-top: 24px;
					margin-bottom: 38px;
					margin-right: 10px;
					margin-left: 15px;
				}
				.image_chooser {
					display: inline-block;
					vertical-align: top;
					width: 60px;
					height: 60px;
				}
			}
		}
	}
	.generic_palette_container {
		padding-bottom: 60px;
	}
}