////////////////////////////////////////////////////
// two level menu item styles	
.two_level_menu_items_cont { 
	.no_select;
	position: relative;
/*	.top_level_item {
		min-height: 60px;
		margin: 20px;
		position: relative;
		border: 1px solid transparent;
		margin-top: 43px;
		h2 { margin: 10px; }
		.sub_menu_item {
			background-color: #454545;
			margin: 10px;
			min-height: 40px;
			cursor: move;
			position: relative;
		}
	}
	.single_item { background-color: #454545; }*/
	.container_item { 
		td {
			.background {
				margin-top: 20px;
				margin-right: 35px;
			}
			> span {
				display: inline-block;
				margin-top: 25px;
			}
			> .remove_from_two_level_menu_button {
				margin-top: 20px;
				margin-right: 20px;
				float: right;
			}
			> ul {
				display: block;
				margin-top: 24px;
				margin-bottom: 24px;
				> li {
					.Code-Pro-LC;
					font-size: 20px;
					background-color: @main_menu_sub_menu_bg_color;
					color: @main_menu_sub_menu_text_color;
					margin-left: 20px;
					margin-bottom: 20px;
					border: 1px solid @off_black;
					&:hover {
						background-color: @main_menu_sub_menu_bg_color + @button_bg_increase;
					}
					h3 {
						margin-left: 35px;
						margin-top: 23px;
						float: left;
					}
					.main_menu_submenu_grabber {
						cursor: move; 
						margin-top: 18px;
						margin-left: 23px;
						background: url('/img/admin/icons/reorder_icon.svg') top center no-repeat; 
						color: @main_menu_sub_menu_text_color;
						float: left;
						width: 30px; 
						height: 30px; 
						.el_opacity(.6, 60);
						&:hover {
							.el_opacity(1, 100);
						}
					}
					.delete_sub_menu_item_button {
						margin-top: 13px;
						margin-bottom: 13px;
						float: right;
						border-top: 0px;
						border-right: 0px;
						border-bottom: 0px;
						background-color: transparent;
						border-left: 1px solid @main_menu_sub_menu_text_color;
						min-height: 36px;
						.content {
							margin-top: 9px;
							margin-bottom: 9px;
							color: @main_menu_sub_menu_text_color;
						}
						&:hover {
							.content {
								color: @white;
							}
						}
					}
				}
			}
		}
	} 
}


/////////////////////////////////////////////////
// Theme settings styles
@label_width: 170px;
#theme_centers_list_container {
	position: relative;
	max-width: 950px;
	.page_content_header {
		margin-top: 40px;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		height: initial;
		p {
			margin-left: 20px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	.theme_setting_container {
		> label {
			.Code-Pro-LC;
			font-size: 24px;
			line-height: 24px;
			margin-top: 40px;
			margin-bottom: 20px;
			display: block;
		}
		> p {
			
		}
		.theme_setting_inputs_container {
			float: left;
			margin-right: 50px;
			min-width: 240px;
			margin-bottom: 40px;
			.radio_buttons, .check_boxes, .color_radio {
				> label {
					margin-right: 30px;
				}
				input {
					margin-left: 20px;
					margin-right: 20px;
					margin-bottom: 20px;
					height: initial;
				}
				.color_chooser {
					width: 10px;
					display: inline-block;
					margin-right: 20px;
				}
			}
		}
	}
	.generic_palette_container {
		padding-bottom: 60px;
	}
}