


.add_button_main_menu{
	position: relative;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	border: 1px solid transparent;
	height: 29px;
	padding-left: 10px;

	font-weight: normal;
	font-style: normal;

	background-color: #181818;
	padding-right: 21px;

	.plus_symbol{
		background: url('/img/admin/icons/plus_symbol.svg') top right no-repeat;
		display: inline-block;
		position: absolute;
		right: 3px;
		top: 6px;
		height: 20px;
		width: 16px;

	}
}
.drop_down_sub_title{
	width: 100%;
	position: relative;
	top:23px;
	bottom:10px;

}
.add_pages_galleries{
	width: 100%;
	position: relative;
	top: 19px;
	bottom:10px;
	.Code-Pro-LC;
	font-size: 24px;

}
.text_add_button{
	position: relative;
	top:3px;
	bottom:0px;
	.Code-Pro-LC;
	font-size: 24px;
}
.add_page_menu{
	position: relative;
/*	margin-right: 40px;
	margin: 5px; 
	margin-top: 19px;
	margin-bottom: 20px*/
}
.add_page_gallery{
	position: relative;
	right: 20px;
/*	margin: 5px; 
	margin-bottom: 31px;
	margin-top: 13px;*/
}
.large_container{
	padding-bottom: 100px;
}
.hr_element{
	position: relative;
	top: 13px;
}
