//background: url('/img/admin/icons/plus_symbol.svg') top right no-repeat;
.add_pages_galleries{
	width: 100%;
	position: relative;
	top: 19px;
	bottom:10px;
	.Code-Pro-LC;
	font-size: 24px;

}
.text_add_button{
	position: relative;
	top:3px;
	bottom:0px;
	.Code-Pro-LC;
	font-size: 24px;
}
.large_container{
	margin-top: 20px;
	table.list {
		margin-bottom: 0px;
	}
	.tab_tools_container {
		margin-top: 20px;
		margin-bottom: 70px;
		.between_actions {
			.Code-Pro-LC;
			color: @grey_hover;
			font-size: 18px;
			padding-right: 9px;
		}
		select, input {
			margin-right: 9px;
		}
	}
}
.hr_element{
	height: 1px;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	clear: both;
	background-color: @gray_text;
}

////////////////////////////////////////////////////
// two level menu item styles	
.two_level_menu_items_cont {
	.no_select;
	position: relative;
/*	.top_level_item {
		min-height: 60px;
		margin: 20px;
		position: relative;
		border: 1px solid transparent;
		margin-top: 43px;
		h2 { margin: 10px; }
		.sub_menu_item {
			background-color: #454545;
			margin: 10px;
			min-height: 40px;
			cursor: move;
			position: relative;
		}
	}
	.single_item { background-color: #454545; }*/
	.container_item { 
		td {
			.background {
				margin-top: 20px;
				margin-right: 35px;
				margin-bottom: 20px;
			}
			> span {
				display: inline-block;
				margin-top: 3px;
			}
			> .remove_from_two_level_menu_button {
				margin-top: 20px;
				margin-right: 20px;
				float: right;
			}
			> ul {
				display: block;
				margin-top: 5px;
				margin-bottom: 24px;
				> li {
					.Code-Pro-LC;
					font-size: 20px;
					background-color: @main_menu_sub_menu_bg_color;
					color: @main_menu_sub_menu_text_color;
					margin-left: 20px;
					margin-bottom: 20px;
					border: 1px solid @off_black;
					&:hover {
						background-color: @main_menu_sub_menu_bg_color + @button_bg_increase;
						color: @white;
					}
					h3 {
						margin-left: 35px;
						margin-top: 23px;
						float: left;
					}
					.main_menu_submenu_grabber {
						cursor: move; 
						margin-top: 18px;
						margin-left: 23px;
						background: url('/img/admin/icons/reorder_icon.svg') top center no-repeat; 
						color: @main_menu_sub_menu_text_color;
						float: left;
						width: 30px; 
						height: 30px; 
						.el_opacity(.6, 60);
						&:hover {
							.el_opacity(1, 100);
						}
					}
					.delete_sub_menu_item_button {
						margin-top: 13px;
						margin-bottom: 13px;
						float: right;
						border-top: 0px;
						border-right: 0px;
						border-bottom: 0px;
						background-color: transparent;
						border-left: 1px solid @main_menu_sub_menu_text_color;
						min-height: 36px;
						.content {
							margin-top: 9px;
							margin-bottom: 9px;
							color: @main_menu_sub_menu_text_color;
						}
						&:hover {
							.content {
								color: @white;
							}
						}
					}
				}
			}
		}
	} 
}
