//background: url('/img/admin/icons/plus_symbol.svg') top right no-repeat;
.add_pages_galleries{
	width: 100%;
	position: relative;
	top: 19px;
	bottom:10px;
	.Code-Pro-LC;
	font-size: 24px;

}
.text_add_button{
	position: relative;
	top:3px;
	bottom:0px;
	.Code-Pro-LC;
	font-size: 24px;
}
.large_container{
	margin-top: 20px;
	table.list {
		margin-bottom: 0px;
	}
	.tab_tools_container {
		margin: 20px;
		margin-bottom: 70px;
	}
}
.hr_element{
	height: 1px;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	clear: both;
	background-color: @gray_text;
}
