#feature_limit {
	h1 {
		margin-bottom: 10px;
	}
	ol {
		max-width: (@body_content_width - 100px);
	}
	.page_content_header {
		border: 1px solid @off_black;
		max-width: @body_content_width;
		text-align: center;
		h2 {
			.Code-Pro-Bold-LC;
			font-size: 22px;
			margin-bottom: 0px;
		}
	}
	
	.buy_now_box {
		max-width: @body_content_width;
		outline: 1px solid @top_white;
		.buy_add_container {
			min-height: 200px;
		}
	}
}