#main {
	position: relative;
	margin-left: 317px;
	padding-top: 100px;
	padding-left: 40px;
	padding-right: 40px;
	top: @header_height;
	height: 100%;
	z-index: @content;
	&.no_subnav {
		margin-left: 0px;
	}
}

#admin_background {
	position: fixed;
	top: @header_height;
	left: -20%;
	height: 100%;
	width: 140%;
	background-image: url(/img/admin/general/admin_background.jpg);
	background-color: @content_bg_color;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: -50px -50px;
	z-index: @background;
}