@media only screen and (max-width : 1366px) {
	#main { margin-left: 253px; }
	#header {
		.logo { left: 13px; }
		#top-navigation { left: 228px; }
		#login_tagline { left: 263px; }
	}
	#sub-nav {
		left: 0px;
	}
}
@media only screen and (max-width : 1280px) {
	#main { margin-left: 38px; }
	#header {
		.logo { bottom: 50px; left: 37px; }
		#top-navigation { 
			left: 2px; 
			#extra_buttons > li {
				margin-left: 28px;
			}
		}
		#login_tagline { left: 102px; border-left: 0px; }
	}
	#sub-nav {
		left: 0px;
		width: @sub_nav_mobile_width;
		overflow: hidden;
		&:hover {
			width: @sub_nav_width;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
			ul li .subnav_bg {
				.el_opacity(1, 100);
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}
		}
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		
		// just for phone mobile
		//ul li {
		//	height: 40px;
		//}
	}
}
@media 
only screen and (max-width : 1100px),
only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-resolution: 192dpi) {
	#sub-nav {
		display: none;
		position: relative;
		width: 100%;
		top: initial;
		margin-bottom: 30px;
		&:hover { width: 100%; }
		> ul {
			> li {
				width: 100%;
				.subnav_bg {
					width: 100%;
				}
			}
		}
	}
	#main {
		margin: 0px !important;
		padding: 0px;
		top: 0px;
		#header {
			#login_tagline { display: none; }
			position: relative;
			height: auto;
			.logo { 
				position: relative;
				bottom: initial;
				left: initial;
				width: 100%;
				text-align: center;
				td {
					vertical-align: middle;
					position: relative;
					&.first {
						text-align: left;
						width: 84%;
						img {
							margin-top: 10px;
							margin-bottom: 10px;
							width: 70%;
							height: auto;
							margin-left: 5%;
						}
					}
					&.last {
						text-align: right;
						width: 14%;
						#mobile_navigation_open {
							display: inline;
							width: 50%;
							height: 25%;
							margin-right: 20%;
							margin-top: 10px;
							margin-bottom: 10px;
						}
					}
				}
			}
			#top-navigation { 
				position: relative;
				left: 0px;
				#extra_buttons {
					display: none;
					position: relative;
					top: initial;
					right: initial;
					margin: 0px;
					height: inherit;
					text-align: center;
					/*top:*/ 
					> li {
						margin-left: 0px !important;
						margin-right: 0px !important;
						margin-top: 8px;
						margin-bottom: 8px;
						float: none;
						> ul {
							width: 100%;
							> li {
								text-align: center;
								width: 100%;
								.subnav_bg {
									width: 100%;
								}
								table td div {
									text-align: center;
								}
							}
						}
					}
				}
				ul.menu {
					display: none;
					width: auto;
					li {
						display: block;
						width: auto !important;
						text-align: center;
						.tab_bottom {
							width: 100% !important;
							left: 0px !important;
							bottom: 0px !important;
							.active_color {
								width: 100% !important;
								bottom: 0px !important;
							}
							z-index: 1;
						}
						.last_tab {
							display: none;
						}
					}
				}
			}
			.menu_below_bar {
				display: none;
			}
		}
		&.no_subnav {
			#header .logo td {
				&.first { width: 100%; }
				&.last { display: none; width: 0%; }
			}
		}
	}
	#middle {
		#account-details {
			position: relative;
			top: initial;
			left: initial;
			width: auto;
			margin-bottom: 20px;
			.details .detail { margin: 20px 20px; }
		}
	}
	#admin_background {
		top: 0px;
		background-size: 130% auto;
	}
	#help_tour_button {
		display: none;
	}
	.page_content_header {
		padding-left: 0px;
		padding-right: 0px;
	}
	.generic_palette_container {
		padding-left: 2px;
		padding-right: 2px;
	}
	.mobile_hide {
		display: none;
	}
	table.list tbody tr td {
		display: block;
		padding-left: 20px;
		> div, > span {
			margin-top: 25px;
		}
		.rightborder { display: none; }
		&.first { padding-left: 0px; }
		&.table_actions {
			width: inherit !important;
			text-align: left;
		}
	}
	.no_td_as_block {
		table.list tbody tr td {
			display: table-cell;
			padding-left: initial;
			> div, > span {
				margin-top: initial;
			}
			.rightborder { display: block; }
			&.table_actions{
				text-align: right;
				width: 215px;
			}
		}
	}
	
	#theme_centers_list_container {
		.theme_setting_container {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.show_on_mobile {
		display: block;
	}
	.hide_on_mobile {
		display: none !important;
	}
	
	#login_forms_cont {
		position: relative;
		width: 100%;
		overflow: hidden;
		> table {
			tr td {
				.login_padding_div {
					display: none;
				}
			}
		}
		.generic_palette_container {
			padding: 40px 20px;
			form > div input {
				width: 82%;
			}
		}
	}
	
	#connect_gallery_photos_cont {
		.not_in_gallery_main_cont { width: 48%; }
		.in_gallery_main_cont { width: 48%; }
		.table_container {
			padding-left: 20px;
			padding-right: 20px;
		}
		.in_gallery_main_cont, .not_in_gallery_main_cont {
			.connect_photo_container {
				.gallery_image_circle_button { display: block; }
				.order_in_gallery_button { display: none; }
				&:hover {
					.order_in_gallery_button { display: none; }
					.image_cover { display: none; }
					outline: 1px solid transparent;
				}
			}
		}
	}
}







