#sub-nav {
	.sub_nav_generic();
	ul {
		li {
			.subnav_bg {
				position: absolute;
				background-color: @sub_menu_bg_color;
				.el_opacity(.6, 60);
				height: @sub_nav_item_height;
				width: @sub_nav_width;
				z-index: -5;
			}
			position: relative;
			display: block;
			height: @sub_nav_item_height;
			width: @sub_nav_width;
			margin-bottom: 2px;
			table {
				width: 100%;
				height: 100%;
				td { 
					&, a, div, p {
						color: @sub_menu_off_color;
					}
					vertical-align: middle; 
					text-align: left;
					&.first {
						width: @sub_nav_mobile_width;
						text-align: center;
					}
					&.second {
						height: 100%;
						padding-right: 15px;
						line-height: 16px;
					}
					&.third {
						width: 25px;
						text-align: middle;
					}
					i {
						vertical-align: middle;
						font-size: 22px;
					}
					.circle {
						display: none;
						width: 7px;
						height: 7px;
						border-radius: 50%;
						background-color: @tab2_on_color;
					}
				}
			}
			a {
				cursor: pointer;
				height: 100%;
				width: 100%;
				//padding-top: 25px;
				.Code-Pro-LC;
				font-size: 13px;
				vertical-align: middle;
				text-decoration: none;
				div {
					outline: 1px solid transparent;
					height: @sub_nav_item_height; 
					width: 100%; 
					> p {
						display: table-cell; 
						height: @sub_nav_item_height;
						vertical-align: middle;
					}
				}
			}
			&:hover {
				td {
					&, a, div, p {
						color: @top_white;
					}
				}
			}
			&.selected {
				.circle {
					display: inline-block;
				}
				td {
					&, a, div, p {
						color: @top_white;
					}
				}
			}
		}
	}

	&.sell {
		ul li table td .circle { background-color: @tab3_on_color; }
	}
}





