#shipping_address_container{
    outline: none !important;
    h1{
        padding-bottom: 20px;
    }
    .country_select{
        padding: 3px;
        margin-bottom: 4px;
    }
    .state_select{
        padding: 3px;
        margin-bottom: 4px;

    }
}

.no_label {
    input{
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 5px;
        padding-top: 5px;
        cursor: pointer;
    }
}