#shipping_address_container{
    outline: none !important;
    h1{
        margin-bottom: 20px;
    }
    .country_select{
        padding: 3px;
        margin-bottom: 4px;
    }
    .state_select{
        padding: 3px;
        margin-bottom: 4px;

    }
}

.no_label {   
    input{
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
        cursor: pointer;
    }
}