.content {
    position: absolute;
    left: 215px;
    top: 138px;
    width: 800px;
    padding-top: 0px;
    background-color: @bg_color;
    .inner_content {
        position: relative;
        left: 45px;
        top: 60px;
        width: 700px;
        min-height: 510px;
	}
}
#cart_table {
	thead {
		background-color: @bg_color_cart_header !important;
		color: @white !important;
	}
	tbody {
		background-color: @bg_color_cart !important;
		tr {
			td {
				color: @white !important;
			}
		}
	}
	tfoot{
		button{
			border: 1px solid @view_photo_button_border;
			box-shadow: 2px 2px 2px 0 @boxshadow_view_photo_button ;
			&:hover { border: 1px solid @view_photo_button_bg; }
		}
	}
}
