.content {
    position: absolute;
    left: 218px;
    top: 173px;
    width: 800px;
    padding-top: 0px;
    .inner_content {
        min-height: 440px;
        #cart_table {
            width: 100%;
        }
    }
}