.content {
    position: absolute;
    left: 215px;
    top: 138px;
    width: 800px;
    padding-top: 0px;
    background-color: @bg_color;
    .inner_content {
        position: relative;
        left: 45px;
        top: 60px;
        width: 700px;
        min-height: 510px;
        &.blue button:hover { background-color: @blue; color: @white; }
        &.pink button:hover { background-color: @pink; color: @white; }
        &.yellow button:hover { background-color: @yellow; color: @white; }
        &.red button:hover { background-color: @red; color: @white; }   
        #cart_table {
            width: 100%;
            thead {
                background-color: @white;
                border: 1px solid @black;
                font-weight: 600;
                .total {
                    border-right: 1px solid @black;
                }
            }
            tbody {
                background-color: @bg_color_cart;
                border: 1px solid @black;
                tr {
                    border-bottom: 1px solid @black;
                    td {
                        border-right: 1px solid @black;
                        text-align: center;
                        vertical-align: middle;
                        img {
                            margin-top: 10px;
                            margin-bottom: 10px;
                            border: 1px solid @black;
                        }
                    }
                }
            }
            tfoot {
                line-height: 25px;
                td {
                    padding-top: 10px;
                }
                button {
                    padding: 8px;
                    cursor: pointer;
                }
            }
        }
    }
}