.gallery_table_outer{
    &.blue #gallery_list_table .galleriesLink a:hover { color: @blue; }
    &.pink #gallery_list_table .galleriesLink a:hover { color: @pink; }
    &.yellow #gallery_list_table .galleriesLink a:hover { color: @yellow; }
    &.red #gallery_list_table .galleriesLink a:hover { color: @red; }
    width: 700px;
    h1.gallery_header{
        position: relative;
        top: 20px;
        bottom: 20px;
        left: 30px;
       // font-size: 21px;
    }
}

.gallery_table_inner{
    min-height: 500px;
   // display: inline-block;
    a{
        text-decoration: none;   
        color: black;
        &:hover{
            color: @white;
        }
    }
    .gallery_links{
        position: relative;
        margin-top: 4px;
        display: inline;
    }
    .gallery_image_actual_image{
        background-color: @white;
        padding: 8px;               
    }
}
