// Colors

@bg_color: #c1c1c1;
@menu_color: #959595;
@hover_color: #ffffff;
@next_pre: #cccccc;
@gray: #666666;
@table_header: #cccccc;
@white: #ffffff;
@black: #000000;
@button_hover: #333333;
@bg_color_cart: #3b3b3b;
@photo_discription_bg: #3d3d3d; 
@bg_color_cart_header: #878585;

// Accent colors
@red: #cc3333;
@blue: #000099;
@yellow: #ffff00;
@pink: #ff0099;

//button view photos page
@view_photo_button_border: rgba(180,180,180,1);
@view_photo_button_color: rgba(0,0,0,1);
@view_photo_button_bg:rgb(255,255,255);