// Colors

@bg_color: #c1c1c1;
@menu_color: #959595;
@hover_color: #ffffff;
@next_pre: #cccccc;
@gray: #666666;
@table_header: #cccccc;
@white: #ffffff;
@black: #000000;
@button_hover: #333333;
@bg_color_cart: #999999;

// Accent colors
@red: #cc0000;
@blue: #000099;
@yellow: #ffff00;
@pink: #ff0099;
