// Colors

@bg_color: #c1c1c1;
@menu_color: #959595;
@hover_color: #ffffff;
@next_pre: #cccccc;
@gray: #666666;
@table_header: #cccccc;
@white: #ffffff;
@black: #000000;
@button_hover: #333333;
@bg_color_cart: #999999;
@photo_discription_bg: #d6d5d5; //#ffffff; //#e4e0e0; //#b3b0b0; //#c6c4c4; //#a3a0a0; 

// Accent colors
@red: #cc0000;
@blue: #000099;
@yellow: #ffff00;
@pink: #ff0099;
