
.footer{
    position: relative;   
    top: 30px;            
    #footer_tagline{
        font-size: 12px;
        .footer_tagline_container_outer{
            left: 35%;
            margin-bottom: 0px;
            clear: both;
        }
    }
}

