.welcome_paragraph{
    font-family: 'Actor', sans-serif;
    position: relative;
    top: 20px;
    left: 240px;
    width: 700px;
    font-size: 13px;
}
#landing_slide_show_container{
    right: 6px;
}

h1{
    font-size: 14px;
    line-height: 18px;
    margin-top: 40px;
    margin-left: 247px;
}
#gallery_list_table{
    margin-left: 220px;
    margin-top: 15px;
    width: 280px;

    .galleries{   
        margin-left: 70px;
        margin-bottom: 30px;
        text-align: center;
        .gallery_image_a_link{

            .gallery_image_actual_image{
                background-color: white;
                padding: 8px;               
            }
        }
    }
    .galleriesLink{
        font-size: 14px; 
        overflow: hidden;
        height: 34px;
        a{
            text-decoration: none;   
            color: black;
            &:hover{
                color: white;
            }
        }
    }
}