.gallery_table_outer{
   // background-color: @bg_color;  
    padding-bottom: 70px;
    &.blue #gallery_list_table .galleriesLink a:hover { color: @blue; }
    &.pink #gallery_list_table .galleriesLink a:hover { color: @pink; }
    &.yellow #gallery_list_table .galleriesLink a:hover { color: @yellow; }
    &.red #gallery_list_table .galleriesLink a:hover { color: @red; } 
        h1.gallery_title{
            position: relative;
            top: 20px;
            bottom: 20px;
            left: 30px;
            font-size: 14px;
        }
        #gallery_list_table{
            position: relative;
            left: 50px;
            top: 40px;
            width: 700px;

            .galleries{
                width: 300px;
                margin-bottom: 30px;
                text-align: center;
                .gallery_image_outer_cont{

                    .gallery_image_a_link{

                        .gallery_image_actual_image{
                            background-color: white;
                            padding: 8px;               
                        }
                    }
                }
            }
            .galleriesLink{
                position: relative;
                top: 4px;
                font-size: 14px; 
                overflow: hidden;
                height: 28px;
                a{
                    text-decoration: none;   
                    color: black;
                    &:hover{
                        color: white;
                    }
                }
            }
        }
    /*} end galler_table_inner */
}