h1 {
    font-size: 20px;
}
h2{
    font-size: 20px;
}
ul{
    padding: 0px;
}
.footer{
    margin-top: -4px;
    background-color: @bg_color;  
    #footer_tagline{
        margin-top: 45px;    
    }
}
