body{
    background-image: url('/theme_merged_final_images/f32_dynamic_background.jpg');
    background-repeat: no-repeat;
    background-color: @bg_color;
    background-position: 0% 0%;
    font-family: 'Actor', sans-serif;
    #logo_cont{position: relative;}
    #mainName{ position: absolute;}
    .outer_nav{
        .nav{
            &.blue #main_nav li a:hover { color: @blue; }
            &.pink #main_nav li a:hover { color: @pink; }
            &.yellow #main_nav li a:hover { color: @yellow; }
            &.red #main_nav li a:hover { color: @red; }  
            #main_nav{    
                font-size: 12px;
                text-transform: lowercase;
                line-height: 24px;
                text-align: right;
                margin: 150px 26px 0 0;
                width: 190px;
                float: left;
                color: @menu_color; // This is for the "Home" that isn't a link

                ul{                        
                    list-style-type: none;
                    li{
                        a{
                            color: @menu_color;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
