.welcome_outer{
    width: 800px;
    min-height: 120px;
    background-color: @bg_color;    
    .welcome_paragraph{
        font-family: 'Actor', sans-serif;
        position: relative;
        top: 30px;
        left: 50px;
        width: 700px;
        font-size: 13px;
    }
}
