.welcome_paragraph{
    font-family: 'Actor', sans-serif;
    position: relative;
    top: 20px;
   //` left: 240px;
    width: 700px;
    font-size: 13px;
}
#landing_slide_show_container{
    right: 6px;
}