.inner_content{
    button{
        padding: 6px;
        cursor: pointer;
    }
    &.blue .submit input:hover { background-color: @blue; color: @white; }
    &.pink .submit input:hover { background-color: @pink; color: @white; }
    &.yellow .submit input:hover { background-color: @yellow; color: @white; }
    &.red .submit input:hover { background-color: @red; color: @white; }  

    ///checkout_get_address
    &.blue .no_label input:hover { background-color: @blue; color: @white; }
    &.pink .no_label input:hover { background-color: @pink; color: @white; }
    &.yellow .no_label input:hover { background-color: @yellow; color: @white; }
    &.red .no_label input:hover { background-color: @red; color: @white; } 

    //checkout_finalize_payment
    &.blue .pay_now input:hover { background-color: @blue; color: @white; }
    &.pink .pay_now input:hover { background-color: @pink; color: @white; }
    &.yellow .pay_now input:hover { background-color: @yellow; color: @white; }
    &.red .pay_now input:hover { background-color: @red; color: @white; } 

    &.blue h1 { color: @blue; }
    &.pink h1 { color: @pink; }
    &.yellow h1 { color: @yellow; }
    &.red h1 { color: @red; } 

    #login_container {
        padding-top: 20px;
        label {
            display: inline-block;
            vertical-align: top;
            width: 75px;
            text-align: right;
            margin-right: 10px;
        }
        .input {
            margin-bottom: 10px;
        }
        .submit {
            padding-left: 90px;
            input{
                cursor: pointer;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 12px;
                padding-right: 12px;

            }
        }
        .success{
            margin-bottom: 15px;
        }
    }
}