.inner_content{
    button{
        padding: 6px;
        cursor: pointer;
    }

    #login_container {
        padding-top: 20px;
        label {
            display: inline-block;
            vertical-align: top;
            width: 75px;
            text-align: right;
            margin-right: 10px;
        }
        .input {
            margin-bottom: 10px;
        }
        .submit {
            padding-left: 90px;
            input{
                cursor: pointer;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 12px;
                padding-right: 12px;
                
            }
        }
        .success{
            margin-bottom: 15px;
        }
    }
}