.inner_content{
    //edit payment address accent colors
    &.blue .check_out #shipping_address_summary h1 a:hover{ color: @blue; }
    &.pink .check_out h1 a:hover{ color: @pink; }
    &.yellow .check_out h1 a:hover{ color: @yellow; }
    &.red .check_out #shipping_address_summary h1 a:hover{ color: @red; } 
    .check_out{
        form{
            margin-bottom: 55px;
        }
        h1{
            margin-bottom: 20px;
            padding-bottom: 7px;
            border-bottom: 1px solid @black;
            margin-top: 20px;
        }
        hr{
            display: none; 
        }
        .pay_now{
            float: right;        
            input{
                
                display: inline-block;
                .box-sizing(content-box);
                cursor: pointer;
                padding: 10px 60px;
                border: 1px solid @view_photo_button_border;
                color: @view_photo_button_color;
                -o-text-overflow: clip;
                text-overflow: clip;
                background: @view_photo_button_bg;
                box-shadow: 2px 2px 2px 0 @boxshadow_view_photo_button;
                &:hover { border: 1px solid @view_photo_button_bg;}
            }
        }
        #create_account{
            outline: none !important; 
            label{
                width: 101px;
            }
        }
        #final_payment_info{
            outline: none !important;
            margin-top: 0px;
            .payment_edit{
                select{
                    padding: 3px;
                    margin-bottom: 4px;
                }
                label{
                    width: 124px;
                }
            }
        }
        #shipping_address_summary{
            outline: none !important;
            h1{
                a{
                    font-size: 12px;
                    color: @black;
                    text-decoration: none;
/*                    &:hover{
                        color: white;
                    }*/
                }
            }
        }
        #cart_table{
            .last{
                border-right: 1px solid @black;
            }
        }
    }
}