.gallery{
    img{
        position: relative;
        width: 800px;
        height: 540px;
    }
}
.extra{
    position: relative;
    top: 0px;
    width: 802px;
    .view_page_paragraph{
        margin-top: 20px;
        font-family: 'Actor', sans-serif;
        float: left;
        font-size: 13px;
        width: 552px;
        margin-left: 20px;
        ul{
            list-style: none;
        }
    }
    .cart_bottom{
        margin-left: 20px;
        float: left;
        width: 210px;
        margin-top: 20px;
        ul{
            list-style: none;
        }

    }
}
.prev_next{
    position: absolute;
    bottom: 866px;
    right: 0px;
    font-size: 12px;
    ul{
        list-style: none;
        li{
            display: inline-block;
            margin-right: 2px;
            color: @next_pre;
            a{
                color: @next_pre;
                text-decoration: none;
                &:hover{ color: @hover_color;}
            }
        }
    }
}



//Make it so that there is a little box at the bottom of the image that will be made with css so if the image is vertical you can better see the image behind the gallery. 
//Andrew said that the 2 colume and 4 colume and so on are set up to be smart and know what to do it the image is square or pano and so on. Check this out.
