.gallerywrapper{
    
.gallery{

    img{
		position: relative;
		right: 5px;
        width: 800px;
        height: 540px;
    }
}
    .view_page_paragraph{
        font-family: 'Actor', sans-serif;
        position: relative;
        top: 20px;
        left: 180px;
        width: 700px;
        font-size: 13px;
        ul{
            list-style: none;
        }
		h1{
			position: relative;
			right: 210px;
			width: 700px;
			
		}
    }
    .prev_next{
		position: absolute;
		top: 110px;
		right: 560px;
		ul{
			list-style: none;
			li{
				display: inline-block;
				margin-right: 2px;
			}
		}
		
        
    }
    
}
    
    

