.gallerywrapper{
    
.gallery{

    img{
        width: 800px;
        height: 540px;
    }
}
    .view_page_paragraph{
        font-family: 'Actor', sans-serif;
        position: relative;
        top: 20px;
        left: 180px;
        width: 700px;
        font-size: 13px;
        ul{
            list-style: none;
        }
    }
    .prev_next{
        
    }
    
}
    
    

