.navigation_arrow {
	border: 25px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: 616px;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	/* IE 5-7 */
	filter: alpha(opacity=10);
	/* Netscape */
	-moz-opacity: 0.10;
	/* Safari 1.x */
	-khtml-opacity: 0.10;
	/* Good browsers */
	opacity: 0.10;
	cursor: pointer;
	z-index: 200;
}
.navigation_arrow:hover {
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	/* IE 5-7 */
	filter: alpha(opacity=100);
	/* Netscape */
	-moz-opacity: 1;
	/* Safari 1.x */
	-khtml-opacity: 1;
	/* Good browsers */
	opacity: 1;
}
#right_arrow {
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 25px solid #333;
	right: 10px;
}
#left_arrow {
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent; 
	border-right: 25px solid #333; 
	left: 10px;
}