///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Ecommerce photo add to cart stuff
//------------------------------------------------------------------------------------------
#white_slider_ecommerce_container {
	position: relative;
	margin-bottom: 150px;
	.image_data_container {
		font-family: 'PT Sans', sans-serif;
		text-align: center;
		
		.hr {
			margin-top: 13px;
			margin-bottom: 35px;
			height: 1px;
			width: 75%;
			background: #000000;
			display: inline-block;
		}
		> h2 {
			font-size: 20px;
		}
		> h3 {
			font-size: 18px;
		}
		> p {
			width: 60%;
			margin-top: 20px;
			display: inline-block;
		}
		.add_to_cart_buttons_inner_cont {
			text-align: center;
			> table {
				width: 91%;
				margin-top: 40px;
				display: inline-block;
				h2 {
					line-height: 34px;
				}
			}
		}
		
		
		
		
		display: none;
		&:first-child {
			display: block;
		}
	}
}