#add_to_cart_buttons_cont:after {
	clear:both;
	display:block;
	height:0;
	content: " 0020";
	overflow:hidden;
	visibility:hidden;
}

#add_to_cart_buttons_cont {
	.print_type_outer_cont {
		margin:32px 0 15px;

		h2 {
			font-size:14px;
			margin:5px 0;
		}
	}
}

#cart {
	.page-content {
		margin:auto;
		width:60%;
		

		table {
			width:100%;
			margin:10px;

			tbody {
				td.image {
					img {
						border:1px solid black;
					}
				}
			}

			tfoot {
				tr {
					td {
						padding:5px 25px 5px;
						line-height:150%;
					}
				}
			}
			
			td {
				border:1px solid #B9B9B9;
				text-align:center;
				padding:2px 0;
			}
		}

		button#standard_checkout_button {
			margin:10px 0;
		}
	}
}

