.outer_page_cart{
	#create_account{
		outline: none !important;
	}
	#final_payment_info{
		outline: none !important;
	}
}
#shipping_address_summary{
	outline: none !important;
	h1{
		background-color: @black;
		color: @white;
		text-align: center;
		a{
			font-size: 12px;
			color: @white;
			text-decoration: none;
			&:hover{
				cursor: pointer;
				color: @text_color_edit;
			}
		}
	}
	#shipping_address_output{
		margin-left: 20px;		
	}
}
.pay_now_button{
		margin-left: 132px;        
		display: inline-block;
		.box-sizing(content-box);
		cursor: pointer;
		padding: 10px 60px;
		border: 1px solid @view_photo_button_border;
		color: @view_photo_button_color;
		-o-text-overflow: clip;
		text-overflow: clip;
		background: @view_photo_button_bg;
		box-shadow: 2px 2px 2px 0 @boxshadow_view_photo_button;
		&:hover { border: 1px solid @view_photo_button_bg;}
}
