
//Grezzo Theme colors
@top_header_text_color: #fff;  
@black: #000;
@custom_page_sep_color: #939598;
@gray_line_horizontal: #939598;
@gray_line_vertical: #bfbfbf;
@sub_menu_gray: #dcdcdc;

@boarder_textarea: #dddddd;
@outline_textarea: #939598;
@outline_password: #939598;


// NAV COLORS
@nav_drop_down_color: #ffffff;
@nav_drop_down_text_color: #4d4d4f;
