
//Grezzo Theme colors
@top_header_text_color: #fff;  
@black: #000000;
@white: #ffffff;
@custom_page_sep_color: #939598;
@gray_line_horizontal: #939598;
@gray_line_vertical: #bfbfbf;
@sub_menu_gray: #dcdcdc;

@boarder_textarea: #dddddd;
@outline_textarea: #939598;
@outline_password: #939598;

@text_color_edit: #999999;
@a_text: #ffffff;

// background colors
@blue: #000099;
@yellow: #ffff66;
@pink: #ffcccc;


// NAV COLORS
@nav_drop_down_color: #ffffff;
@nav_drop_down_text_color: #4d4d4f;
