
//Grezzo Theme colors
@top_header_text_color: #fff;  
@top_header_color: #000;
@img_border_color: #000;
@custom_page_sep_color: #939598;
@small_gray_line_color: #cccccc;


// NAV COLORS
@nav_drop_down_color: #ffffff;
@nav_drop_down_text_color: #666666;
