#grezzo_listing_actual_container {
	position: absolute;
	height: 515px;
/*	outline: 1px solid red;*/
	top: 100px;
	width: 100%;
	margin: 0px;
	white-space: nowrap;
	vertical-align: top;
	overflow-x: scroll;
	overflow-y: visible;

	.endless_loading {
		position: absolute;
		top: 0px; right: 0px;
		outline: 1px solid red;
		color: red;
	}
	img {
		vertical-align: top;
		display: inline-block;
		border-right: 1px solid white;
	}
	img.blank {
	}
}

#gallary-container {
	.jcarousel-wrapper {
		margin: 20px auto;
		position: relative;

		ul {
			list-style-type: none;
			width:2000em;
			position:absolute;


			li {
				float:left;
			}
		}
	}

}




/** Carousel **/




#grezzo_listing_actual_container_loading {
	width: 44px;
	height: 498px;
	background-color: white;
	position: fixed;
	top: 100px;
	right: 0px;
	z-index: 1000;
	font-family: 'PT Sans', sans-serif;
	font-size: 45px;
	line-height: 70px;
	padding-left: 15px;
	border: 1px solid #D9D9D9;
	color: #333;
	display: none;
}

#right_arrow {
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 25px solid #333;
	right: 10px;
}
#left_arrow {
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent; 
	border-right: 25px solid #333; 
	left: 10px;
}

.navigation_arrow {
	border: 25px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: 300px;	
}


#white_slider_scroll_control {
	width: 75%;
	height: 71px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
	vertical-align: top;
	overflow-x: scroll;
	overflow-y: hidden;
/*	outline: 1px solid #EEE;*/
	margin-top: 14px;
	position: relative;
	text-align: center;
}
#hide_control_scroll_div {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 15px;
	background-color: white;
	z-index: 100;
	margin-top: -15px;
}
#grezzo_scroll_hide {
	position: absolute;
	height: 15px;
	width: 100%;
	background-color: white;
	top: 600px;
}

