#logo_cont {
	float: left;
	display: inline-block;

	#mainName {
		position:absolute;
	}
}

#outer_nav {
	background-color:@top_header_color;
	width:100%;
	float:left;

	#main_nav {
		float: left;
		display: inline-block;

		ul {
			li {
				list-style-type: none;
				float: left;
				padding:5px;

				ul {
					display:none;
					li {
						float:none;
					}
				}
			}
		}
	}
}
