#outer_nav {
	#logo_nav_cont{
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
		outline: 1px solid red;
		height: 140px;
		position: relative;
	}
	background-color:@top_header_color;
	width:100%;
	position: absolute;
	height: 140px;
	
	#logo_cont {
		position: absolute;
		left: 0;
		display: inline-block;

		#mainName {
			position:absolute;
		}
	}
	
	#nav_location{
		margin-right: 38px;
		position: absolute;
		right: 0;
	
		#main_nav {
			margin-top: 40px;
			float: right;
			display: inline-block;

			ul {
				li {
					list-style-type: none;
					float: left;
					margin-left: 38px;
					color: @top_header_text_color;

					a {
						color: @top_header_text_color;
					}

					ul {
						display:none;
						li {
							float:none;
						}
					}
				}
			}
		}
	}
}

