#add_to_cart_buttons_cont .submit_button_cont {
	background: grey;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	color: white;
}

#cart_table {
	width: 100%;
	td, th {
		outline: 1px solid black;
	}
}