#add_to_cart_buttons_cont .submit_button_cont {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	color: white;
}
#cart_table{
	tfoot{
		button{
			padding: 1px 1px !important;
		}
	}
}

