#white_slider_ecommerce_container .image_data_container {
	.Museo-500;
	.hr {
		background: #333;
		margin-bottom: 18px;
	}
	.photo_title_container {
		.Nexa-Bold;
		height: 45px;
		background: #000;
		width: 75%;
		display: inline-block;
		.photo_title {
			color: #fff;
			font-size: 20px;
			line-height: 45px;
		}
	}
	.left_and_right_container {
		width: 75%;
		display: inline-block;
		.left_photo_data {
			float: left;
			width: 52%;
			text-align: left;
			border-right: 1px solid #333;
			padding: 22px;
			padding-top: 0px;
			font-size: 16px;
			.subtitle_description_container {
				margin-bottom: 20px;
				.photo_subtitle {
					font-size: 16px;
					margin-bottom: 4px;
				}
				.photo_date {
					font-size: 14px;
				}
			}
			.photo_description {
				.Museo-300;
				font-size: 14px;
			}
		}
		.right_cart_data {
			float: right;
			width: 36%;
			text-align: left;
			&.left {
				float: left;
				width: 50%;
				margin-left: 5%;
			}
		}
		&.no_ecommerce {
			.left_photo_data {
				border-right: 0px;
				width: 70%;
			}
		}
	}
}