#header_background {
	background: #000;
	height: 139px;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
#below_header_line {
	height: 2px;
	width: 100%;
	background: #bfbfbf;
	position: absolute;
	top: 167px;
	left: 0px;
}

#white_slider_under_scroll {
	position: absolute;
	height: 21px;
	width: 1400px;
	top: 691px;
	left: 50%;
	margin-left: -700px;
	z-index: 30;
	background: url('/img/border_bottom.png') no-repeat;
}

#nav_location {
	#main_nav {
		.Museo-500;
		font-size: 13px;
		&, a {
			color: #fff;
		}
		ul.top_level {
			margin-top: 80px;
			li.main_menu_item {
				padding-top: 6px;
				border-top: 2px solid transparent;
				&.highlight, &.hover {
					border-top: 2px solid #fff;
					.second_level {
						background-color: #fff;
						&, a { 
							color: #4d4d4f; 
						}
						.second_level_inner {
							.sub_menu_item {
								margin: 4px;
								margin-top: 0px;
								&:hover {
									background: #dcdcdc;
									&, span, a { color: #000; }
								}
							}
						}
					}
				}
			}
		}
	}
}