#white_slider_listing_actual_container {
	top: 179px;
}
#white_slider_scroll_hide {
	top: 679px;
}
#entire_slider_hider {
	top: 139px;
	height: 900px;
}
#image_slider_progressbar_container {
	top: 385px;
}