/**************************************************
	Mini Types
**************************************************/
.empty_help_content a {
	color: @lessreadable-text;
}

.custom_dialog {
	display: none;
}
.content-background {
	//background-color: #222;
	border-top: 1px solid #222;
	.page_content_container();
	width: @table_width;
}
.medium_message_box {
	display:inline-block;
	min-height:60px;
	background-color:#444444;
	padding:20px 25px 0;
}
/* tinymce global style */
.tinymce table#mce_0_toolbar1 {
	margin: 0 auto;
}
.basic_page_heading .title {
	font-size:18px;
}
.basic_page_heading p {
	font-size:12px;
}
