/**************************************************
	ADMIN EVERYPAGE STYLES
**************************************************/
html, body {}

h1 {
	.Code-Pro-LC;
	font-size: 30px;
	margin-bottom: 35px;
	color: @gray_text;
}
h2 {
	.Code-Pro-LC;
	font-size: 24px;
	margin-bottom: 16px;
	color: @gray_text;
}
p {
	.Code-Pro-LC;
	line-height: 24px;
	color: @gray_text;
}
ol  {
	.Code-Pro-LC;
	font-size: 20px;
	color: @gray_text;
	list-style-type: decimal;
	list-style-position: outside;
	text-align: left;
	margin-top: 23px;
	li { 
		margin-left: 38px;
		list-style-type: decimal; 
		margin-bottom: 15px;
		> span {
			display: inline-block;
			vertical-align: top;
			font-size: 18px;
			padding-left: 20px;
			line-height: 23px;
		}
		&.first {
			//margin-left: 63px;
		}
	}
}

/********************************************
 GENERIC PALETTE AND SETTINGS CSS
********************************************/
.generic_palette_container {
	&, a, p{ color: @gray_text; }
	.page_content_container();
	padding-left: 40px;
	padding-right: 40px;
	.basic_setting_cont {
		position: relative;
		margin-top: 40px;
		padding-top: 40px;
		padding-bottom: 40px;
		border-bottom: 1px solid @gray_text;
		&.last, &.button {
			border-bottom: none;
			padding-top: 0px;
		}
		&.no_border {
			border-bottom: none;
		}
		label {
			.Code-Pro-LC;
			font-size: 24px;
			line-height: 24px;
			margin-bottom: 20px;
			color: @gray_text;
			position: absolute;
			top: 0px;
			left: 0px;
		}
		.theme_setting_inputs_container, .theme_setting_description {
			display: inline-block;
			vertical-align: top;
			color: @gray_text;
		}
		.theme_setting_inputs_container {
			width: 315px;
			.Code-Pro-LC;
			font-size: 18px;
			span {
				display: inline-block;
				vertical-align: top;
				margin-bottom: 10px;
			}
			input {
				margin-right: 20px;
			}
		}
		.theme_setting_description {
			width: 50%;
		}
	}
}



select, input {
	padding: 0px;
	margin: 0px;
	border: 0px;
	.Code-Pro-LC;
	font-size: 20px;
	line-height: 20px;
	height: @button_height;
	padding-left: 20px;
	padding-right: 20px;
}

#main .top_links {
	background: #141414;
	border-bottom: 1px solid #282828;
	height: 22px;
}
#main .below_links {
	padding: 33px;
}

#middle {
	min-height: 400px;
	padding: 12px;
	padding-top: 30px;
	-moz-border-radius-topleft: 0px; /* Firefox */
	border-top-left-radius: 0px; /* CSS3 */
	z-index: @content;
}
.message_div {
	position:fixed;
	top:40%;
	left:40%;
	color:#fff;
	font-size:35px;
}
.foto_background_alert .x_button {
	background: url('/img/admin/icons/bw_simple_close_icon.png') no-repeat 0px;
	height:40px;
	width:40px;
	display:inline-block;
	position:absolute;
	cursor:pointer;
}
/*gallery chooser*/
.gallery-chooser-cont .gallery-chooser {
	height:250px;
	overflow:auto;
}

.gallery-chooser-cont .no_galleries_added {
        height:248px;
        background-color:@darker-background;
        color:@lessreadable-text;
        text-align:center;
        margin:5px 0;
}

.gallery-chooser-cont .no_galleries_added p {
     position:relative;
     top:34px;
     font-size:35px;
     padding:0 15px;
}

.gallery-chooser table {
	width:100%;
	border:0;
}

.gallery-chooser table td{
	vertical-align:middle;
	min-width:20px;
	cursor:pointer;
}

.gallery-chooser table tr.selected {
	background-color:#667680;
	color:#000;
	
}

.gallery-chooser table tr.selected:hover {
	background-color:#7A8D99;
}

.gallery-chooser table tr:hover *,  .gallery-chooser table tr.selected *{
	background:none;
}

.gallery-chooser table tr:hover {
	background-color:#8A9399;
	color:#333;
	font-weight:bold;
}

.gallery-chooser table tr td.photo {
	min-width:10px;
	padding:10px 3px;
	text-align:center;
}

.gallery-chooser table tr td.photo div {
	width:40px;
	height:40px;
	display:inline-block;
}

.gallery-chooser table tr td.name {
	vertical-align: middle;
	width:70%;
}

.gallery-chooser-cont .heading .title {
	padding:5px 0;
}

.gallery-chooser-cont .heading p {
	padding:5px 3px;
}

/* end gallery chooser */
/* tag chooser */
.outer-tag-chooser-cont .header .title {
	padding:5px 0;
	margin:5px 0;
}

.outer-tag-chooser-cont .header p {
	padding:0 5px;
}

.outer-tag-chooser-cont div.tagsinput {
	margin:10px 5px;
}


/* end tag chooser */


.reorder_grabber { 
	cursor: move; 
	background: url('/img/admin/icons/reorder_icon.svg') top center no-repeat; 
	display: inline-block; 
	width: 30px; 
	height: 30px; 
	margin-top: 5px; 
	margin-left: 5px;
}


///////////////////////////////
// generic save button
.save_button {
	.Code-Pro-LC;
	font-size: 18px;
	height: @button_height;
	background-color: @button_off;
	display: inline-block;
	padding-left: 18px;
	padding-right: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	.content {
		margin-top: 11px;
	}
}


///////////////////////////////////////////
// flash message styles
#flashMessage {
	//display: none;
}

.custom_ui {
	&.tools_button {
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
	}
	> span {
		.Code-Pro-LC;
		font-size: 20px;
	}
	.add_button {
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		border: 1px solid transparent;
		height: @button_height;
		padding-left: 20px;
		padding-right: 20px;
		border: 1px solid @button_border;
		color: @gray_text;
		.content {
			display: inline-block;
			vertical-align: top;
			margin-top: 12px;
			color: @gray_text;
		}
		.Code-Pro-LC;
		//.el_opacity(.6, 60);
		font-size: 18px;
		background-color: @off_black;
		min-width: 65px;
		&.bigger {
			height: 50px;
			.Code-Pro-Bold-LC;
			font-size: 20px;
			.content {
				margin-top: 18px;
			}
			.right_arrow_lines {
				margin-top: 15px;
			}
			&:hover .right_arrow_lines { margin-top: 15px; }
		}
		&.highlight {
			padding-left: 30px;
			padding-right: 30px;
			border: 0px;
			.content {
				&, a { color: @white };
			}
			background-color: @button_highlight;
			.right_arrow_lines {
				.right_facing_triangle(10, @white);
				div {
					.right_facing_triangle(10, @button_highlight);
				}
			}
			&:hover {
				background-color: @button_highlight + @button_bg_increase;
				.right_arrow_lines {
					.right_facing_triangle(10, @white);
					div {
						.right_facing_triangle(10, @button_highlight + @button_bg_increase);
					}
				}
			}
		}
		&.icon { min-width: 5px; }
		&:hover {
			background-color: @off_black + @button_bg_increase;
			&, a { color: @white };
			.content {
				&, a { color: @white };
			}
			.right_arrow_lines {
				.right_facing_triangle(10, @white);
				div {
					.right_facing_triangle(10, @off_black + @button_bg_increase);
				}
			}
			.plus_icon_lines {
				.one, .two { background-color: @white; }
			}
		}
	}
	input.add_button {
		height: @button_height + 2;
	}
}

.disabled {
	.el_opacity(.4, 40);
	&, * { cursor: text !important; }
}



