.sub_submenu_cont {
	margin-top: 40px;
	.sub_submenu_left_cont, .sub_submenu_right_cont, .sub_submenu_far_right_cont {
		/*width: @table_width + 40px;*/
		position: relative;
	}
	.sub_submenu_far_right_cont {
		width: 230px;
		min-height: 100px;
		margin-left: 20px;
	}
	.sub_submenu_left_cont {
		border-bottom: 2px solid @gray_text;
		margin-bottom: 10px;
		.sub_menu_bottom_border {
			position: absolute;
			bottom: -12px;
			left: 0px;
			height: 10px;
			width: 100%;
			background-color: @tab6_top;
		}
		.sub_submenu_tab {
			&, div { color: @gray_text; }
			.Code-Pro-LC;
			font-size: 20px;
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 275px;
			height: 51px;
			cursor: pointer;
			border-left: 2px solid transparent;
			border-top: 2px solid transparent;
			.content {
				margin-left: 68px;
				margin-top: 18px;
			}
			.sub_menu_tab_right_angle_side {
				display: none;
				position: absolute;
				right: -58px;
				top: -2px;
				height: 55px;
				width: 58px;
				background: url(/img/admin/main_menu/sub_submenu_tab_angle.svg) top left no-repeat;
			}
			.sub_menu_tab_border_bottom { 
				display: none; 
				background: @tab6_top; 
				height: 4px;
				width: 100%;
				position: absolute;
				bottom: -3px;
				left: 0px;
			}
			&.selected { 
				&, div { color: @white; }
				background: @tab6_top; 
				border-left: 2px solid @gray_text;
				border-top: 2px solid @gray_text;
				.sub_menu_tab_border_bottom, .sub_menu_tab_right_angle_side { display: block; }
			}
			&:hover { &, div { color: @white; } }
		}
	}
	.sub_submenu_right_cont {
		.no_select;
		.content-background {
			width: initial;
			padding-left: 45px;
			padding-right: 45px;
			padding-top: 45px;
		}
		.sub_submenu_tab_cont {
			display: none;
			position: relative;
			margin-bottom: 210px;
			table.list {
/*				margin-left: 25px;
				margin-right: 25px;
				margin-top: 30px;
				margin-bottom: 30px;*/
				tr {
					.photo_use_sizes {
						width: 123px;
						text-align: left;
					}
				}
				thead {
					tr {
						background: @body_content_top_bg;
						th {
							&.first { padding-left: 30px; }
							&.last { padding-right: 30px; }
						}
					}
				}
				tbody {
					tr {
						&.spacer {
							td { height: 25px; }
						}
						td {
							&.first { padding-left: 30px; }
							&.last { padding-right: 30px; }
						}
					}
				}
			}
		}
	}
/*	.generic_inner_container {
		padding: 45px 25px;
	}*/
	.save_button {
		margin-top: 0px;
		margin-bottom: 40px;
	}
}
