@import url("inc/reset.less");
@import url("inc/main_nav.less");
@import url("inc/main_slider.less");
@import url("inc/slider_control.less");
@import url("inc/nav_arrows.less");
@import url("inc/photo_addtocart.less");
@import url("inc/footer.less");
#cart_table {
  margin-top: 0px;
}
#cart_table thead {
  border: 0px;
}
#cart_table thead th {
  background-color: #505050;
  border: 0px;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
  height: 32px;
  line-height: 32px;
}
#cart_table thead th.last {
  border-right: 0px;
}
#cart_table tbody {
  background-color: #dcdcdc;
  border: 0px;
}
#cart_table tbody tr {
  border: 0px;
}
#cart_table tbody tr td {
  border: 0px;
  border-bottom: 3px solid #ffffff;
}
#cart_table tbody tr td.first {
  border-right: 3px solid #ffffff;
}
#cart_table tbody tr.last td {
  border-bottom: 0px;
}
.submit_button {
  color: #000000;
}
#page_content_container {
  border: 5px solid #000000;
  padding: 60px;
  background: #EEEEEE;
  margin-top: 40px;
  font-family: 'PT Sans', sans-serif;
}
#page_content_container h2 {
  font-size: 20px;
}
