// css includes
@import url("site_page_elements.less");

// global variables
@darkest-background: #121212;
@darker-background: #222222;
@dark-background: #303030;
@lessreadable-text: #404040;
//@midtone_background: #454545;
@lightest_background: #D8D8D8;
@subdued_text: #AAAAAA;
@slightly_darker_white_text: #F3F3F3;
@above_subdued_text: #D9D9D9;
@action_background: #205B88;
@action_text : #fff;
@action_hover_background: #538FBD;
@warn_text_color: #FCCD18;
@link_color: #00E8FA;

// inculde mixins
@import url("inc/mixins.less");

//flash messages
@import url("inc/admin_flash_message.less");

// global styles
@import url("inc/admin_reset.less");
@import url("inc/admin_global_style.less");

//include fontawesome
@import url('inc/font-awesome.less');

// global reusable styles
@import url("inc/admin_basic_reusable.less");
@import url("inc/admin_minitypes.less");
//@import url("inc/admin_everypage_style.less");
@import url("inc/admin_type_fm_summary_cont.less");
@import url("inc/admin_dialog_bootstrap.less");

//reusable functions
@import url("inc/shortcut_functions.less");

// types (reusable more advanced types)
@import url("inc/admin_page_info.less");
//@import url("inc/admin_type_topnav.less");
//@import url("inc/admin_type_genericlisttable.less");
//@import url("inc/admin_type_genericsubnav.less");
@import url("inc/admin_type_blockpagecontainer.less");
@import url("inc/admin_payment_dialogs.less");
//@import url("inc/admin_page_type_fm_form.less");


// page section local styles
@import url("inc/admin_page_gallerysection.less");
@import url("inc/admin_page_photosection.less");
//@import url("inc/admin_page_sitepagesection.less");
//@import url("inc/admin_page_theme_center.less");
@import url("inc/admin_page_sell.less");
//@import url("inc/admin_page_accounts.less");

// submenu
@import url("inc/sub_submenu.less");
