#billing_address_container, #shipping_address_container, #create_account, #final_payment_info, #billing_address_summary, #shipping_address_summary {
	margin-top: 30px;
	outline: 1px solid black;
	padding: 20px;
	label {
		display: inline-block;
		vertical-align: top;
		width: 100px;
		text-align: right;
		margin-right: 10px;
	}
	.input, .select {
		margin-bottom: 10px;
	}
	.state {
		display: none;
	}


	.shipping_data_cont {
		display: none;
	}
}
.no_label {
	margin-top: 20px;
	float: right;
}


#forgot_your_password_container {
	#forgot_password_link {
		cursor: pointer;
	}
	margin-top: 10px;
	.step_1 {
		display: block;
	}
	.step_2 {
		display: none;
	}
}