//colors for all
@white: #ffffff;
@black: #000000;
@bg_color_cart: #3b3b3b;
@bg_color_cart_header: #878585;
@button_color: rgba(0,0,0,1);
@button_bg: #ffffff;
@boxshadow_button: rgba(0,0,0,0.2);
@button_hover: rgba(40,40,40,0.7);

@error_red: #FF4336;
@tab2_on_color: #2ac0de;
@warning_tan: #E88A35;


// libraries
@import url("new_inc/libraries/icomoon.less");



//////////////////////////////////////////////////////////////
// forgot address
//--------------------------------------------
#forgot_your_password_container {
	#forgot_password_link {
		cursor: pointer;
	}
	margin-top: 10px;
	.step_1 {
		display: block;
	}
	.step_2 {
		display: none;
	}
}



////////////////////////////////////////////////////////////////////////////////////////
// Global Footer tagline
//--------------------------------------------------------------
#footer_tagline {
	margin-top: 30px;
	font-size: 14px;
	line-height: 30px;
	border: 1px solid transparent;
	text-align: center;
	.footer_tagline_container_outer {
		position: relative;
		margin-bottom: 50px;
		.footer_tagline_container_inner {
			position: relative;
			.copyright_container, .mdash, .powered_by {
				display: inline-block;
				vertical-align: top;
			}
			.mdash { margin-left: 8px; margin-right: 8px; }
			.powered_by {
				margin-top: 10px;
				font-weight: bold;
				span {
					display: inline-block;
					vertical-align: top;
					margin-right: 15px;
				}
				a {
					display: inline-block;
					vertical-align: top;
					height: 30px;
					text-decoration: none;
					color: #333;
					cursor: pointer;
					span.text_replacement { position: absolute; text-indent: -9999px; }
					.fotomatter_logo {
						height: 30px;
					}
				}
			}
		}
	}
}


/*======================== Shopping cart ========================*/


// Global flash message styles
@flash_font_size: 14px;
.flashMessage {
	margin-top: 20px;
	margin-bottom: 20px;
	vertical-align: top;
	padding-left: 15px;
	i {
		vertical-align: top;
		font-size: @flash_font_size;
		line-height: @flash_font_size;
	}
	span {
		vertical-align: top;
		margin: 0 0 0 8px;
		max-width: 82%;
		display: inline-block;
		line-height: 20px;
	}
	&.error i { color: @error_red; }
	&.success i { color: @tab2_on_color; }
	&.warning i { color: @warning_tan; }
}


// Global checkout_login_or_guest page
#checkout_as_guest_button {
	cursor: pointer;
	margin-top: 20px;
}
#login_container, #billing_address_container, #shipping_address_container, #create_account, #final_payment_info, #billing_address_summary, #shipping_address_summary, #order_summary_container, #thankyou_page_container {
	hr { margin-bottom: 20px; margin-top: 20px; }
	h1 {
		margin-top: 0px;
		padding: 0px;
		font-size: 20px;
		margin-bottom: 20px;
	}
	.flashMessage { padding-left: 130px; }
	margin-top: 20px;
	input, button, select {
		min-width: 200px;
		height: 20px;
	}
	select {
		height: 25px;
	}
	label {
		display: inline-block;
		vertical-align: top;
		width: 140px;
		text-align: right;
		margin-right: 10px;
		line-height: 22px;
	}
	.input, .select { margin-bottom: 15px; }
	.submit, .step_1 { padding-left: 153px; margin-top: 20px; }
	.submit { 
		margin-bottom: 20px; 
		> input { cursor: pointer; } 
	}
	.state { display: none; }
	#forgot_your_password_container .input { margin-bottom: 25px; }
	margin-bottom: 80px;
}
#create_account, #final_payment_info {
	.card_expiration select {
		min-width: 0px;
	}
}
#create_account, #final_payment_info, #order_summary_container #cart_table  { margin-bottom: 0px; }
#shipping_address_container {
	.shipping_data_cont {
		margin-bottom: 50px;
	}
}


// global submit button 
.submit_button {
	cursor: pointer;
	height: 30px;
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	background-color: #ffffff;
	.content {
		display: inline-block;
		vertical-align: top;
		line-height: 30px;
		font-size: 14px;
		margin-left: 15px;
		margin-right: 15px;
	}
	&:hover {
		background-color: @black;
		color: #ffffff;
	}
	&.final_checkout_button {
		height: 35px;
		.content {
			line-height: 35px;
			font-size: 16px;
			margin-left: 20px;
			margin-right: 20px;
			font-weight: bold;
		}
	}
}


// global add to cart buttons
#add_to_cart_buttons_cont {
	select {
		margin-right: 7px;
		margin-left: 7px;
		height: 34px;
		font-size: 14px;
	}
	button { cursor: pointer; }
	#add_to_cart_buttons_inner_cont {
		margin-left: 20px;
		h1 { font-size: 20px; margin-bottom: 10px; }
		h2 { font-size: 18px; }
		form, h2 {
			margin-left: 15px;
		}
	}
}


// Global shopping cart page
#cart_table {
	margin-bottom: 120px;
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
	thead {
		background-color:  @white;//@bg_color_cart_header;
		color: @black;//@white;
		border: 1px solid @black;
		font-weight: 600;
		text-align: center;
		.last {
			border-right: 1px solid @black;
		}
		th {
			height: 27px;
		}
	}
	tbody {
		background-color: @white;//@bg_color_cart;
		border: 1px solid @black;
		tr {
			border-bottom: 1px solid @black;
			td {
				border-right: 1px solid @black;
				text-align: center;
				vertical-align: middle;
				color: @black;//@white;
				img {
					margin-top: 10px;
					margin-bottom: 10px;
					border: 1px solid @black;
				}
				&.qty input { width: 30px; text-align: right; }
				&.delete {
					text-align: center;
					width: 70px;
					.icon-trash-01 {
						font-size: 20px;
						color: @black;
					}
				}
				#cart_photo_item_data_container {
					margin-bottom: 8px;
					h2 {
						font-size: 14px;
						padding: 0px;
						margin: 0px;
					}
					span {
						font-size: 13px;
						padding: 0px;
						margin: 0px;
					}
				}
			}
		}
	}
	tfoot {
		line-height: 25px;
		td {
			padding-top: 10px;
			.submit_button {
				margin-top: 15px;
			}
			.price_summary_item {
				display: inline-block;
				vertical-align: top;
				min-width: 70px;
				margin-left: 10px;
			}
			.cart_total {
				font-weight: bold;
			}
		}
	}
}

/*============  Payment tables =============*/

