//colors for all
@white: #ffffff;
@black: #000000;
@bg_color_cart: #3b3b3b;
@bg_color_cart_header: #878585;
@button_border: #8c8c8c;
@button_color: rgba(0,0,0,1);
@button_bg: rgba(140,140,140,1);
@boxshadow_button: rgba(0,0,0,0.2);
@button_hover: rgba(40,40,40,0.7);


#billing_address_container, #shipping_address_container, #create_account, #final_payment_info, #billing_address_summary, #shipping_address_summary {
	margin-top: 30px;
    outline: 1px solid black;
    padding: 20px;
    label {
        display: inline-block;
        vertical-align: top;
        width: 100px;
        text-align: right;
        margin-right: 10px;
    }
    .input, .select {
        margin-bottom: 10px;
    }
    .state {
        display: none;
    }
	outline: 1px solid black;
	padding: 20px;
	label {
		display: inline-block;
		vertical-align: top;
		width: 100px;
		text-align: right;
		margin-right: 10px;
	}
	.input, .select {
		margin-bottom: 10px;
	}
	.state {
		display: none;
	}
}
.no_label {
	margin-top: 20px;
	float: right;
}


#forgot_your_password_container {
	#forgot_password_link {
		cursor: pointer;
	}
	margin-top: 10px;
	.step_1 {
		display: block;
	}
	.step_2 {
		display: none;
	}
}


#footer_tagline {
	margin-top: 30px;
	font-size: 13px;
	line-height: 30px;
	border: 1px solid transparent;
	.footer_tagline_container_outer {
		display: inline-block;
		position: relative;
		left: 50%;
		margin-bottom: 50px;
		.footer_tagline_container_inner {
			position: relative;
			left: -50%;
			.copyright_container, .mdash, .powered_by {
				display: inline-block;
				vertical-align: top;
			}
			.mdash { margin-left: 8px; margin-right: 8px; }
			.powered_by {
				font-weight: bold;
				a {
					text-decoration: none;
					color: #333;
					cursor: pointer;
					span { position: absolute; text-indent: -9999px; }
					.fotomatter_logo {
						height: 30px;
					}
				}
			}
		}
	}
}


// Shopping cart 

#cart_table {
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
	thead {
		background-color: @bg_color_cart_header;
		color: @white;
		border: 1px solid @black;
		font-weight: 600;
		text-align: center;
		.last {
			border-right: 1px solid @black;
		}
	}
	tbody {
		background-color: @bg_color_cart;
		border: 1px solid @black;
		tr {
			border-bottom: 1px solid @black;
			td {
				border-right: 1px solid @black;
				text-align: center;
				vertical-align: middle;
				color: @white;
				img {
					margin-top: 10px;
					margin-bottom: 10px;
					border: 1px solid @black;
				}
			}
		}
	}
	tfoot {
		line-height: 25px;
		td {
			padding-top: 10px;
		}
		button {
			display: inline-block;
			.box-sizing(content-box);
			cursor: pointer;
			padding: 10px 20px;
			border: 1px solid @button_border;
			color: @button_color;
			-o-text-overflow: clip;
			text-overflow: clip;
			background: @button_bg;
			box-shadow: 2px 2px 2px 0 @boxshadow_button;
			&:hover { border: 1px solid @button_hover;}
		}
	}
}