@font-face {
  font-family: 'Nexa Bold';
  src: url('/fonts/nexa_bold/Nexa_Free_Bold-webfont.eot');
  src: url('/fonts/nexa_bold/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/nexa_bold/Nexa_Free_Bold-webfont.woff') format('woff'), url('/fonts/nexa_bold/Nexa_Free_Bold-webfont.ttf') format('truetype'), url('/fonts/nexa_bold/Nexa_Free_Bold-webfont.svg#wf') format('svg');
}
@font-face {
  font-family: 'Museo-500';
  src: url('/fonts/museo_500/Museo500-Regular-webfont.eot');
  src: url('/fonts/museo_500/Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/museo_500/Museo500-Regular-webfont.woff') format('woff'), url('/fonts/museo_500/Museo500-Regular-webfont.ttf') format('truetype'), url('/fonts/museo_500/Museo500-Regular-webfont.svg#wf') format('svg');
}
@font-face {
  font-family: 'Museo-300';
  src: url('/fonts/museo_300/Museo300-Regular-webfont.eot');
  src: url('/fonts/museo_300/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/museo_300/Museo300-Regular-webfont.woff') format('woff'), url('/fonts/museo_300/Museo300-Regular-webfont.ttf') format('truetype'), url('/fonts/museo_300/Museo300-Regular-webfont.svg#wf') format('svg');
}
body {
  background-image: url(http://www.bobdentphotography.com/images/graphics/bkg.jpg);
  background-repeat: no-repeat;
  background-color: #c1c1c1;
  background-position: 0% 0%;
  font-family: 'Actor', sans-serif;
}
body .content #logo_cont {
  position: relative;
}
body .content #mainName {
  position: absolute;
}
body .content .outer_nav .nav #main_nav {
  font-size: 12px;
  text-transform: lowercase;
  line-height: 24px;
  text-align: right;
  margin: 150px 26px 0 0;
  width: 190px;
  float: left;
  color: #959595;
}
body .content .outer_nav .nav #main_nav ul {
  list-style-type: none;
}
body .content .outer_nav .nav #main_nav ul li a {
  color: #959595;
  text-decoration: none;
}
body .content .outer_nav .nav #main_nav ul li a:hover {
  color: #ffffff;
}
.welcome_paragraph {
  font-family: 'Actor', sans-serif;
  position: relative;
  top: 20px;
  left: 240px;
  width: 700px;
  font-size: 13px;
}
#landing_slide_show_container {
  right: 6px;
}
h1 {
  font-size: 14px;
  line-height: 18px;
  margin-top: 40px;
  margin-left: 247px;
}
#gallery_list_table {
  margin-left: 220px;
  margin-top: 15px;
  width: 280px;
}
#gallery_list_table .galleries {
  margin-left: 70px;
  margin-bottom: 30px;
  text-align: center;
}
#gallery_list_table .galleries .gallery_image_a_link .gallery_image_actual_image {
  background-color: white;
  padding: 8px;
}
#gallery_list_table .galleriesLink {
  font-size: 14px;
  overflow: hidden;
  height: 34px;
}
#gallery_list_table .galleriesLink a {
  text-decoration: none;
  color: black;
}
#gallery_list_table .galleriesLink a:hover {
  color: white;
}
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 154px !important;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0,0,0,0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 23px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(20%,#ffffff),color-stop(50%,#f6f6f6),color-stop(52%,#eeeeee),color-stop(100%,#f4f4f4));
  background: -webkit-linear-gradient(top,#ffffff 20%,#f6f6f6 50%,#eeeeee 52%,#f4f4f4 100%);
  background: -moz-linear-gradient(top,#ffffff 20%,#f6f6f6 50%,#eeeeee 52%,#f4f4f4 100%);
  background: -o-linear-gradient(top,#ffffff 20%,#f6f6f6 50%,#eeeeee 52%,#f4f4f4 100%);
  background: linear-gradient(top,#ffffff 20%,#f6f6f6 50%,#eeeeee 52%,#f4f4f4 100%);
  background-clip: padding-box;
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0,0,0,0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}
.chosen-container-single .chosen-default {
  color: #999;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('chosen-sprite.png') no-repeat 0px 2px;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: white url('chosen-sprite.png') no-repeat 100% -20px;
  background: url('chosen-sprite.png') no-repeat 100% -20px, -webkit-gradient(linear,50% 0%,50% 100%,color-stop(1%,#eeeeee),color-stop(15%,#ffffff));
  background: url('chosen-sprite.png') no-repeat 100% -20px, -webkit-linear-gradient(#eeeeee 1%,#ffffff 15%);
  background: url('chosen-sprite.png') no-repeat 100% -20px, -moz-linear-gradient(#eeeeee 1%,#ffffff 15%);
  background: url('chosen-sprite.png') no-repeat 100% -20px, -o-linear-gradient(#eeeeee 1%,#ffffff 15%);
  background: url('chosen-sprite.png') no-repeat 100% -20px, linear-gradient(#eeeeee 1%,#ffffff 15%);
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}
.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(20%,#3875d7),color-stop(90%,#2a62bc));
  background-image: -webkit-linear-gradient(#3875d7 20%,#2a62bc 90%);
  background-image: -moz-linear-gradient(#3875d7 20%,#2a62bc 90%);
  background-image: -o-linear-gradient(#3875d7 20%,#2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%,#2a62bc 90%);
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(1%,#eeeeee),color-stop(15%,#ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%,#ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%,#ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%,#ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%,#ffffff 15%);
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 5px;
  height: 15px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #666;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-field .default {
  color: #999;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),color-stop(100%,#eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eeeeee 100%);
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0,0,0,0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),color-stop(100%,#eeeeee));
  background-image: -webkit-linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eeeeee 100%);
  background-image: -moz-linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eeeeee 100%);
  background-image: -o-linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eeeeee 100%);
  background-image: linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eeeeee 100%);
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(20%,#eeeeee),color-stop(80%,#ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 20%,#ffffff 80%);
  background-image: -moz-linear-gradient(#eeeeee 20%,#ffffff 80%);
  background-image: -o-linear-gradient(#eeeeee 20%,#ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%,#ffffff 80%);
  box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #111 !important;
}
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url('chosen-sprite.png') no-repeat -30px -20px;
  background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear,50% 0%,50% 100%,color-stop(1%,#eeeeee),color-stop(15%,#ffffff));
  background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%,#ffffff 15%);
  background: url('chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient(#eeeeee 1%,#ffffff 15%);
  background: url('chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%,#ffffff 15%);
  background: url('chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%,#ffffff 15%);
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('chosen-sprite@2x.png') !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
#add_to_cart_buttons_cont:after {
  clear: both;
  display: block;
  height: 0;
  content: " 0020";
  overflow: hidden;
  visibility: hidden;
}
#add_to_cart_buttons_cont .print_type_outer_cont {
  margin: 32px 0 15px;
}
#add_to_cart_buttons_cont .print_type_outer_cont h2 {
  font-size: 14px;
  margin: 5px 0;
}
.guest_button {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}
.guest_button button {
  cursor: pointer;
}
#cart .page-content {
  margin: auto;
  width: 80%;
}
#cart .page-content table {
  width: 100%;
  margin: 10px;
}
#cart .page-content table tbody td.image img {
  border: 1px solid black;
}
#cart .page-content table tfoot tr td {
  padding: 5px 25px 5px;
  line-height: 150%;
}
#cart .page-content table td {
  text-align: center;
  padding: 2px 0;
}
#cart .page-content button#standard_checkout_button {
  margin: 10px 0;
}
.black_box {
  background-color: #000000;
  color: ;
  text-align: center;
  padding: 5px;
  margin-top: -20px;
}
.black_box h1 {
  max-width: 1080px;
  margin: 0 auto;
}
#gray_spacing_bar {
  border-bottom: 2px solid ;
  position: relative;
  top: -32px;
}
#shipping_address_container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}
#shipping_address_container label {
  margin-top: 5px;
}
.no_label {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
#footer {
  margin-top: 60px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
input[type="submit"] {
  padding: 7px;
  width: 103px;
}
input[type=text],
textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: 1px solid ;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid ;
}
input[type=text]:focus,
textarea:focus {
  box-shadow: 0 0 5px black;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid black;
}
input[type="password"] {
  border: 1px solid ;
  margin: 5px 1px 3px 0;
  outline: 1px solid ;
  padding: 3px 0 3px 3px;
  transition: all 0.3s ease-in-out 0s;
}
input[type="password"]:focus,
textarea:focus {
  box-shadow: 0 0 5px black;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid black;
}
select {
  width: 180px;
  margin-top: 5px;
}
select:focus {
  outline: 1px solid #000000;
}
#gray_border_bottom {
  background-image: url("/img/border_bottom.png");
  height: 21px;
  margin-bottom: 19px;
}
#login_container {
  margin-top: 30px;
  padding: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
#login_container label {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}
#login_container .input {
  margin-bottom: 10px;
}
#login_container .submit {
  padding-left: 114px;
}
#title_name h1 {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 2px;
}
#title_name h1 span {
  font-size: 12px;
}
#shipping_address_summary {
  outline: none;
}
#shipping_address_summary h1 {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 2px;
}
#shipping_address_summary h1 a {
  color: ;
  font-size: 12px;
  text-decoration: none;
}
#shipping_address_summary h1 a:hover {
  cursor: pointer;
  color: ;
}
#shipping_address_summary #shipping_address_output {
  width: 170px;
  margin-right: auto;
  margin-left: auto;
}
#final_payment_info {
  outline: none;
}
#final_payment_info .address_cont {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
#custom-page {
  margin: auto;
  width: 80%;
}
#custom-page .page-content img.left {
  border: 4px solid #000000;
  margin: 0 45px 25px 0;
}
#custom-page .page-content img.right {
  border: 4px solid #000000;
  margin: 0 0 25px 45px;
}
#custom-page .page-content .site_element {
  border-bottom: 1px solid ;
}
body {
  padding: 0;
  margin: 0;
}
#image_slider_progressbar {
  position: absolute;
  top: 300px;
  left: 50%;
  width: 650px;
  height: 30px;
  margin: 0px;
  margin-left: -325px;
  outline: 1px solid #595959;
  z-index: 1001;
}
#image_slider_progressbar .ui-progressbar-value {
  height: 100%;
  background-color: #595959;
}
button {
  background: none #000;
  padding: 10px 40px;
  color: #fff;
  border: none;
  font-weight: bold;
}
