#welcome_page_container {
	#help_tour_button { display: none; }
	.progress_bar_global_fixes();
	#site_building_message {
		text-align: center;
		margin-bottom: 0px;
	}
	#site_building_progress {
		margin-top: 35px;
	}
	&.wider {
		.generic_palette_container {
			max-width: 800px;
		}
	}
}