.vertical_gradient(@top_color, @bottom_color) {
	background-color: @top_color;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, @top_color),
		color-stop(1, @bottom_color)
	);
	background-image: -o-linear-gradient(bottom, @top_color 0%, @bottom_color 100%);
	background-image: -moz-linear-gradient(bottom, @top_color 0%, @bottom_color 100%);
	background-image: -webkit-linear-gradient(bottom, @top_color 0%, @bottom_color 100%);
	background-image: -ms-linear-gradient(bottom, @top_color 0%, @bottom_color 100%);
	background-image: linear-gradient(to bottom, @top_color 0%, @bottom_color 100%);
}

.bottom_right_triangle(@size, @color) {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: @size 0 0 @size;
	border-color: transparent transparent transparent @color;
}
.top_right_triangle(@size, @color) {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 @size @size 0;
	border-color: transparent @color transparent transparent;
}

.el_opacity(@opacity, @ms_opacity) {
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ms_opacity})";
	/* IE 5-7 */
	//filter: alpha(opacity=@ms_opacity);
	/* Netscape */
	-moz-opacity: @opacity;
	/* Safari 1.x */
	-khtml-opacity: @opacity;
	/* Good browsers */
	opacity: @opacity;
}