.default_modal_background {
	background: @off_black;
	background-color: @off_black;
	.el_opacity(.95, 95);
	
	background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,@overlay_radial_start_opacity) 0,rgba(0,0,0,@overlay_radial_end_opacity) 100%);
	background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,@overlay_radial_start_opacity)),color-stop(100%,rgba(0,0,0,@overlay_radial_end_opacity)));
	background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,@overlay_radial_start_opacity) 0,rgba(0,0,0,@overlay_radial_end_opacity) 100%);
	background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,@overlay_radial_start_opacity) 0,rgba(0,0,0,@overlay_radial_end_opacity) 100%);
	background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,@overlay_radial_start_opacity) 0,rgba(0,0,0,@overlay_radial_end_opacity) 100%);
	background: radial-gradient(center,ellipse cover,rgba(0,0,0,@overlay_radial_start_opacity) 0,rgba(0,0,0,@overlay_radial_end_opacity) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#e6000000',GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}


.icomoon_include {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#universal_save_popup, #universal_load_popup {
	.Code-Pro-Bold-LC;
	display: none;
	position: fixed;
	bottom: 0px;
	left: 0px;
	vertical-align: top;
	height: @button_height;
	border-top: 1px solid @button_border;
	font-size: 20px;
	background-color: @off_black + @button_bg_increase;
	width: 100%;
	text-align: center;
	&, a { color: @white };
	.content {
		border-top: 1px solid transparent;
		display: inline-block;
		vertical-align: top;
		margin-top: 10px;
		&, a { color: @white };
	}
	z-index: @header;
}

.vertical_gradient(@top_color, @bottom_color) {
	background-color: @top_color;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, @top_color),
		color-stop(1, @bottom_color)
	);
	background-image: -o-linear-gradient(bottom, @top_color 0%, @bottom_color 100%);
	background-image: -moz-linear-gradient(bottom, @top_color 0%, @bottom_color 100%);
	background-image: -webkit-linear-gradient(bottom, @top_color 0%, @bottom_color 100%);
	background-image: -ms-linear-gradient(bottom, @top_color 0%, @bottom_color 100%);
	background-image: linear-gradient(to bottom, @top_color 0%, @bottom_color 100%);
}

.bottom_right_triangle(@size, @color) {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: @size 0 0 @size;
	border-color: transparent transparent transparent @color;
}
.top_right_triangle(@size, @color) {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 @size @size 0;
	border-color: transparent @color transparent transparent;
}

.right_facing_triangle(@size, @color) {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 0 10px 11px;
	border-color: transparent transparent transparent @color;
}
.up_facing_triangle(@size, @color) {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 7px 6px 7px;
	border-color: transparent transparent @color transparent;
}
.down_facing_triangle(@size, @color) {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 6px 7px 0 7px;
	border-color: @color transparent transparent transparent;
}

// .2, 20
.el_opacity(@opacity, @ms_opacity) {
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ms_opacity})";
	/* IE 5-7 */
	//filter: alpha(opacity=@ms_opacity);
	/* Netscape */
	-moz-opacity: @opacity;
	/* Safari 1.x */
	-khtml-opacity: @opacity;
	/* Good browsers */
	opacity: @opacity;
}

.universal_safe_hide() {
	position: fixed;
	left: -500px;
}

////////////////////////////////////////
// generic page container
.page_content_header {
	.Code-Pro-LC;
	font-size: 24px;
	background: @body_content_top_bg;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	min-height: 63px;
	&, p, h1, h2 {
		color: @gray_text;
	}
	h2 { padding: 20px; margin-bottom: 0px; }
	&.generic_basic_settings {
		> p {
			padding-top: 20px;
			margin-left: 20px;
		}
	}
}
.fade_background_top {
	position: absolute;
	bottom: 802px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: @top_white;
	.el_opacity(.04, 4);
	z-index: @background;
}
.page_content_container() {
	background: url(/img/admin/general/box_transparent_bg_bottom.png) bottom left repeat-x;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	overflow: hidden;
	//width: @body_content_width;
	z-index: @content;
	.fade_background_top {
		position: absolute;
		bottom: 802px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: @top_white;
		.el_opacity(.04, 4);
		z-index: @background;
	}
	.table_top {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 105px;
		width: 100%;
		background: @body_content_top_bg;
		z-index: @background;
	}
}

.td_inner(@color) {
	.td_inner {
		height: 100%;
		border-top: 1px solid @color;
		border-bottom: 1px solid @color;
	}
	&.first .td_inner { border-left: 1px solid @color; }
	&.last .td_inner { border-right: 1px solid @color; }
}

.sub_nav_generic() {
	position: fixed;
	top: 150px;
	left: 60px;
	z-index: @content;
}

.sub_nav_li_reusable() {
	.subnav_bg {
		position: absolute;
		background-color: @sub_menu_bg_color;
		.el_opacity(.6, 60);
		height: @sub_nav_item_height;
		width: @sub_nav_width;
		z-index: -5;
	}
	position: relative;
	display: block;
	height: @sub_nav_item_height;
	width: @sub_nav_width;
	margin-bottom: 2px;
	table {
		width: 100%;
		height: 100%;
		td { 
			&, a, div, p {
				color: @sub_menu_off_color;
			}
			vertical-align: middle; 
			text-align: left;
			&.first {
				width: @sub_nav_mobile_width;
				text-align: center;
			}
			&.second {
				height: 100%;
				padding-right: 15px;
				line-height: 16px;
			}
			&.third {
				width: 25px;
				text-align: middle;
			}
			i {
				vertical-align: middle;
				font-size: 22px;
			}
			.circle {
				display: none;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: @tab2_on_color;
			}
		}
	}
	a {
		cursor: pointer;
		height: 100%;
		width: 100%;
		//padding-top: 25px;
		.Code-Pro-LC;
		font-size: 13px;
		vertical-align: middle;
		text-decoration: none;
		div {
			outline: 1px solid transparent;
			height: @sub_nav_item_height; 
			width: 100%; 
			> p {
				display: table-cell; 
				height: @sub_nav_item_height;
				vertical-align: middle;
			}
		}
	}
	&:hover {
		td {
			&, a, div, p {
				color: @top_white;
			}
		}
	}
	&.selected {
		.circle {
			display: inline-block;
		}
		td {
			&, a, div, p {
				color: @top_white;
			}
		}
	}
}