// main vars
@header_height: 94px;

// main colors
@top_white: #f4f9f5;
@top_gray: #cececf;
@content_bg_color: #0d0d0e;

// menu colors
@menu_height: 43px;
@menu_width: 184px;
@menu_active_width: @menu_width;
@dashboard_off: #51595d;
@tab_on_bottom: #2c2e30;

// tab 2
@tab2_top: #373633;
@tab2_bottom: #484745;
@tab2_on_color: #2ac0de;
// tab 3
@tab3_top: #2e2d2a;
@tab3_bottom: #3e3d3b;
// tab 4
@tab4_top: #302f2d;
@tab4_bottom: #3e3d3b;
// tab 5
@tab5_top: #302c2d;
@tab5_bottom: #3c3839;
// tab 6
@tab6_top: #292526;
@tab6_bottom: #343132;

@last_tab_shorter: 0px;

// z-index
@header: 100;
@content: 50;
@background: 1;