// main vars
@header_height: 94px;

// main colors
@top_white: #f4f9f5;
@top_gray: #cececf;
@content_bg_color: #0d0d0e;

// menu colors
@menu_height: 43px;
@tab_height: @menu_height + 2px;
@menu_width: 184px;
@menu_active_width: @menu_width;
@tab_on_bottom: #2c2e30;

@hover_brightness_change: 8;
// tab 1
@dashboard_off: #51595d;
@dashboard_off_hover: #51595d + @hover_brightness_change;
@tab1_on_color: orange;
// tab 2
@tab2_top: #373633;
@tab2_bottom: #484745;
@tab2_top_hover: @tab2_top + @hover_brightness_change;
@tab2_bottom_hover: @tab2_bottom + @hover_brightness_change;
@tab2_on_color: #2ac0de;
// tab 3
@tab3_top: #2e2d2a;
@tab3_bottom: #3e3d3b;
@tab3_top_hover: @tab3_top + @hover_brightness_change;
@tab3_bottom_hover: @tab3_bottom + @hover_brightness_change;
@tab3_on_color: red;
// tab 4
@tab4_top: #302f2d;
@tab4_bottom: #3e3d3b;
@tab4_top_hover: @tab4_top + @hover_brightness_change;
@tab4_bottom_hover: @tab4_bottom + @hover_brightness_change;
@tab4_on_color: green;
// tab 5
@tab5_top: #302c2d;
@tab5_bottom: #3c3839;
@tab5_top_hover: @tab5_top + @hover_brightness_change;
@tab5_bottom_hover: @tab5_bottom + @hover_brightness_change;
@tab5_on_color: yellow;
// tab 6
@tab6_top: #292526;
@tab6_bottom: #343132;
@tab6_top_hover: @tab6_top + @hover_brightness_change;
@tab6_bottom_hover: @tab6_bottom + @hover_brightness_change;
@tab6_on_color: purple;

@last_tab_shorter: 0px;

// z-index
@header: 100;
@content: 50;
@background: 1;