<IfModule mod_rewrite.c>
    #php_value upload_max_filesize 50M	    
    #php_value post_max_size 50M
  
   #RewriteEngine On
    #RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
