
#cart_table {
	color: @black;
	width: 100%;
	height: auto;
	border-collapse: collapse;
	margin-top: 30px;
	text-align: center;
	thead{

		tr{
			th{
				border-bottom: 1px solid @gray;
				border-top: 1px solid @title;
				&.total{
					border-right: 1px solid @gray;
					background-color: @title;
				}
				&.image{
					border-left: 1px solid@gray;
					background-color: @title;

				}
				&.price{
					background-color: @title;

				}
				&.qty{
					background-color: @title;

				}

			}
		}
	}
	tbody{
		border-bottom: 1px solid @gray;
		background-color: @white;
		tr{
			td{

				&.total{
					border-right: 1px solid @gray;
					border-left: 1px solid @gray;
					border-bottom: 1px solid @gray;
				}
				&.image{
					border-left: 1px solid @gray;
					padding-top: 5px;
					padding-bottom: 5px;
					margin-top: 12px;
					border: 1px solid @gray;
					height: 100px;
					img{
						border: 1px solid @black;
						float: left;
						margin-left: 10px;
						margin-bottom: 5px;
						margin-top: 5px;
					}
				}
				&.price{
					border-left: 1px solid @gray;
					border-bottom: 1px solid @gray;

				}
				&.qty{
					border-left: 1px solid @gray;
					border-bottom: 1px solid @gray;

				}
			}
		}
	}
	tfoot{
		color: @white;
		tr{
			td{	
				padding-top: 10px;	
				padding-bottom: 40px;	
				padding-right: 40px;
				line-height: 25px;

				button{
					margin-top:20px;
					border: 1px solid #32373b;
					background-color: @button;
					height: 40px;
					padding-left: 15px;
					padding-right: 15px;
					font-size: 15px;
					color: @header;
					&:hover{
						cursor: pointer;
						background-color: @red;
						color: @white;
					}
				}
			}
		}
	}
}




