#cart_table {
	thead {
		background-color: @dark_grey !important;
		color: @white !important;
	}
	tbody {
		background-color: @gray !important;
		tr {
			td {
				color: @white !important;
			}
		}
	}
	tfoot{
		button{
			background-color: @button;
			border: 1px solid @button;
			color: @light_gray !important;
			font-size: 18px;
			padding: 7px 15px !important;
			&:hover{
				color: @white;
				background-color: @button_hover;
			}
		}
	}
}