
// Theme colors
@black: #000000;
@white: #ffffff;
@gray: #666666;
@dark_grey: #555555;
@red: #cc0000;
@blue: #0000cc;
@button: #333333;
@header: #999999;
@title: #cccccc;
@showdow: rgba(0,0,0,0.2);
@dark_gray: #32373b;
@border: #cc0000;



// NAV COLORS
@red: #cc3333;
@light_gray: #999999;
@shadow: #333333;


// Theme accent colors
//red
//blue
@yellow: #ffff00;
@pink: #ff0099;