
// Theme colors
@black: #000000;
@white: #ffffff;
@gray: #666666;
@dark_grey: #555555;


// H1
@header: #999999;

//H1 border 
@border: #cc0000;



// NAV COLORS
@red: #cc3333;
@light_gray: #999999;
@shadow: #333333;
