.content{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	outline: 1px solid red;
	.outer_nav{
			position: relative;
			min-width: 1000px;
			background: url(/img/nav-bar.png) repeat-x; 
			color: @white;
			height: 84px;
			//right: 0px;
			//outline: 1px solid red;
		.nav{
			position: relative;
			margin-left: auto;
			margin-right: auto;
			top: -155px;
			height: 30px;
			width: 700px;
			outline: 1px solid red;
			#main_nav{
				float: right;
				li{
					display: inline-block;
					list-style-type: none;
					margin-right: 38px;
					a{
						color: @white;
						text-decoration: none;
						&:hover{
							color: @red;
						}
					}
				}
			}	
		}
	}	
}
