.content{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	.outer_nav{
			position: relative;
			min-width: 1000px;
			background: url(img/nav_bar.png) repeat-x; 
			color: @white;
			height: 84px;
		.nav{
			position: relative;
			top: -141px;
			width: 700px;
			//height: 20px;
			outline: 1px solid red;
			#main_nav{
				float: right;
				li{
					display: inline-block;
					margin-right: 38px;
					a{
						color: @white;
						text-decoration: none;
						&:hover{
							color: @red;
						}
					}
				}
			}	
		}
	}	
}
