.content{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	//outline: 1px solid red;
	.outer_nav{
			position: relative;
			min-width: 1000px;
			background: url(/img/nav-bar.png) repeat-x; 
			color: @white;
			height: 84px;
			//right: 0px;
			//outline: 1px solid red;
		.nav{
			position: relative;
			margin-left: 600px;
			margin-right: auto;
			bottom: 35px;
			height: auto;
			width: auto;
			//outline: 1px solid red;
			white-space: nowrap;
			#main_nav{
				//float: right;
				li{
					display: inline-block;
					list-style-type: none;
					margin-right: 38px;
					a{
						color: @white;
						text-decoration: none;
						&:hover{
							color: @red;
						}
					}
				}
			}	
		}
	}	
}

/*.nav li:hover ul {
display: block;
padding-top: 12px;
padding-bottom: 12px;
-moz-box-shadow: 2px 2px 2px #333;
-webkit-box-shadow: 2px 2px 2px #333;
box-shadow: 2px 2px 2px #333;

.nav li ul {
background-color: #FFF;
display: none;
height: auto;
padding: 0px;
margin: 0px;
border: 0px;
position: absolute;
z-index: 200;

.nav ul {
list-style: none;*/