.bottom_margin{
	margin-bottom: 100px;
	.background_photo{
		#create_account{
			outline: none;
			margin-top: 0px;
			border-bottom: 1px dotted @gray;
		}
		#final_payment_info{
			margin-top: 0px;
			outline: none;
			//border-bottom: 1px dotted @gray;
		}
		form{
			
			input{
				margin-top: 10px;
				margin-bottom: 10px;
				border: 1px solid @dark_gray;
				background-color: @button;
				height: 40px;
				padding-left: 15px;
				padding-right: 15px;
				font-size: 15px;
				color: @header;
				&:hover{
					cursor: pointer;
					background-color: @red;
					color: @white;
				}
			}
		}
	}
}