.sidebar{
    position: absolute;
    left: 28px;
    top: 168px;
    ul{
        padding: 20px;
        width: 230px;
            &, .dark_background{
                background: url(/img/background_content_bar.png)  repeat;
                margin-bottom: 0px; 
            }
            &, .separator{
               margin-top: 10px;
            }
            
        li{
            text-transform: uppercase;
            list-style-type: none;
            font-size: 30px;
            text-align: left;
			color: @white;  
            & a{
                color: @header;               
                text-decoration: none;
                a:hover{
                    color: @gray; 
                }
            }
        }
        .small_text_header{
            font-size: 24px; 
            margin-left: 5px; 
            padding-bottom: 10px; 
            margin-bottom: 5px; 
            line-height: 16px; 
            border-bottom: 1px dotted @gray; 
            color: @header;
        }
        .list_item{
            font-size: 12px;
            margin-left: 5px;
            line-height: 16px;
            border-bottom: 0px dotted @gray;
        }
    }
}


.right_sidebar{
    position: absolute;
    left: 1120px;
    top: 178px;
    ul {
        li {
            list-style-type: none;
            display: inline-block;
            vertical-align: top;
            overflow:hidden;
            width: 78px;
            height: 96px;
            a {
                width: 78px;
                height: 96px;
                display: block;
                background-image: url(/img/clear_arrows.png); 
                background-repeat: no-repeat;
                background-position: 0px 0px; 
            }
			&.red {
				&:hover {
				   background-color: @red;
				}
			}
			&.blue {
				&:hover {
				   background-color: @blue;
				}
			}
			&.yellow {
				&:hover {
				   background-color: @yellow;
				}
			}
			&.pink {
				&:hover {
				   background-color: @pink;
				}
			}
            &.first {
                a {
                    background-position: 0px 0px;
                }
            }
            &.last {
                a {
                    background-position: -78px 0px;
                }
            }
        }
    }
}

h1{
	text-align: left;
	padding-bottom: 10px;
	&.no_line{
		border-bottom: none;
		line-height: 0px;
		padding-bottom: 0px;
	}
}

.cart_ajustment{
	margin-left: 6px;
	&.blue button:hover { background-color: @blue; }
	&.pink button:hover { background-color: @pink; }
	&.yellow button:hover { background-color: @yellow; }
	&.red button:hover { background-color: @red; }
	h2{
		font-size: 18px;
		margin-top: 20px;
		margin-bottom: 7px;
		color: @header;
	}
	button{
		margin-top:20px;
		border: 1px solid #32373b;
		background-color: @button;
		height: 40px;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 15px;
		color: @header;
		&:hover{
			cursor: pointer;
			color: @white;
		}
	}
	select{
		padding-bottom: 5px;
		padding-top: 5px;
		
	}
}

.photo_description{
    width: 735px;
    height: auto;
    margin-left: 311px;
    margin-right: auto;
    padding:25px;
    padding-top:30px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:60px;
    margin-top:0px;
    margin-bottom:100px;
    background: url(/img/background_content_bar.png) repeat;
    li{
        text-transform: uppercase;
        list-style-type: none;
        font-size: 18px;
        text-align: left;
        color: @dark_grey;                
        text-decoration: none;
		& .text_change{
			text-transform: none;
			color: @header;
			font-size: 15px;
			
		}
    }
}

.background_photo{
    background: url(/img/background_content_bar.png) repeat;
    padding-top: 25px;
    width: 735px;
    height: auto;
    margin: 94px 0 70px 290px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    color: @dark_grey;
    position: relative;
    margin-left: 311px;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
	ul{
		color: @header;
		font-size: 15px;
		padding-bottom: 12px;
		margin-bottom: 12px;
		&.blue{border-bottom: 1px solid @blue;}
		&.red{border-bottom: 1px solid @red;}
		&.yellow{border-bottom: 1px solid @yellow;}
		&.pink{border-bottom: 1px solid @pink;}
		li{
			list-style-type: none;
			text-align: left;
		}
	}
	.gallery{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}